<script>
function autocomplete(inp,arr){
    var currentFocus;
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      closeAllLists();
      if (!val || (p_l<=0)) { return false;}
      currentFocus = -1;
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      this.parentNode.appendChild(a);
      for (i = 0; i < arr.length; i++) {
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          b = document.createElement("DIV");
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          b.addEventListener("click", function(e) {
              inp.value = this.getElementsByTagName("input")[0].value;
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40  && p_l>0) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }

  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}


    autocomplete(document.getElementById("editor_input_mob"),combined_detail)

    autocomplete(document.getElementById("editor_input_lap"),combined_detail)
function getedilocm()
{
    if(document.getElementById("editor_input_mob").value)
    {
        var val = document.getElementById("editor_input_mob").value;
    }
    else
    {
        var val = document.getElementById("editor_input_lap").value;
    }
  
}
function get_inpt_valz_edim(){
    var app_htm="";
var v;
if(document.getElementById("editor_input_mob").value)
{
  v=document.getElementById("editor_input_mob").value;
}
else
{
   v= document.getElementById("editor_input_lap").value;
}
$.ajax({
  type: "POST",
  url:"",
  data:{
    'action':'location',
    'loc':v,
     csrfmiddlewaretoken: '{{ csrf_token }}'
  },
  dataType: "JSON",
  success: function(context){
    document.getElementById("car_edi_mob").innerHTML=``;
    document.getElementById("car_edi_lap").innerHTML=``;
    var car_data=JSON.parse(context.loc_data)
    var c=0;
    console.log(car_data);


    var mq = window.matchMedia( "(max-width: 500px)" );
  if(mq.matches)
    {
      if(car_data.length<=0){
      var data = JSON.parse(context.queryset)

      for(var i=0;i<data.length;i++){

        if(i%1 == 0  && p_l>0){
        c=i
        if(i==0)
          var cls="active"
        else
          var cls=""
        var template=`
                  <div class="carousel-item ${cls}">
                    <div class="row" id="2final1${c}">
                    </div>
                  </div>`
        $("#car_edi_mob").append(template);
        }
        var slug=data[i]['fields']['slug']
       var url="{% url 'product:website_home_list' 0 %}".replace('0',slug);
       var img_url="{% url 'dashboard:seller_product_detail' 0  1 %}".replace('0',slug);
       img_url=img_url.replace('1',data[i]['pk'])
        var element = `<div class="col-12 col-sm-4 col-md-3">
                        <div class="product-item">
                            <div class="image imgcls">
                              <a href=${img_url} ><img src="/media/${data[i]['fields']['image1']}" alt="Image 4"> </a>
                            </div>
                            <a href=${img_url} ><div class="name" style="height:50px;">${data[i]['fields']['name']}</div></a>
                            
                            <a href=${url} class="btn btn-primary btn-block">Visit our store</a>
                        </div>
                      </div>`
        $("#2final1"+c).append(element)
      }
    }

    else{
        
    for(var i=0;i<car_data.length;i++){

      if(i%1 == 0  && p_l>0){
        c=i
        if(i==0)
          var cls="active"
        else
          var cls=""
        var template=`
                  <div class="carousel-item ${cls}">
                    <div class="row" id="2final1${c}">
                    </div>
                  </div>`
        $("#car_edi_mob").append(template);


      }
       var slug=car_data[i]['fields']['slug']
       var url="{% url 'product:website_home_list' 0 %}".replace('0',slug);
       var img_url="{% url 'dashboard:seller_product_detail' 0  1 %}".replace('0',slug);
       img_url=img_url.replace('1',car_data[i]['pk'])
        var element = `<div class="col-12 col-sm-4 col-md-3">
                  <div class="product-item">
                      <div class="image imgcls">
                        <a href=${img_url} ><img src="/media/${car_data[i]['fields']['image1']}" alt="Image 4"> </a>
                      </div>
                      <a href=${img_url} ><div class="name" style="height:50px;">${car_data[i]['fields']['name']}</div></a>
                      
                      <a href=${url} class="btn btn-primary btn-block">Visit our store</a>
                  </div>
                </div>`
  $("#2final1"+c).append(element)
      }
    }
    }
    else
    {
    if(car_data.length<=0){
      var data = JSON.parse(context.queryset)
      for(var i=0;i<data.length;i++){

        if(i%4 == 0  && p_l>0){
        c=i
        if(i==0)
          var cls="active"
        else
          var cls=""
        var template=`
                  <div class="carousel-item ${cls}">
                    <div class="row" id="2final${c}">
                    </div>
                  </div>`
        $("#car_edi_lap").append(template);
        }
        var slug=data[i]['fields']['slug']
       var url="{% url 'product:website_home_list' 0 %}".replace('0',slug);
       var img_url="{% url 'dashboard:seller_product_detail' 0  1 %}".replace('0',slug);
       img_url=img_url.replace('1',data[i]['pk'])
        var element = `<div class="col-12 col-sm-4 col-md-3">
                        <div class="product-item">
                            <div class="image imgcls">
                              <a href=${img_url} ><img src="/media/${data[i]['fields']['image1']}" alt="Image 4"> </a>
                            </div>
                            <a href=${img_url} ><div class="name" style="height:50px;">${data[i]['fields']['name']}</div></a>
                            
                            <a href=${url} class="btn btn-primary btn-block">Visit our store</a>
                        </div>
                      </div>`
        $("#2final"+c).append(element)
      }
    }
    else{
    for(var i=0;i<car_data.length;i++){

      if(i%4 == 0  && p_l>0){
        c=i
        if(i==0)
          var cls="active"
        else
          var cls=""
        var template=`
                  <div class="carousel-item ${cls}">
                    <div class="row" id="2final${c}">
                    </div>
                  </div>`
        $("#car_edi_lap").append(template);



      }
      var slug=car_data[i]['fields']['slug']
       var url="{% url 'product:website_home_list' 0 %}".replace('0',slug);
       var img_url="{% url 'dashboard:seller_product_detail' 0  1 %}".replace('0',slug);
       img_url=img_url.replace('1',car_data[i]['pk'])
      var element = `<div class="col-12 col-sm-4 col-md-3">
                      <div class="product-item">
                          <div class="image imgcls">
                            <a href=${img_url} ><img src="/media/${car_data[i]['fields']['image1']}" alt="Image 4"> </a>
                          </div>
                          <a href=${img_url} ><div class="name" style="height:50px;">${car_data[i]['fields']['name']}</div></a>
                          
                          <a href=${url} class="btn btn-primary btn-block">Visit our store</a>
                      </div>
                    </div>`

      $("#2final"+c).append(element)

      }
    }
    }


  }
});
}
function autocomplete(inp,arr){
    var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val || (p_l<=0)) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          b.addEventListener("click", function(e) {

              inp.value = this.getElementsByTagName("input")[0].value;

              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {

        currentFocus++;

        addActive(x);
      } else if (e.keyCode == 38) { 
        currentFocus--;

        addActive(x);
      } else if (e.keyCode == 13) {
       
        e.preventDefault();
        if (currentFocus > -1) {
          
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    if (!x) return false;
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}


    autocomplete(document.getElementById("catlead_input_mob"),combined_detail)

    autocomplete(document.getElementById("catlead_input_lap"),combined_detail)
function getedilocm_1()
{
    if(document.getElementById("catlead_input_mob").value)
    {
        var val = document.getElementById("catlead_input_mob").value;
    }
    else
    {
        var val = document.getElementById("catlead_input_lap").value;
    }
  
}
function get_inpt_valz_edim_1(){
    var app_htm="";
var v;
if(document.getElementById("catlead_input_mob").value)
{
  v=document.getElementById("catlead_input_mob").value;
}
else
{
   v= document.getElementById("catlead_input_lap").value;
}
$.ajax({
  type: "POST",
  url:"",
  data:{
    'action':'location',
    'loc':v,
     csrfmiddlewaretoken: '{{ csrf_token }}'
  },
  dataType: "JSON",
  success: function(context){
    document.getElementById("corousel_cat_mob").innerHTML=``;
    document.getElementById("carousel_cat_lap").innerHTML=``;
    var car_data=JSON.parse(context.loc_data)
    var c=0;
    console.log(car_data);


    var mq = window.matchMedia( "(max-width: 500px)" );
    if(mq.matches)
    {
      if(car_data.length<=0){
      var data = JSON.parse(context.queryset)

      for(var i=0;i<data.length;i++){

        if(i%1 == 0  && p_l>0){
        c=i
        if(i==0)
          var cls="active"
        else
          var cls=""
        var template=`
                  <div class="carousel-item ${cls}">
                    <div class="row" id="3final1${c}">
                    </div>
                  </div>`
        $("#corousel_cat_mob").append(template);
        }
        var slug=data[i]['fields']['slug']
       var url="{% url 'product:website_home_list' 0 %}".replace('0',slug);
       var img_url="{% url 'dashboard:seller_product_detail' 0  1 %}".replace('0',slug);
       img_url=img_url.replace('1',data[i]['pk'])
        var element = `<div class="col-12 col-sm-4 col-md-3">
                        <div class="product-item">
                            <div class="image imgcls">
                              <a href=${img_url} ><img src="/media/${data[i]['fields']['image1']}" alt="Image 4"> </a>
                            </div>
                            <a href=${img_url} ><div class="name" style="height:50px;">${data[i]['fields']['name']}</div></a>
                            
                            <a href=${url} class="btn btn-primary btn-block">Visit our store</a>
                        </div>
                      </div>`
        $("#3final1"+c).append(element)
      }
    }

    else{
        
    for(var i=0;i<car_data.length;i++){

      if(i%1 == 0  && p_l>0){
        c=i
        if(i==0)
          var cls="active"
        else
          var cls=""
        var template=`
                  <div class="carousel-item ${cls}">
                    <div class="row" id="3final1${c}">
                    </div>
                  </div>`
        $("#corousel_cat_mob").append(template);


      }
       var slug=car_data[i]['fields']['slug']
       var url="{% url 'product:website_home_list' 0 %}".replace('0',slug);
       var img_url="{% url 'dashboard:seller_product_detail' 0  1 %}".replace('0',slug);
       img_url=img_url.replace('1',car_data[i]['pk'])
        var element = `<div class="col-12 col-sm-4 col-md-3">
                  <div class="product-item">
                      <div class="image imgcls">
                        <a href=${img_url} ><img src="/media/${car_data[i]['fields']['image1']}" alt="Image 4"> </a>
                      </div>
                      <a href=${img_url} ><div class="name" style="height:50px;">${car_data[i]['fields']['name']}</div></a>
                      
                      <a href=${url} class="btn btn-primary btn-block">Visit our store</a>
                  </div>
                </div>`
  $("#3final1"+c).append(element)
      }
    }
    }
    else
    {
    if(car_data.length<=0){
      var data = JSON.parse(context.queryset)
      for(var i=0;i<data.length;i++){

        if(i%4 == 0  && p_l>0){
        c=i
        if(i==0)
          var cls="active"
        else
          var cls=""
        var template=`
                  <div class="carousel-item ${cls}">
                    <div class="row" id="3final${c}">
                    </div>
                  </div>`
        $("#carousel_cat_lap").append(template);
        }
        var slug=data[i]['fields']['slug']
       var url="{% url 'product:website_home_list' 0 %}".replace('0',slug);
       var img_url="{% url 'dashboard:seller_product_detail' 0  1 %}".replace('0',slug);
       img_url=img_url.replace('1',data[i]['pk'])
        var element = `<div class="col-12 col-sm-4 col-md-3">
                        <div class="product-item">
                            <div class="image imgcls">
                              <a href=${img_url} ><img src="/media/${data[i]['fields']['image1']}" alt="Image 4"> </a>
                            </div>
                            <a href=${img_url} ><div class="name" style="height:50px;">${data[i]['fields']['name']}</div></a>
                            
                            <a href=${url} class="btn btn-primary btn-block">Visit our store</a>
                        </div>
                      </div>`
        $("#3final"+c).append(element)
      }
    }
    else{
    for(var i=0;i<car_data.length;i++){

      if(i%4 == 0  && p_l>0){
        c=i
        if(i==0)
          var cls="active"
        else
          var cls=""
        var template=`
                  <div class="carousel-item ${cls}">
                    <div class="row" id="3final${c}">
                    </div>
                  </div>`
        $("#carousel_cat_lap").append(template);



      }
      var slug=car_data[i]['fields']['slug']
       var url="{% url 'product:website_home_list' 0 %}".replace('0',slug);
       var img_url="{% url 'dashboard:seller_product_detail' 0  1 %}".replace('0',slug);
       img_url=img_url.replace('1',car_data[i]['pk'])
      var element = `<div class="col-12 col-sm-4 col-md-3">
                      <div class="product-item">
                          <div class="image imgcls">
                            <a href=${img_url} ><img src="/media/${car_data[i]['fields']['image1']}" alt="Image 4"> </a>
                          </div>
                          <a href=${img_url} ><div class="name" style="height:50px;">${car_data[i]['fields']['name']}</div></a>
                          
                          <a href=${url} class="btn btn-primary btn-block">Visit our store</a>
                      </div>
                    </div>`

      $("#3final"+c).append(element)

      }
    }
    }


  }
});
}
function autocomplete(inp,arr){
    var currentFocus;
  
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      
      this.parentNode.appendChild(a);
     
      for (i = 0; i < arr.length; i++) {
       
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          
          b = document.createElement("DIV");
          
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
         
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          
          b.addEventListener("click", function(e) {
             
              inp.value = this.getElementsByTagName("input")[0].value;
             
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
 
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        
        currentFocus++;
       
        addActive(x);
      } else if (e.keyCode == 38) { //up
        
        currentFocus--;
        
        addActive(x);
      } else if (e.keyCode == 13) {
        e.preventDefault();
        if (currentFocus > -1) { 
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    if (!x) return false;
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}


    autocomplete(document.getElementById("man_input_lap"),combined_detail)

    autocomplete(document.getElementById("man_input_mob"),combined_detail)
function getedilocm_2()
{
    if(document.getElementById("man_input_mob").value)
    {
        var val = document.getElementById("man_input_mob").value;
    }
    else
    {
        var val = document.getElementById("man_input_lap").value;
    }
  
}
function get_inpt_valz_edim_2(){
    var app_htm="";
var v;
if(document.getElementById("man_input_mob").value)
{
  v=document.getElementById("man_input_mob").value;
}
else
{
   v= document.getElementById("man_input_lap").value;
}
$.ajax({
  type: "POST",
  url:"",
  data:{
    'action':'location',
    'loc':v,
     csrfmiddlewaretoken: '{{ csrf_token }}'
  },
  dataType: "JSON",
  success: function(context){
    document.getElementById("man_car_lap").innerHTML=``;
    document.getElementById("man_car_mob").innerHTML=``;
    var car_data=JSON.parse(context.loc_data)
    var c=0;
    console.log(car_data);


    var mq = window.matchMedia( "(max-width: 500px)" );
  f(mq.matches)
    {
      if(car_data.length<=0){
      var data = JSON.parse(context.queryset)

      for(var i=0;i<data.length;i++){

        if(i%1 == 0  && p_l>0){
        c=i
        if(i==0)
          var cls="active"
        else
          var cls=""
        var template=`
                  <div class="carousel-item ${cls}">
                    <div class="row" id="4final1${c}">
                    </div>
                  </div>`
        $("#man_car_mob").append(template);
        }
        var slug=data[i]['fields']['slug']
       var url="{% url 'product:website_home_list' 0 %}".replace('0',slug);
       var img_url="{% url 'dashboard:seller_product_detail' 0  1 %}".replace('0',slug);
       img_url=img_url.replace('1',data[i]['pk'])
        var element = `<div class="col-12 col-sm-4 col-md-3">
                        <div class="product-item">
                            <div class="image imgcls">
                              <a href=${img_url} ><img src="/media/${data[i]['fields']['image1']}" alt="Image 4"> </a>
                            </div>
                            <a href=${img_url} ><div class="name" style="height:50px;">${data[i]['fields']['name']}</div></a>
                            
                            <a href=${url} class="btn btn-primary btn-block">Visit our store</a>
                        </div>
                      </div>`
        $("#4final1"+c).append(element)
      }
    }

    else{
        
    for(var i=0;i<car_data.length;i++){

      if(i%1 == 0  && p_l>0){
        c=i
        if(i==0)
          var cls="active"
        else
          var cls=""
        var template=`
                  <div class="carousel-item ${cls}">
                    <div class="row" id="4final1${c}">
                    </div>
                  </div>`
        $("#man_car_mob").append(template);


      }
       var slug=car_data[i]['fields']['slug']
       var url="{% url 'product:website_home_list' 0 %}".replace('0',slug);
       var img_url="{% url 'dashboard:seller_product_detail' 0  1 %}".replace('0',slug);
       img_url=img_url.replace('1',car_data[i]['pk'])
        var element = `<div class="col-12 col-sm-4 col-md-3">
                  <div class="product-item">
                      <div class="image imgcls">
                        <a href=${img_url} ><img src="/media/${car_data[i]['fields']['image1']}" alt="Image 4"> </a>
                      </div>
                      <a href=${img_url} ><div class="name" style="height:50px;">${car_data[i]['fields']['name']}</div></a>
                      
                      <a href=${url} class="btn btn-primary btn-block">Visit our store</a>
                  </div>
                </div>`
  $("#4final1"+c).append(element)
      }
    }
    }
    else
    {
    if(car_data.length<=0){
      var data = JSON.parse(context.queryset)
      for(var i=0;i<data.length;i++){

        if(i%4 == 0  && p_l>0){
        c=i
        if(i==0)
          var cls="active"
        else
          var cls=""
        var template=`
                  <div class="carousel-item ${cls}">
                    <div class="row" id="4final${c}">
                    </div>
                  </div>`
        $("#man_car_lap").append(template);
        }
        var slug=data[i]['fields']['slug']
       var url="{% url 'product:website_home_list' 0 %}".replace('0',slug);
       var img_url="{% url 'dashboard:seller_product_detail' 0  1 %}".replace('0',slug);
       img_url=img_url.replace('1',data[i]['pk'])
        var element = `<div class="col-12 col-sm-4 col-md-3">
                        <div class="product-item">
                            <div class="image imgcls">
                              <a href=${img_url} ><img src="/media/${data[i]['fields']['image1']}" alt="Image 4"> </a>
                            </div>
                            <a href=${img_url} ><div class="name" style="height:50px;">${data[i]['fields']['name']}</div></a>
                            
                            <a href=${url} class="btn btn-primary btn-block">Visit our store</a>
                        </div>
                      </div>`
        $("#4final"+c).append(element)
      }
    }
    else{
    for(var i=0;i<car_data.length;i++){

      if(i%4 == 0  && p_l>0){
        c=i
        if(i==0)
          var cls="active"
        else
          var cls=""
        var template=`
                  <div class="carousel-item ${cls}">
                    <div class="row" id="4final${c}">
                    </div>
                  </div>`
        $("#man_car_lap").append(template);



      }
      var slug=car_data[i]['fields']['slug']
       var url="{% url 'product:website_home_list' 0 %}".replace('0',slug);
       var img_url="{% url 'dashboard:seller_product_detail' 0  1 %}".replace('0',slug);
       img_url=img_url.replace('1',car_data[i]['pk'])
      var element = `<div class="col-12 col-sm-4 col-md-3">
                      <div class="product-item">
                          <div class="image imgcls">
                            <a href=${img_url} ><img src="/media/${car_data[i]['fields']['image1']}" alt="Image 4"> </a>
                          </div>
                          <a href=${img_url} ><div class="name" style="height:50px;">${car_data[i]['fields']['name']}</div></a>
                          
                          <a href=${url} class="btn btn-primary btn-block">Visit our store</a>
                      </div>
                    </div>`

      $("#4final"+c).append(element)

      }
    }
    }


  }
});
}

</script>