{% load static %}
<style>
  @media only screen and (max-width: 400px){
      .teamdilip{
          display: flex;
          flex-direction: column;;
          justify-content:center;
          align-items:center
      }
  }

footer ul li a {
    color: #c3bfbf;
}  
</style>
 <div class="newstetter text-center pt-4 pb-4 mt-3">
      <h2 class="text-uppercase"><span>subscribe</span> to our newsletter</h2>
      <small>The best B2B news for manufacturers and traders</small>
      <form action="{% url 'subscription:subscription_newsletter' %}" method="post">
        {% csrf_token %}
      <div class="input-group  col-sm-12 col-lg-6 mx-auto mt-4">
        <input type="email" id="id_email" class="form-control" name="email" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="subscribe">
        <div class="input-group-append">
          <span class="input-group-text" id="subscribe"><input type="submit" style="background:none" value="Subscribe"></span>
        </div>
      </div>
    </form>
    </div>

    <footer class="pt-5 pb-5 ">
      <div class="container">
        <div class="row">
          <div class="col-6 col-sm-6 col-lg-2 mx-auto mb-2">
            <a href="{% url 'product:home_list' %}">
              <img id="img_footer"  src="{% static 'images/logo-white.png' %}" alt="" style="max-width: 146px;">
            </a>
          </div>
          <div class="col-12 col-sm-6 col-lg-2">
            <ul class="">
              <li class="head">WHO WE ARE</li>
              <li><a href="{% url 'about_us' %}">About Ramagyamart</a></li>
              <li><a href="#">Vision | Mission</a></li>
              <li><a href="{% url 'media_center' %}">News About Us</a></li>
              <li><a href="{% url 'about_management' %}">Management Team</a></li>
              <li><a href="{% url 'about_work_with_us' %}">Work With Us</a></li>
              <!--<li><a href="{% url 'about_contact_us' %}">Contact Us</a></li>-->
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
              <ul class="">
              <li class="head">OUR SERVICES</li>
              <li><a href="{% url 'subscription:paid_service' %}">Ramagya Vishwas Certification</a></li>
              <li><a href="{% url 'subscription:paid_service' %}">Enroll For Editors Pick</a></li>
              <li><a href="{% url 'subscription:paid_service' %}">Category Leaders Certification</a></li>
              <li><a href="{% url 'subscription:paid_service' %}">White Labelling Solutions</a></li>
              {% comment %}<li><a href="{% url 'dashboard:seller_company' %}">E-Shoppe Development</a></li>{% endcomment %}
              <!--<li><a href="{% url 'media_center' %}">Media Center</a></li>-->
              <li><a href="{% url 'advertise' %}">Advertise Your Brand</a></li>
              <!-- <li><a href="#">Transact To Trade</a></li> -->
            </ul>
            
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <ul class="">
              <li class="head">CUSTOMER SUPPORT</li>
              <li><a href="{% url 'help_center' %}">Help Center</a></li>
              <li><a href="{% url 'privacy_policy' %}">privacy policy</a></li>
              <li><a href="{% url 'trading_policy' %}">Trading policy</a></li>
              <li><a href="{% url 'term_condition' %}">terms & conditions</a></li>
              <!-- <li><a href="{% url 'edit_profile' %}">edit Profile</a></li> -->
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-2">
            <ul class="text-center">
              <li class="head">Follow us</li>
              <li>
                <a href="https://www.facebook.com/Ramagyamart/"><img src="{% static 'images/fb.png' %}" alt="facebook"></a> | 
                <a href="https://www.instagram.com/ramagyamart/"><img src="{% static 'images/insta.png' %}" alt="instagram"></a> | 
                <a href="https://www.linkedin.com/company/ramagyamart/"><img src="{% static 'images/linkedin.png' %}" alt="linkedin"></a>
                <a href="https://www.youtube.com/channel/UCfL0UX82V-JgeUzeaCpRUYQ"><img src="{% static 'images/youtube.png' %}" alt="youtube"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright text-center pt-3 pb-3">
      <p class="mb-3">&#169; 2021 Ramagya Mart</p>
      <img src="{% static 'images/footerSub.png' %}" alt="">
    </div>
