{% load static %}


{% load cart_template_tags %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% include 'template_blocks/head_css.html' %}
{% include 'template_blocks/javascript.html' %}

<style>

 * {
  box-sizing: border-box;
}

#mobilecarousel{
  display:none;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/

.carousel_mobile,.mobile_search ,.mobile_button,.carouselexample,.first,.mobile_feature{
    display: none;
  }
.carousel-indicators{
    margin-bottom:4050px;
  }

/*responsive*/
@media (min-width:800px){
    .certi{
        width:190px;
    }
    .dash{
        font-size: 35px;
    margin-right: 2%;
    color:white;
    }
    .udhar{
    margin-top:2%;
    }
}

@media screen and (max-width:640px) and (min-width:300px){

.navbar{
  width: 100%;
   margin-left: 0px;
}
}

@media screen and (max-width:580px) and (min-width:300px){
    .dash{
        display:none;
    }
   .navbar,.fluid,.container{
    width:100%;
    margin-left: 0px;

  }
  .image{
    width:90px;

  }
  .ml-5, .mx-5 {
     margin-left: 0rem !important;
     font-size: 17px;
   }
.navbar-toggler, {
    width:40px;

  }
  .navbar-toggler-icon{
     margin-right:-1px;
  }
}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img class="image" src="{% static 'images/logo-white.png' %}" alt="" style="max-width: 129px;">
      <span >| <i>Desh Ka Vyapar</i></span>
    </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav m-auto w-33">
      {% if  request.user.account.business_type == "Seller" %}
         <li class="nav-item">
              <img src="{% static 'images/certii.png' %}" style="height:55px">
         </li>
        <li class="nav-item certi">
          <a class="nav-link" href="{% url 'subscription:paid_service' %}">Apply For Ramagya <br> Vishwas Certification</a>
        </li>
         <li class="nav-item dash" >
          <a style="color:white;">|</a>
        </li>
        {% else %}
        {% endif %}
        
        <li class="nav-item udhar">
              <img src="{% static 'images/30day.png' %}" class="" style="height:35px;">
        </li>
        <li class="nav-item">
          <a class="nav-link"href="{% url 'subscription:paid_service' %}">Ramagya <br> Udhar</a>
        </li>
        
        <li class="nav-item dash" >
          <a>|</a>
        </li>
        
        <li class="nav-item udhar">
              <img src="{% static 'images/loginn.png' %}" class="" style="height:35px;">
        </li>
        
        {% if not request.user.is_authenticated%}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            User Login
          </a>
          <div class="dropdown-menu">
            {% if request.user.account.business_type == "Seller" %}
            <a class="dropdown-item" href="{% url 'dashboard:seller_contact_profile' %}">Seller</a>
            {% elif request.user.account.business_type == "Buyer" %}
            <a class="dropdown-item" href="{% url 'accounts:buyer_profile' %}">Buyer</a>
            {% endif %}
            
            {% if not request.user.is_authenticated %}
              <a class="dropdown-item" href="{% url 'dashboard:seller_contact_profile' %}">Seller</a>
              <a class="dropdown-item" href="{% url 'accounts:buyer_profile' %}">Buyer</a>
            {% endif %}
          </div>
        </li>
        {% else %}
        <li class="nav-item">
            {% if request.user.account.business_type == "Seller" %}
            <a class="nav-link" href="{% url 'dashboard:seller_contact_profile' %}">Seller</a>
            {% elif request.user.account.business_type == "Buyer" %}
            <a class="nav-link" href="{% url 'accounts:buyer_profile' %}">Buyer</a>
            {% endif %}
         
        </li>
        {% endif %}
        
        <li class="nav-item dash" >
          <a>|</a>
        </li>
        
        <li class="nav-item udhar">
              <img src="{% static 'images/helpp.png' %}" class="" style="height:35px;">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'help' %}">Help</a>
        </li>
        
        {% comment %} <!--{% if request.user.account.business_type == "Seller" %}-->
        <!--<li class="nav-item">-->
        <!--  <a class="nav-link" href="{% url 'dashboard:seller_contact_profile' %}">Seller</a>-->
        <!--</li>-->
        <!--{% elif request.user.account.business_type == "Buyer" %}-->
        <!--<li class="nav-item">-->
        <!--  <a class="nav-link" href="{% url 'accounts:buyer_profile' %}">Buyer</a>-->
        <!--</li>-->
        <!--{% endif %}-->

        <!--{% if not request.user.is_authenticated %}-->
        <!--<li class="nav-item">-->
        <!--  <a class="nav-link" href="{% url 'dashboard:seller_contact_profile' %}">Seller</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
        <!--  <a class="nav-link" href="{% url 'accounts:buyer_profile' %}">Buyer</a>-->
        <!--</li>-->
        <!--{% endif %}-->
    <!--{% if request.user.is_authenticated %}-->
    <!--    {% if not request.user.account.business_type == "Seller" and not request.user.is_superuser %}-->
    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link cart" href="{% url 'dashboard:cart' slug='seller' %}">-->
    <!--        <img src="{% static 'images/cart.png' %}" alt="">-->
    <!--        <span>My Cart</span>-->
    <!--        {% endif %}-->
    <!--        {% if request.user|cart_product_count %}<span class="badge red z-depth-1 mr-1"> <span class="badge rounded-pill bg-danger px-2">{{ request.user|cart_product_count }} </span></span>{% endif %}-->
    <!--      </a>-->
    <!--    </li>-->
    <!--    <li class="nav-item login">-->
    <!--      <a class="nav-link" href="{% url 'account_logout' %}">-->
    <!--        <img src="{% static 'images/login.png' %}" alt="">-->
    <!--        <span>Log Out</span>-->
    <!--      </a>-->
    <!--    </li>-->
    <!--    {% else %}-->
    <!--    <li class="nav-item login">-->
    <!--      <a class="nav-link" href="{% url 'account_login' %}">-->
    <!--        <img src="{% static 'images/login.png' %}" alt="">-->
    <!--        <span>Log in New User</span>-->
    <!--      </a>-->
    <!--    </li>-->

    <!--    {% endif %}--> {% endcomment %}

        <li class="nav-item dash" >
          <a>|</a>
        </li>
        <li class="nav-item udhar">
              <img src="{% static 'images/ad.png' %}" style="height:35px;">
        </li>
        <li class="nav-item">
          <a class="nav-link pr-0" href="{% url 'subscription:paid_service' %}">
            Advertise <br>with us
          </a>
        </li>
        {% if request.user.is_superuser %}
        <li class="nav-item login">
          <a class="nav-link" href="{% url 'adminb2b:enquiry_list' %}">
            Admin
          </a>
        </li>
        {% endif %}
        {% if request.user.is_authenticated %}
        <li class="nav-item dash" >
          <a>|</a>
        </li>
        <li class="nav-item udhar">
        <img src="{% static 'images/login.png' %}" alt="">
        </li>
        <li>
          <a class="nav-link" href="{% url 'account_logout' %}">
            <span>Log Out</span>
          </a>
        </li>
      {% else %}
      {% endif %}
      </ul>
     
    </div>
  </div>
</nav>
<script>
$('.navbar-toggler').click(function(){
if(document.getElementById("collapsibleNavbar").classList.contains("show")){
  $('#collapsibleNavbar').removeClass("show")
   $(".navbar-toggler").removeAttr('data-toggle','collapse');
}
else
{
  $(".navbar-toggler").attr('data-toggle','collapse');
}
})

</script>

