{% extends 'dashboard/seller/seller_base.html' %}
{% load static %}
   {% block content %}
   <!-- Showing the Error message in red while validating form -->
        <style>
            .error{
                color:red;
                font-style:italic;
            }
            .bmd-form-group label {
                color: red;
            }

            .card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
                border-radius: 3px;
                margin-top: -20px;
                padding: 11px;
                width: 184px;
            }
            
.save{
    margin-top: 40px;margin-left: 85%;margin-bottom: 100px;
}
#custom-button,#custom-button1,#custom-button2,#custom-button4 {
        width: 103px;
    height: 34px;
    padding: 6px;
    color: black;
    background-color: #e3e5eb;
    border-radius: 5px;
    cursor: pointer;
}
#custom-button:hover, #custom-button1:hover,#custom-button2:hover,#custom-button4:hover{
  background-color: #334e9f;
  color:white;
}

#custom-text,#custom-text1,#custom-text2 {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}
.row {
    width: 100%;
}
.ps-scrollbar-y{
    display:visible;
} 

@media (max-width:500px){
    .container-fluid {
        width: 113%;
    }
    .left{
        margin-left:7%;
    }
    .save{
        width: 30%;
    margin-left: 65%;
    }
} 
 </style>

<script type="text/javascript">
    $(function() {
        $(".inline.{{ price_form.prefix }}").formset({
            prefix: "{{ price_form.prefix }}",
        })
        $(".inline.{{ instruction_form.prefix }}").formset({
            prefix: "{{ instruction_form.prefix }}",
        })
    })
</script>
        <!---->
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper"> 
                    {% comment %} <a class="navbar-brand" href="javascript:;">User Profile</a> {% endcomment %}
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation"> <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <!-- <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span> -->
                    </button>

                </div>
            </nav>

            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid" style="margin-top:-93px;">
                    <div class="row" >
                         <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title" style="font-size: 20px;">Add Product</h4>
                                </div>
                               
                                <div class="card-body">
                                    <form action="." method="post" id="add_product" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Enter Product Name</label>
                                                    <input type="text" class="form-control" name="Product_name" >
                                                </div>
                                            </div>
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Color</label>
                                                    <input type="text" class="form-control" name="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Price</label>
                                                    <input type="number" class="form-control" name="price" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Unit Type</label>
                                                    <input type="text" class="form-control" name="unit_type" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                 <div class="form-group">
                                                    <label class="bmd-label-floating" >Minimum Order Quantity</label>
                                                    <input type="text" class="form-control" name="min_order_qty" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                            <div class="form-group">
                                                    <label class="bmd-label-floating" >Description</label>
                                                    <input type="text" class="form-control" name="desc" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                            
                                                <div class="form-group" style="margin-top:39px;">
                                                        <label for="product_group" class="bmd-label-floating">Product Category</label>
                                                        <select class="form-control" id="product_group1" name="product_group" onfocusout="myFunction()">
                                                        <option value="" >Select Option</option>
                                                        <option value="Kitchen Stoves" >Kitchen stoves</option>
                                                        <option value="Mixer Grinder" >Mixer Grinder</option>
                                                        <option value="Rice Cookers" >Rice Cookers</option>
                                                        <option value="Food Processors">Food Processors</option>
                                                        <option value="Electric kettles">Electric kettles</option> 
                                                        <option value="OTG">OTG</option>
                                                        <option value="Juicers">Juicers</option>
                                                        <option value="Blenders" >Blenders</option>
                                                        <option value="Water Heaters" >Water Heaters</option>
                                                        <option value="Water Filters">Water Filters</option>
                                                        <option value="Induction cookers">Induction cookers</option>
                                                        <option value="Exhaust Hoods">Exhaust Hoods</option>
                                                        <option value="Sandwich Makers">Sandwich Makers</option>
                                                        <option value="Toaster">Toaster</option>
                                                        <option value="Deep Fryers">Deep Fryers</option>
                                                        <option value="Dough Blenders">Dough Blenders</option>
                                                        <option value="Coffee Makers">Coffee Makers</option>
                                                        <option value="Electric Iron">Electric Iron</option>
                                                        <option value="Vaccum Cleaner">Vaccum Cleaner</option>
                                                        <option value="Air Purifiers">Air Purifiers</option>
                                                        <option value="Trimmers And Savers">Trimmer And Savers</option>
                                                        <option value="Hair Drier">Hair Drier</option>
                                                        <option value="Hair Straightener">Hair Straightener</option>

                                                        </select>
                                                    </div>
                                             
                                            </div>
                                            <div class="col-md-6">
                                                <div class="tab-pane" id="specification">
                                                {% comment %} <div class="row"> {% endcomment %}
                                                    <input type="text" style="visibility:hidden;" id="capacity" name="capacity">
                                                    <div class="form-group">
                                                    <span class="add">
                                                
                                                        <label for="product_group" class="bmd-label-floating">Capacity</label>
                                                        <select class="form-control" onclick="javascript:yesnoCheck();" id="yesCheck" name="cap">
                                                        <option value="">Select Option</option>
                                                        <option value="200ml" >200 ml</option>
                                                        <option value="500ml" >500 ml</option>
                                                        <option value="1 L" >1 L</option>
                                                        <option value="other" >other</option>
                                                         
                                                        </select>
                                                    </div>
                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-md-6">
                                                <div class="tab-pane" id="specification">
                                                {% comment %} <div class="row"> {% endcomment %}
                                                    <input type="text" style="visibility:hidden;" id="brand" name="brand">
                                                    <div class="form-group">
                                                    <span id="append_brand" class="add1">
                                                
                                                        <label for="brand" class="bmd-label-floating">Brand</label>
                                                        </br>
                                                       <span id="select_prd">
                                                        <select class="form-control" onclick="javascript:select_prd();"  name="brandd">
                                                            <option value="">Select Option</option>
                                                        </select> 
                                                        </span>
                                                    </span>
                                                    </div>
                                                
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="margin-top:61px;">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Materials</label>
                                                    <input type="text" class="form-control" name="material">    
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Packing Details</label>
                                                    <input type="text" class="form-control" name="packing_details" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Size</label>
                                                    <input type="text" class="form-control" name="size" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Product Code</label>
                                                    <input type="text" class="form-control" name="product_code" >
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6">
                                            <div class="form-group">
                                                    <label class="bmd-label-floating" >YouTube Product video URL</label>
                                                    <input type="text" class="form-control" name="video_url" >
                                                </div>
                                            </div>
                                           </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Power in watt</label>
                                                    <input type="text" class="form-control" name="power" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Warranty</label>
                                                    <input type="text" class="form-control" name="warranty" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Model No.</label>
                                                    <input type="text" class="form-control" name="model_no" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Closure Type</label>
                                                    <input type="text" class="form-control" name="closure_type" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-md-6" style="margin-top: 22px;">   
                                        <label class=""> Product Image 1</label>  
                                        <br>             
                                            <button type="button" id="custom-button">Image 1</button>
                                                 <span id="custom-text">No file chosen, yet.</span> 
                                                    <input type="file" hidden="hidden" accept="image/*" class="real-file"  id="image1" name="image1">
                                                     <div style="color:red;">
                                                    Image must be of size 142x145 **
                                                    </div>                                               
                                            </div>
                                             <div class="col-md-6" style="padding-top:20px;">                                           
                                                    <label class="bmd-label-floating" >Upload Video</label>
                                                    <br>
                                                    <button type="button" id="custom-button4">Video</button>
                                                    <span id="custom-text4">No file chosen, yet.</span> 
                                                    <input type="file" accept="image/*" hidden="hidden" name="local_video_url" id="image4">                                             
                                            </div>
                                           </div>
                                        </div>
                                        
                                                    
                                        <div class="row">
                                            
                                            <div class="col-md-6 left" style="padding-left: 4%;">
                                                <label class=""> Product Image 2</label>    
                                                <br>  
                                                <button type="button" id="custom-button1">Image 2</button>
                                                    <span id="custom-text1">No file chosen, yet.</span> 
                                                <input type="file" accept="image/*" style="margin-left: 19px;" hidden="hidden"  class="real-file1" id="image2" name="image2">
                                                <div style="color:red;" style="margin-left: 19px;">
                                                    <span style="margin-left: 19px;">Image must be of size 142x145 **</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 left">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Preffered Search Keyword</label>
                                                    <input type="text" class="form-control" name="preffered_search_keyword">
                                                </div>
                                            </div>
                                            <div class="row"></div>
                                            <div class="col-md-6 ml-4 mt-3">
                                                <label class=""> Product Image 3</label>
                                                <br>
                                                <button type="button" id="custom-button2">Image 3</button>
                                                 <span id="custom-text2">No file chosen, yet.</span> 
                                                <input type="file" class="real-file2" accept="image/*" hidden="hidden"  id="image3" name="image3">
                                                <div style="color:red;">
                                                Image must be of size 142x145 **
                                                </div> 
                                            </div>
                                            </div>
                                            <input type="submit"  class="btn btn-primary save pull-right" value="save">
                                    </form>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
function yesnoCheck() {
    var tem=""
    if (document.getElementById('yesCheck').value == "other") {
        $(".add").empty();
        tem = `<label class="bmd-label-floating" >Capacity</label>
        <input type="text" class="form-control" id="capacity" name="capacity" placeholder="Capacity">`
        $('.add').append(tem)
    }
    else if (document.getElementById('yesCheck').value == "200ml") {
        document.getElementById('capacity').value = "200 ml"
        console.log(document.getElementById('capacity').value)
    }
    else if (document.getElementById('yesCheck').value == "500ml") {
        document.getElementById('capacity').value = "500 ml"
    }
    else if (document.getElementById('yesCheck').value == "1L") {
        document.getElementById('capacity').value = "1 L "
    } 
}
function yesnoCheck1() {     
     //brand
    var tem1=""
    if (document.getElementById('yesCheck1').value == "other") {
        $(".add1").empty();
        tem1 = `<label class="bmd-label-floating" >Brand</label>
        <input type="text" class="form-control" id="brand" name="brand" placeholder="Brand">`
        $('.add1').append(tem1)
    }
    else if (document.getElementById('yesCheck1').value == "prestige") {
        document.getElementById('brand').value = "Prestige"
    }
    else if (document.getElementById('yesCheck1').value == "padmini") {
        document.getElementById('brand').value = "Padmini"
    }
}
const realFileBtn = document.getElementById("image1");
console.log(realFileBtn)
const realFileBtn1 = document.getElementById("image2");
const realFileBtn2 = document.getElementById("image3");
const realFileBtn4 = document.getElementById("image4");

const customBtn = document.getElementById("custom-button");
const customTxt = document.getElementById("custom-text");

const customBtn1 = document.getElementById("custom-button1");
const customTxt1 = document.getElementById("custom-text1");

const customBtn2 = document.getElementById("custom-button2");
const customTxt2 = document.getElementById("custom-text2");

const customBtn4 = document.getElementById("custom-button4");
const customTxt4 = document.getElementById("custom-text4");

customBtn.addEventListener("click", function() {
  realFileBtn.click();
});

customBtn1.addEventListener("click", function() {
  realFileBtn1.click();
});

customBtn2.addEventListener("click", function() {
  realFileBtn2.click();
});

customBtn4.addEventListener("click", function() {
  realFileBtn4.click();
});

realFileBtn.addEventListener("change", function() {
  if (realFileBtn.value) {
    customTxt.innerHTML = realFileBtn.value.match(
      /[\/\\]([\w\d\s\.\-\(\)]+)$/
    )[1];
  }
  else {
    customTxt.innerHTML = "No file chosen, yet.";
  }
});
realFileBtn1.addEventListener("change", function() {
  if (realFileBtn1.value) {
    customTxt1.innerHTML = realFileBtn1.value.match(
      /[\/\\]([\w\d\s\.\-\(\)]+)$/
    )[1];
  }
  else {
    customTxt1.innerHTML = "No file chosen, yet.";
  }
});
realFileBtn2.addEventListener("change", function() {
  if (realFileBtn2.value) {
    customTxt2.innerHTML = realFileBtn2.value.match(
      /[\/\\]([\w\d\s\.\-\(\)]+)$/
    )[1];
  } 
  else {
    customTxt2.innerHTML = "No file chosen, yet.";
  }
});
realFileBtn4.addEventListener("change", function() {
  if (realFileBtn4.value) {
    customTxt4.innerHTML = realFileBtn4.value.match(
      /[\/\\]([\w\d\s\.\-\(\)]+)$/
    )[1];
  } 
  else {
    customTxt4.innerHTML = "No file chosen, yet.";
  }
});

function select_prd() {
    document.getElementById("select_prd").innerHTML =`<span style="color:red;">Please select Product Category</span>`
    
}

var Kitchen_Stoves = 'Bajaj Electricals Limited,Butterfly Gandhimathi Appliances Limited,Faber India,Fabiano,Glen India,Greenchef,Murugan Industries,Padmini Appliances,Stovecraft,Pigeon,Sunflame,Surya Flame,TTK Prestige,Milton';
var Mixer_Grinder = 'Maharaha, Bosch , Preethi, Sujata, Prestige, Butterfly Gandhimathi, Kitchen Appliances, Havells,  Jaipan, Usha, Crompton Greaves '
var Rice_Cookers = 'Prestige, Inalsa, Sheffield, Bajaj, Pigeon, Wonderchef, Borosil'
var Food_Processors = 'Preethi, Bajaj, Maharaja, Butterfly, Kenstar, Havells, Usha, Crompton, Inalsa, Wonderchef, Prestige'
var Electric_kettles = 'Bajaj , Wonderchef , Singer Uno , Maharaja Whiteline , Warmex , Usha , Bajaj , Oreva Kitchoff, Cromptn, RNG'
var Electric_Mixers = 'Preethi , Bajaj, Groupe SEB , Butterfly Gandhimathi, Kitchen Appliances, Havells , Jaipan, Usha, Crompton Greaves , TTK Prestige '
var Juicers  = 'Preethi, Bajaj, Philips, Maharaja, Butterfly and Kenstar'
var Blenders  = 'Midea, Joyoung, Panasonic, SUPOR, BRAUN, ACA, Deer, KENWOOD, Bear, Royalstar, Electrolux, SKG, OUKE, AUX, KONKA, Whirlpool, EUPA, BOSCH, WELHOME'
var Water_Heaters = 'Bajaj, V-Guard, Havells, Crompton, Venus, Usha, Maharaja, Hindware, Orient, Jaguar, Kenstar, Polar, Padmini and khaitan'
var Water_Filters = 'Eureka Forbes, Ion Exchange, Adhunik, Aqua fresh, Filmtech, Kelvinator Quanta, , Mannya Grand Plus, Okaya, Sajal, Ventair, Hindustan Unilever, Kent RO, Whirlpool, TATA Chemical, 3M, Apex, Expert, Godrej, Krona Liquetac, Livpure pep plus, Nasaka Xtra, Own, Propello Uno, Secure Water Purifier'
var Induction_cookers = 'Stovekraft, Groupe SEB, Havells, Butterfly Gandhimathi, Kitchen Appliances India Limited, Prestige, Bajaj, Preethi, Pigeon '
var Exhaust_Hoods = 'Kaff,Glen,Hindware,IFB,Bajaj,Usha,Prestige';
var Sandwich_Makers = 'Borosil, Prestige, Nova, Pigeon,Bajaj, Lifelong, Eveready, Wonderchef, Inalsa'
var Toaster = 'Inalsa, Prestige, Sunflame, Bajaj, Oster, Havells, Kent, Pigeon, Cello Quick,V-Guard'
var Deep_fryers  = 'Prestige, Glen air, Bhavya Enterprises, Skyline, Inalsa, Orbit, Baltra, Presto, American Micronic, Hi-Tech Appliances, Kiran Enterprises, The Urban Kitchen'
var Dough_Blenders = 'Inalsa, Bajaj, Orpat, Maharaja Whiteline, Kitchen Aid, Tefal, Kuber Industries'
var Coffee_Makers  = 'Preethi, Prestige, Wonderchef, Havells, Technora, 3-D Creaions'
var Electric_Iron = 'Inalsa, Havells, Eveready, Usha, Orient, Pigeon, Wonderchef, Syska, Orpat, Maharaja Whiteline'
var Vaccum_Cleaner = 'American Micronic, Inalsa , Eureka Forbes , KENT'
var Air_Purifiers  = 'Dyson, Honeywell, Mi, Cowway, Reliance, Livpure, Kent, Airpuro, Dr. Aeroguard'
var Hair_Straightner = 'Havells, Phillips, Syska, Kemei, Vega, Figment, Iconic, Jivani Brothers, Nova, Wazdrof, Unik Brand, Array, Horlite Quick.'
var Trimmers_And_Savers  = 'Wahl, Spectrum Brands,  Conair Corporation, Andis Company, VEGA, Sunbeam, Havells, Nova, Syska, Lifelong, Ustraa, Kemei'
var Hair_Drier = 'Havells, Phillips, Syska, Kemei, Vega, Figment, Iconic, Jivani Brothers, Nova, Wazdrof, Unik Brand, Array, Horlite Quick.'
                                                       
                                                        
function myFunction() {
    var value = $("#product_group1").val();
    value=value.replace(' ','_');
    value=value.replace(' ','_');
    value=eval(value);
    var arr = value.split(',');
    document.getElementById("append_brand").innerHTML='';
    document.getElementById("append_brand").innerHTML=`<label for="brand" class="bmd-label-floating">Brand</label>
                                                        <select class="form-control" onclick="javascript:yesnoCheck1();" id="yesCheck1" name="brand">
                                                        
                                                        </select>`
        document.getElementById("yesCheck1").innerHTML=`<option value=''>Select Option</option>`
        for(var i=0;i<arr.length;i++)
            {
                
                document.getElementById("yesCheck1").innerHTML = document.getElementById("yesCheck1").innerHTML+`<option value='${arr[i]}'>${arr[i]}</option>`;
            }
        
                                                            
    }
$(document).ready(function(){
    $("html").removeClass("perfect-scrollbar-on");
});
</script>
 
    {% endblock content %}