{% extends 'dashboard/seller/seller_base.html' %}
{% load static %}
   {% block content %}
   <!-- Showing the Error message in red while validating form -->
        <style>
            .error{
            color:red;
            font-style:italic;
                    }
                    .bmd-form-group label {
                        color: red;
                        }

 
.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 11px;
    width: 184px;
}

        </style>
        <!---->
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid" style="margin-top:-90px">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Bank Details</h4>
                                    {% comment %} <p class="card-category">Complete your Statutory Details</p> {% endcomment %}
                                </div>
                                <div class="card-body">
                                        <form action="." method="post" id="Bank_detail">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" for id="id_bank_name">Bank Name</label>
                                                    <input type="text" class="form-control" name="bank_name"id="id_bank_name" value="{{ seller_bank.bank_name }}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" for id="id_account_no">Bank Account No.</label>
                                                    <input type="text" class="form-control" name="account_no"id="id_account_no" value="{{ seller_bank.account_no }}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating"for id="id_bank_account_name">Bank According Your Name</label>
                                                    <input type="text" class="form-control" name="bank_account_name"id="id_bank_account_name" value="{{ seller_bank.bank_account_name}}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating"for id="id_ifsc_code">Bank IFSC Code</label>
                                                    <input type="text" class="form-control" name="ifsc_code"id="id_ifsc_code" value="{{ seller_bank.ifsc_code }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating"for id="id_account_type">Account Type</label>
                                                    <input type="text" class="form-control" name="account_type"id="id_account_type" value="{{ seller_bank.account_type }}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating"for id="id_alternative_bank_name">Alernative Bank Name</label>
                                                    <input type="text" class="form-control" name="alternative_bank_name"id="id_alternative_bank_name" value="{{ seller_bank.alternative_bank_name }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating"for id="id_alternative_account_no">Alernative Bank Account No.</label>
                                                    <input type="text" class="form-control" name="alternative_account_no"id="id_alternative_account_no" value="{{ seller_bank.alternative_account_no }}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating"for id="id_alternative_bank_account_name">Alernative Bank According Your Name</label>
                                                    <input type="text" class="form-control" name="alternative_bank_account_name"id="id_alternative_bank_account_name" value="{{ seller_bank.alternative_bank_account_name }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating"for id="id_alternative_bank_ifsc_code">Alernative Bank IFSC Code</label>
                                                    <input type="text" class="form-control" name="alternative_bank_ifsc_code"id="id_alternative_bank_ifsc_code" value="{{ seller_bank.alternative_bank_ifsc_code }}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating"for id="id_alternative_bank_account_type">Alernative Account Type</label>
                                                    <input type="text" class="form-control" name="alternative_bank_account_type"id="id_alternative_bank_account_type" value="{{ seller_bank.alternative_bank_account_type }}">
                                                </div>
                                            </div>
                                        </div>
                                        <input type="submit" class="btn btn-primary pull-right" value="save" style="margin-bottom:80px;">
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% endblock content %}
          


          