{% extends 'dashboard/seller/seller_base.html' %}
{% load static %}
   {% block content %}
   <!-- Showing the Error message in red while validating form -->
        <style>
            .error{
                color:red;
                font-style:italic;
            }
            .bmd-form-group label {
                color: red;
            }

            .card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
                border-radius: 3px;
                margin-top: -20px;
                padding: 11px;
                width: 184px;
            }
            
.save{
    margin-top: 40px;margin-left: 85%;margin-bottom: 100px;
}
#custom-button,#custom-button1,#custom-button2,#custom-button4 {
        width: 103px;
    height: 34px;
    padding: 6px;
    color: black;
    background-color: #e3e5eb;
    border-radius: 5px;
    cursor: pointer;
}
#custom-button:hover, #custom-button1:hover,#custom-button2:hover,#custom-button4:hover{
  background-color: #334e9f;
  color:white;
}

#custom-text,#custom-text1,#custom-text2 {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}
.row {
    width: 100%;
}
.ps-scrollbar-y{
    display:visible;
} 

@media (max-width:500px){
    .container-fluid {
        width: 113%;
    }
    .left{
        margin-left:7%;
    }
    .save{
        width: 30%;
    margin-left: 65%;
    }
} 
 </style>

        <!---->
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper"> 
                    {% comment %} <a class="navbar-brand" href="javascript:;">User Profile</a> {% endcomment %}
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation"> <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <!-- <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span> -->
                    </button>

                </div>
            </nav>

            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid" style="margin-top:-93px;">
                    <div class="row" >
                         <div class="row">
                        <div class="col-md-12">
                            <div class="card h-100">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title" style="font-size: 20px;">Add Bulk Product</h4>
                                </div>
                               
                                <div class="card-body">
                                    <form method="post" enctype="multipart/form-data">
									    {% csrf_token %}
									    <label class="bmd-label-floating" >Upload .csv file</label>
									    <input type="file" name="productfile">
									    <button type="submit"class="btn btn-primary">Upload Bulk Product</button>
									  </form>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}