{% extends 'dashboard/seller/seller_base.html' %}
{% load static %}
   {% block content %}
 {% load social_share %}
   <style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 0%;
	}
 
.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 11px;
    width: 184px;
}

    .error{
    color:red;
    font-style:italic;
            }
            .bmd-form-group label {
                color: red;
                }



#custom-button,#custom-button1,#custom-button2 {
        width: 103px;
    height: 34px;
    padding: 6px;
    color: black;
    background-color: #e3e5eb;
    border-radius: 5px;
    cursor: pointer;
}
#custom-button:hover, #custom-button1:hover,#custom-button2:hover{
  background-color: #334e9f;
  color:white;
}

#custom-text,#custom-text1,#custom-text2 {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}

.fa1 {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 4px 41px;
    border-radius: 50%;
}


.fa1:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}  

.fa-instagram {
  background: #833AB4;
  color: white;
}

.fa-whatsapp{
    background:green;
    color:white;
}

@media (max-width:500px){
    .fa1 {
    padding: 24px;
    font-size: 22px;
    width: -1%;
    text-align: center;
    text-decoration: none;
    margin: 6px 6px;
    border-radius: 69%;
}
}
</style>
<!---->
  
       <div class="main-panel">
         
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid" style="margin-top:-90px">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Business Profile</h4>
                                    {% comment %} <p class="card-category">Complete your Statutory Details</p> {% endcomment %}
                                </div>
                                <div class="card-body">
                                        <form method="POST" action="" id="add_product" enctype="multipart/form-data">
                                        {% csrf_token %}
                                       
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Additional Contact Number</label>
                                                    {{ form.phone }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <!-- <label for="type">Business Type <sup class="text-danger">*</sup></label> -->
                                                    {{ form.category }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Annual Turnover</label>
                                                    {{ form.annual_turnover }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="type">B2BMart Catalog URl <sup class="text-danger">*</sup></label>
                                                    <!-- <a href="#">https://www.b2bMart.com/art-craft/</a> -->
                                                    
                                                    <a href="{% url 'product:website_home_list' request.user.account.slug %}">
                                                    <input type="text" size="32" style="cursor:pointer;color:#265e99;" value="https://b2b2.ramagyamart.com/{{request.user.account.slug}}/">
                                                    </a>
                                                    <!--<a onclick="copyFun()" style="cursor:pointer;color:white;" class="btn-primary">Copy text</a>-->
                                                    <i class="fa fa-share fa-1.8x" data-toggle="modal" data-target="#myModal"></i>
                                                    {% comment %} share modal  {% endcomment %}
                                                    <div id="myModal" class="modal fade" role="dialog">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                            <div class="modal-header">
                                                            <p style="color:black;font-size:20px;">Share on&nbsp;<i class="fa fa-share"></i></p>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            </div>
                                                            <div class="modal-body">
                                                            <div class="col">
                                                            <div class="row share">
                                                                {% comment %} <a>{% post_to_facebook   'https://b2b2.ramagyamart.com/{{request.user.account.slug}}/'   %}</a>
                                                                <a>{% post_to_whatsapp  'https://b2b2.ramagyamart.com/{{request.user.account.slug}}/' %}</a>
                                                                <a>{% post_to_twitter  'https://b2b2.ramagyamart.com/{{request.user.account.slug}}/' %}</a> {% endcomment %}
                                                            </div>
                                                            </div>

                                                               {% comment %} <a href="#" class="fa1 fa-facebook fa"> </a>
                                                                <a href="#" class="fa1 fa-twitter fa"></a>
                                                                <a href="#" class="fa1 fa-instagram fa"></a>
                                                                <a href="#" class="fa1 fa-whatsapp fa"></a> {% endcomment %}
                                                            </div>
                                                            {% comment %} <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            </div> {% endcomment %}
                                                            </div>

                                                        </div>
                                                    </div>
                                                    {% comment %} end modal  {% endcomment %}

                                                    {% comment %} <a href="{% url 'product:website_home_list' request.user.account.slug %}">https://www.b2bMart.com/{{request.user.account.slug}}/</a> {% endcomment %}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 ml-3">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Year Of Establishment</label>
                                                        {{ form.year_of_establishment }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                            <label class=""> Company Card Front View</label>
                                            <br>
                                                 <button type="button" id="custom-button">Company</button>
                                                 <span id="custom-text">No file chosen, yet.</span> 
                                                    {% if seller.company_card_front_view %} <img onerror="this.style.display='none'" class="profile-pic" src="{{ seller.company_card_front_view.url }}" alt="your company logo">{% endif %}
                                                    {{ form.company_card_front_view }} 

                                            </div>
                                           
                                            <div class="col-md-6">
                                                <label class=""> Company Card Back View</label>
                                                <div class="z">
                                                    <button type="button" id="custom-button1">Company</button>
                                                 <span id="custom-text1">No file chosen, yet.</span> 
                                                {% if seller.company_card_front_view %} <img onerror="this.style.display='none'" class="profile-pic" src="{{ seller.company_card_back_view.url }}" alt="your company logo">{% endif %}
                                                    {{ form.company_card_back_view }}
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary pull-right" style="margin-bottom:80px;">Save</button>
                                        <div class="clearfix" ></div>
                                    </form>
     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>

<script>
const realFileBtn = document.getElementById("real-file");
const realFileBtn1 = document.getElementById("real-file1");

const customBtn = document.getElementById("custom-button");
const customTxt = document.getElementById("custom-text");

const customBtn1 = document.getElementById("custom-button1");
const customTxt1 = document.getElementById("custom-text1");

customBtn.addEventListener("click", function() {
  realFileBtn.click();
});

customBtn1.addEventListener("click", function() {
  realFileBtn1.click();
});

realFileBtn.addEventListener("change", function() {
  if (realFileBtn.value) {
    customTxt.innerHTML = realFileBtn.value.match(
      /[\/\\]([\w\d\s\.\-\(\)]+)$/
    )[1];
  }
  else {
    customTxt.innerHTML = "No file chosen, yet.";
  }
});
realFileBtn1.addEventListener("change", function() {
  if (realFileBtn1.value) {
    customTxt1.innerHTML = realFileBtn1.value.match(
      /[\/\\]([\w\d\s\.\-\(\)]+)$/
    )[1];
  }
  else {
    customTxt.innerHTML = "No file chosen, yet.";
  }
});

function copyFun() {
    var copyGfGText = document.getElementById("GfGInput");
    copyGfGText.select();
    document.execCommand("copy");
} 
var value="{{request.user.account.slug}}";

var url = `{% post_to_facebook 'https://b2b2.ramagyamart.com/value/' %}`.replace('value',value);
var url1 = `{% post_to_whatsapp 'https://b2b2.ramagyamart.com/value/' %}`.replace('value',value);
var url2 = `{% post_to_twitter 'https://b2b2.ramagyamart.com/value/' %}`.replace('value',value);
 var temp = `<a>${url}</a>
 <a>${url1}</a>
 <a>${url2}</a>` 
$(".share").append(temp);
</script>

   
{% endblock content %}



