        {% extends 'dashboard/seller/seller_base.html' %}
        {% load static %}
        {% block content %}

        <!-- Showing the Error message in red while validating form -->
        <style>
        .error {
        color:red;
        font-style:italic;
        }

        .bmd-form-group label {
            color: red;
        }

        .card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
            border-radius: 3px;
            margin-top: -20px;
            padding: 11px;
            width: 184px;
        }

.meter {
    height:18px;
    box-sizing: content-box;
    position: relative;
    margin: 33px 0 12px 0;
    background: #b0b4b8;
    border-radius: 25px;
    padding: 4px;
    box-shadow: inset 0 -1px 1px rgb(255 255 255 / 30%);
    width: 96%;
    margin-left: 2%;
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}
.meter > span:after,
.animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.orange > span {
  background-image: linear-gradient(#334e9f, #334e9f);
}

.red > span {
  background-image: linear-gradient(#f0a3a3, #f42323);
}

.nostripes > span > span,
.nostripes > span::after {
  background-image: none;
}

#page-wrap {
  width: 490px;
  margin: 80px auto;
}

h1 {
  font-size: 42px;
  font-weight: 600;
  margin: 0 0 30px;
}
pre {
  background: #000;
  text-align: left;
  padding: 20px;
  margin: 0 auto 30px;
}
* {
  box-sizing: border-box;
}
@media only screen and (max-width: 1200px) and (min-width: 480px) {
            #pad{
                margin-top: -280px !important;
            }

        }
        @media only screen and (max-width: 769px) and (min-width: 480px) {
            #pad{
                margin-top: -180px !important;
            }

        }
        @media only screen and (max-width: 480px) {
            #pad{
                margin-top: -150px !important;
            }

        }
{% comment %} CSS FOR MODAL  {% endcomment %}
.card_modal {
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    background: #fff;
    border: none;
    height: 350px;
    position: relative
}

.container_modal {
    height: 49vh
}

.mobile-text {
    color: #989696b8;
    font-size: 15px
}

.form-control_modal {
    margin-right: 12px
}

.form-control_modal:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff8880;
    outline: 0;
    box-shadow: none
}

.cursor {
    cursor: pointer
}

.ps-scrollbar-y{
    display:visible;
} 
{% comment %} end modal css  {% endcomment %}
        </style>
        <!---->
        <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  {% comment %} <span class="notification">5</span> {% endcomment %}
                  <p class="d-lg-none d-md-block">
                    Some Actions
                  </p>
                </a>
                {% comment %} <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Mike John responded to your email</a>
                  <a class="dropdown-item" href="#">You have 5 new tasks</a>
                  <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                  <a class="dropdown-item" href="#">Another Notification</a>
                  <a class="dropdown-item" href="#">Another One</a>
                </div> {% endcomment %}
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                  <a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a>
                </div>
              </li>
            </ul>
            </div>
        </div>
      </nav>
         <h3 style="margin-left:3%;"> PROFILE COMPLETNESS - {{val}}% </h3>
                <div class="meter orange nostripes" >
                <span style="width:{{val}}%"></span>
                </div>
            <div class="content">
                <div class="container-fluid" style="margin-top:-90px">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Contact Profile</h4>
                                    {% comment %} <p class="card-category">Complete your Statutory Details</p> {% endcomment %}
                                </div>
                                <div class="card-body">
                                        <form name="sellercontact" action="." method="post" onsubmit="return validateformsellercontact()" id="seller_form">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">First Name</label>
                                                    <input type="text"  onclick="call()" id="click1" class="form-control" name="first_name" value="{{ account.user.first_name }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Last Name</label>
                                                    <input type="text" onclick="call()" id="click2" class="form-control" name="last_name" value="{{ account.user.last_name }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Promoter / CEO (First Name)</label>
                                                    <input type="text" onclick="call()" id="click3" class="form-control" name="promoter_first_name" value="{{ seller.promoter_first_name }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Promoter / CEO (Last Name)</label>
                                                    <input type="text" onclick="call()" id="click4" class="form-control" name="promoter_last_name" value="{{ seller.promoter_last_name }}" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Company Name</label>
                                                    <input type="text" class="form-control" onclick="call()" id="click5"  name="company" value="{{ account.company_name }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Designation</label>
                                                    <input type="text" class="form-control" onclick="call()" id="click6" name="designation" value="{{ seller.designation }}" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Adress (Building No./Floor)</label>
                                                    <input type="text" class="form-control" onclick="call()" id="click7" name="address_building" value="{{ seller.address_building }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Address (Area/Street)</label>
                                                    <input type="text" class="form-control" onclick="call()" id="click8" name="address_area" value="{{ seller.address_area }}" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Landmark</label>
                                                    <input type="text" class="form-control" onclick="call()" id="click9" name="landmark" value="{{ seller.landmark }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Locality</label>
                                                    <input type="text" class="form-control" onclick="call()" id="click10" name="locality" value="{{ seller.locality }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">City</label>
                                                    <input type="text" class="form-control" onclick="call()" id="click11" name="city" value="{{ seller.city }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label for="id_state">State <sup class="text-danger">*</sup></label>
                                                <select id="id_state" name="state" value="{{account.state}}" class='form-control' >
                                                    <option value="{{ account.state }}"  selected>{{account.state}}</option>
                                                    <option value="Andhra Pradesh">Andhra Pradesh</option></option>
                                                    <option value="Arunachal Pradesh ">Arunachal Pradesh </option>
                                                    <option value="Assam">Assam</option>
                                                    <option value="Bihar">Bihar</option>
                                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                                    <option value="Goa">Goa</option>
                                                    <option value="Gujarat">Gujarat</option>
                                                    <option value="Haryana">Haryana</option>
                                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                    <option value="Jammu and Kashmir ">Jammu and Kashmir </option>
                                                    <option value="Jharkhand">Jharkhand</option>
                                                    <option value="Karnataka">Karnataka</option>
                                                    <option value="Kerala">Kerala</option>
                                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                    <option value="Maharashtra">Maharashtra</option>
                                                    <option value="Manipur">Manipur</option>
                                                    <option value="Meghalaya">Meghalaya</option>
                                                    <option value="Mizoram">Mizoram</option>
                                                    <option value="Nagaland">Nagaland</option>
                                                    <option value="Odisha">Odisha</option>
                                                    <option value="Punjab">Punjab</option>
                                                    <option value="Rajasthan">Rajasthan</option>
                                                    <option value="Sikkim">Sikkim</option>
                                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                                    <option value="Telangana">Telangana</option>
                                                    <option value="Tripura">Tripura</option>
                                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                    <option value="Uttarakhand">Uttarakhand</option>
                                                    <option value="West Bengal">West Bengal</option>
                                                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                                    <option value="Chandigarh">Chandigarh</option>
                                                    <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                                    <option value="Daman and Diu">Daman and Diu</option>
                                                    <option value="Lakshadweep">Lakshadweep</option>
                                                    <option value="National Capital Territory of Delhi">National Capital Territory of Delhi</option>
                                                    <option value="Puducherry">Puducherry
                                                </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Country</label>
                                                    <input type="text" class="form-control" onclick="call()" id="click13" name="country" value="India" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Pincode</label>
                                                <input type="number" class="form-control" onclick="call()" id="click14" name="pincode" value="{{ account.pincode }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">GSTIN</label>
                                                    <input type="text" class="form-control" onclick="call()" id="click15" name="gstin" value="{{ seller.gstin }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Company Website</label>
                                                    <input type="text" class="form-control" onclick="call()" id="click16" name="company_website" value="{{ seller.company_website }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Mobile Number</label>
                                                    <input type="number" class="form-control" name="mobile" value="{{ account.mobile }}" >

                                                    {% if verify  == 0 %}
                                                      <a href="{% url 'dashboard:generate_otp' %}"  style="color:red;font-size: 12px;font-weight: bold;">Click here to verfiy your mobile number**</a>
                                                    {% else %}
                                                    <span style="color:green;font-weight:bold;">&#10004;&#65039;Mobile verified </span>
                                                    {% endif %}
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Alernative Mobile Number</label>
                                                    <input type="number" onclick="call()" id="click18" class="form-control" name="alternative_mobile" value="{{ seller.alternative_mobile }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Email Id</label>
                                                    <input type="email" onclick="call()" id="click19" class="form-control" name="email" value="{{ account.user.email }}" style="background: none;"readonly >
                                                    <span style="color:green;font-weight:bold;">&#10004;&#65039;Email verified </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Alernative Email Id</label>
                                                    <input type="email" onclick="call()" id="click20" class="form-control" name="alternative_email" value="{{ seller.alternative_email }}" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Landline No.</label>
                                                    <input type="number" onclick="call()" id="click21" class="form-control" name="landline_no" value="{{ seller.landline_no }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Alternative Landline No</label>
                                                    <input type="number" onclick="call()" id="click22" class="form-control" name="alternative_landline_no" value="{{ seller.alternative_landline_no }}" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>About Me</label>
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating"></label>
                                                        <textarea class="form-control" onclick="call()" id="click23" rows="5" name="about_me">{{ seller.about_me }}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="submit" class="btn btn-primary pull-right" onclick="first()" value="Update Profile" style="margin-bottom:80px;">                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
$(document).ready(function(){
    $("html").removeClass("perfect-scrollbar-on");
});
</script>
    {% endblock content %}
