{% extends 'dashboard/seller/seller_base.html' %}
{% load static %}
   {% block content %}

<style>
.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 11px;
    width: 184px;
}

</style>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                   
                    <div class="collapse navbar-collapse justify-content-end">
                        <form class="navbar-form">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                    </button>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid" style="margin-top: -80px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Manage Product</h4>
                                    {% comment %} <p class="card-category">Manage your products</p> {% endcomment %}
                                </div>
                                <div class="card-body">

                                    <div class="container py-5 my-5">
                                        <div class="row justify-content-center">
                                            <div class="text-center py-4">
                                            <h4 class="pt-3 pb-3"><b>Are you sure you want to delete this product ?</b> </h4>
                                                <form method="POST"> 
                                            <!-- Security token by Django -->
                                            {% csrf_token %} 
                                            
                                            <input type="submit" class="btn btn-danger"value="Yes" /> 
                                            <a  class="btn btn-success" href="{% url 'dashboard:seller_manage_product' %}">Cancel </a> 
                                        </form> 
                                            </div>
                                        </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock content %}
          

