{% extends 'dashboard/seller/seller_base.html' %}
{% load static %}
   {% block content %}
   <style>
    .card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
        border-radius: 3px;
        margin-top: -20px;
        padding: 11px;
        width: 274px;
    }
    </style>
    <div class="main-panel">
      <!-- Navbar -->
      {% comment %} <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;">User Profile</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:;">
                  <i class="material-icons">dashboard</i>
                  <p class="d-lg-none d-md-block">
                    Stats
                  </p>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  <span class="notification">5</span>
                  <p class="d-lg-none d-md-block">
                    Some Actions
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Mike John responded to your email</a>
                  <a class="dropdown-item" href="#">You have 5 new tasks</a>
                  <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                  <a class="dropdown-item" href="#">Another Notification</a>
                  <a class="dropdown-item" href="#">Another One</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Log out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav> {% endcomment %}
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Payments from B2B Mart</h4>
                </div>
                <div class="card-body">
                  <div class="tab-content text-center">
                    <div class="tab-pane active" id="paymentToB2b">
                      <div class="table-responsive">
                        <table class="table">
                          <thead class=" text-primary">
                            <tr>
                              <th>
                                ID
                              </th>
                              <th>
                                User Details
                              </th>
                              <th>
                                Purpose
                              </th>
                              <th>
                                Bank Method
                              </th>
                              <th class="w-25">
                                Action
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                1
                              </td>
                              <td>
                               Test-1
                              </td>
                              <td>
                               Test-2
                              </td>
                              <td>
                               Test-3
                              </td>
                              <td>
                                <i class="material-icons text-warning">file_download</i>
                                <i class="material-icons text-danger">delete</i>
                                <i class="material-icons text-success">send</i>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="tab-pane" id="paymentFromB2b">
                      <table class="table">
                        <thead class=" text-primary">
                          <tr>
                            <th>
                              ID
                            </th>
                            <th>
                              User Details
                            </th>
                            <th>
                              Purpose
                            </th>
                            <th>
                              Bank Method
                            </th>
                            <th>
                              Certificate Name
                            </th>
                            <th class="w-25">
                              Action
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              1
                            </td>
                            <td>
                             Test-1
                            </td>
                            <td>
                             Test-2
                            </td>
                            <td>
                             Test-3
                            </td>
                            <td>
                             Test-4
                            </td>
                            <td>
                              <i class="material-icons text-warning">file_download</i>
                              <i class="material-icons text-success">send</i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
          