<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

        <title>Title</title>
        <style type="text/css">
            body {
                font-weight: 200;
                font-size: 14px;
            }
            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .title {
                font-size: 22px;
                font-weight: 100;
               /* text-align: right;*/
               padding: 10px 20px 0px 20px;  
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 10px 20px 0px 20px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }
            .dilip{
                margin-right: 0%;
                padding-right: 0%;
                text-align: right;
            }
            .address{
                text-align: right;
            }
            table{
                border: 2px solid red;
                margin-top:2px;
                margin-bottom:2px;
                padding-top:2px;
                padding: bottom 2px;
            }
        </style>
    </head>
    <body>
        <div class='wrapper'>
            <div class='header'>
                <p class='title'>Invoice # </p>
            </div>
        <div>
        <div class='details'>
            Bill to: {{order.user.username}} <br/>
            Amount: {{amount}} <br/>
            Date: 20/05/2021
            <hr class='hrItem' />
        </div>
    </div>
    <div class="container">
        <div class="row">
            
            <div class="dilip">
                {{order.id}}
            </div>
        </div>
    </div>
    <hr>
    <table class="table mytable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"style="text-align:left">First</th>
            <th scope="col"style="text-align:left">Last</th>
            <th scope="col"style="text-align:left">Handle</th>
          </tr>
        </thead>
        <tbody>
            {% for i in "1234" %}
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
            {% endfor %}

        </tbody>
      </table>
      <!-- <img src="https://picsum.photos/200"> -->
      <div class="address">
          Delivery address:<br>
          Dilip Sapkota,<br>
          Peenya industrial area,<br>
          Bangalore 560058

      </div>
    </body>
</html>