{% extends 'dashboard/seller/seller_base.html' %}
{% load static %}
   {% block content %}
<style>
.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 11px;
    width: 204px;
}

@media (max-width:500px){
    .mob{
        overflow-x:auto;
    }
    .imp{
        width:214%;
    }
}

</style>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <form class="navbar-form">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                <div class="ripple-container"></div>
            </button>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid" style="margin-top: -42px;">
                    <div class="row">
                        <div class="col-md-12 mob" style="margin-top: -34px">
                            <div class="card imp ">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title" style="font-size: 20px;">Rearrange Product</h4>
                                </div>
                                <div class="card-body">

                                    <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">name</th>
                                            <th scope="col">price</th>
                                            <th scope="col">Brand</th>
                                            <th scope="col">Color</th>
                                            <th scope="col">Warranty</th>
                                            <th scope="col">Arrange to my site</th>
                                            <th scope="col">Add to home</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in object_list %}                                              
                                          <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ i.name }}</td>
                                            <td>{{ i.price }}</td>
                                            <td>{{ i.brand }}</td>
                                            <td>{{ i.color }}</td>
                                            <td>{{ i.warranty }}</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                        {{ i.arrange }}
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                      <li><a class="dropdown-item" href="{% url 'dashboard:seller_unarrange_product' i.id %}">Remove From My Site</a></li>
                                                      <li><a class="dropdown-item" href="{% url 'dashboard:seller_arrange_product' i.id %}">Add To My Site</a></li>
                                                    </ul>
                                                  </div>
                                            
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                        {{ i.add_home }}
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                      <li><a class="dropdown-item" href="{% url 'dashboard:seller_remove_home_product' i.id %}">Remove From Home</a></li>
                                                      <li><a class="dropdown-item" href="{% url 'dashboard:seller_add_home_product' i.id %}">Add To Home</a></li>
                                                    </ul>
                                                  </div>
                                            </td>
                                          </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock content %}
          