{% extends 'dashboard/seller/seller_base.html' %}
{% load static %}
{% block content %}
<style>
    @media (max-width:500px){
    .mob{
        overflow-x:auto;
    }
    .imp{
        width:230%;
    }
}
</style>
</style>
<div class="main-panel">
    <div class="content">
        <div class="container-fluid" >
            <div class="row">
                <div class="col-md-12 mob">
                    <div class="card imp">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title" style="font-size: 20px;">Order Lists</h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered border-info">
                                <thead>    
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">product</th>
                                    <th scope="col">ordered on</th>
                                    <th scope="col">ordered from</th>
                                     <th scope="col">Image</th>
                                    <th scope="col">Payment</th>
                                    <th scope="col">status</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for obj in object_list %}
                                  <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td><a href="{% url 'dashboard:seller_order_detail' obj.pk %}">{{ obj.user.username }}</a></td>
                                    <td>{{ obj.user.account.mobile }}</td>
                                    <td>{{ obj.user.account.state }}, {{ obj.user.account.pincode }}</td>
                                    <td>{{ obj.product.name}}</td>
                                    <td>{{ obj.ordered_date }}</td>
                                    <td>{{ obj.order_product.shipping_address.state }}, {{ obj.order_product.shipping_address.city }}</td>
                                    <td><a href="{% url 'dashboard:seller_order_detail' obj.pk %}"><img src="{{ obj.price.image1.url }}" height=auto; width=100px;></a></td>
                                    <td>{{ obj.payment.txn_amount }}</td>
                                    <td>   
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{ obj.status }}
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                              <a class="dropdown-item" href="{% url 'dashboard:seller_order_confirmed' obj.pk %}">Order confirmed</a>
                                              <a class="dropdown-item" href="{% url 'dashboard:seller_order_processing' obj.pk %}">Processing order</a>
                                              <a class="dropdown-item" href="{% url 'dashboard:seller_quality_check' obj.pk %}">Quality check</a>
                                              <a class="dropdown-item" href="{% url 'dashboard:seller_product_dispatch' obj.pk %}">Product dispatched</a>
                                              <a class="dropdown-item" href="{% url 'dashboard:seller_product_delivered' obj.pk %}">Product delivered</a>
                                            </div>
                                          </div>
                                    </td>
                                </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
