{% extends 'dashboard/seller/seller_base.html' %}
{% load static %}
{% block content %}
<div class="main-panel">
    <div class="content">
        <div class="container-fluid" >
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title" style="font-size: 20px;">Order Details</h4>
                        </div>
                        <div class="card-body">
                            {% comment %} <!-- <a class="btn btn-primary" href="{% url 'dashboard:generate_pdf' obj.pk %}" target="_blank">generate pdf</a> --> {% endcomment %}
                            <table class="table table-bordered border-info">
                                <thead>    
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">name</th>
                                    <th scope="col">mobile</th>
                                    <th scope="col">product</th>
                                    <th scope="col">ordered on</th>
                                    <th scope="col">ordered from</th>
                                   
                                    <th scope="col">Payment</th>
                                    <th scope="col">status</th>
                                </tr>
                                </thead>
                                <tbody>
                                   
                                  <tr> {% for obj in object_list %}
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ obj.user.username }}</td>
                                    <td>{{ obj.user.account.mobile }}</td>
                                    <td>
                                        <img src="{{ obj.price.image1.url }}"class="rounded-circle" alt="Product image" width=80px; height=auto;>
                                    </td>
                                    <td>{{ obj.create_at }}</td>
                                    <td>{{ obj.order_product.shipping_address.state }}, {{ obj.order_product.shipping_address.city }}</td>
                                    <td>{{ obj.payment.txn_amount }}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{ obj.status }}
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                              <a class="dropdown-item" href="{% url 'dashboard:seller_order_confirmed' obj.pk %}">Order confirmed</a>
                                              <a class="dropdown-item" href="{% url 'dashboard:seller_order_processing' obj.pk %}">Processing order</a>
                                              <a class="dropdown-item" href="{% url 'dashboard:seller_quality_check' obj.pk %}">Quality check</a>
                                              <a class="dropdown-item" href="{% url 'dashboard:seller_product_dispatch' obj.pk %}">Product dispatched</a>
                                              <a class="dropdown-item" href="{% url 'dashboard:seller_product_delivered' obj.pk %}">Product delivered</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>{% endfor %}
                                </tbody>
                            </table>
                            <a href="{% url 'dashboard:seller_order_list' %}" class="btn btn-primary pull-right">go back</a>

                            
                            {% for i in obj.products_set.all %}
                                {{i.name}}
                            {% endfor %}
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
