{% extends 'dashboard/seller/seller_base.html' %}
{% load static %}
   {% block content %}
        <div class="main-panel">
            <!-- Navbar -->
        
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title" style="font-size: 20px;">Category Update</h4>
                                    <p class="card-category">Category update</p>
                                </div>
                                <div class="card-body">

                                    <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">First</th>
                                            <th scope="col">Last</th>
                                            <th scope="col">Handle</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in "Dilip" %}                                              
                                          <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                          </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock content %}
          