        {% extends 'dashboard/seller/seller_base.html' %}
        {% load static %}
        {% block content %}
        <!-- Showing the Error message in red while validating form -->
        <style>
            .error{
                color:red;
                font-style:italic;
            }
            .bmd-form-group label {
                color: red;
            }  

 .card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 11px;
    width: 184px;
}

#custom-button,#custom-button1,#custom-button2 {
        width: 103px;
    height: 34px;
    padding: 6px;
    color: black;
    background-color: #e3e5eb;
    border-radius: 5px;
    cursor: pointer;
}
#custom-button:hover, #custom-button1:hover,#custom-button2:hover{
  background-color: #334e9f;
  color:white;
}

#custom-text,#custom-text1,#custom-text2 {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}

        </style>
        <!---->
        <div class="main-panel">
          
            <div class="content">
                <div class="container-fluid" style="margin-top:-80px">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title" style="font-size: 20px;">Company Details</h4>
                                    {% comment %} <p class="card-category">Complete your Company Details</p> {% endcomment %}
                                </div>
                                <div class="card-body">


                                    <form method="POST" id="company" action="" enctype="multipart/form-data">
                                        {% csrf_token %}
                                         <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                <label for="product_name" class="bmd-label-floating">About Seller</label>
                                                    {{form.about_seller}}
                                                </div>
                                            </div>
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                <label class="bmd-label-floating" >No. of employees</label>
                                                    {{form.no_of_employees}}
                                                </div>
                                            </div>
                                        </div>
                                       

                                        <div class="row">
                                            <div class="col-md-6">
                                                <button type="button" id="custom-button2">Banner Image</button>
                                                 <span id="custom-text2">No file chosen, yet.</span> 
                                                 {{form.banner_image}}   
                                                <div style="color:red">
                                                 Image dimension must be 1920x1820**
                                                </div>                                                
                                            </div>
                                            <div class="col-md-6">                                               
                                                <button type="button" id="custom-button1">Logo</button>
                                                 <span id="custom-text1">No file chosen, yet.</span>    
                                                    {{form.logo}}
                                                <div style="color:red">
                                                 Image dimension must be 180x200**
                                                </div>                                               
                                            </div>
                                             
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                <label class="bmd-label-floating" >YouTube video Link</label>
                                                                                           
                                                    {{form.branded_video}}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                               <button type="button" id="custom-button">Catalogue</button>
                                                <span id="custom-text">No file chosen, yet.</span> 
                                                    {{form.catalogue}}                                            
                                            </div>
                                        </div>
                                        
                                        <div class="row">                
                                            <div class="col-md-6">
                                              
                                             <div class="form-group">
                                                    <label for="product_name" class="bmd-label-floating">Legal status of firm</label>
                                                    {{ form.legal_status_of_firm }}
                                                </div>
                                            </div>  
                                            <!--<div class="col-md-6">-->
                                            <!--    <button type="button" id="custom-button2">Banner Image</button>-->
                                            <!--     <span id="custom-text2">No file chosen, yet.</span> -->
                                            <!--     {{form.banner_image}}   -->

                                               
                                                                                               
                                            <!--</div>    -->
                                        </div>
                                        
                                
                                    <input class="btn btn-primary pull-right" type="submit" name="Update Information">
                                    </form>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
const realFileBtn = document.getElementById("real-file");
const realFileBtn1 = document.getElementById("real-file1");
const realFileBtn2 = document.getElementById("real-file2");

const customBtn = document.getElementById("custom-button");
const customTxt = document.getElementById("custom-text");

const customBtn1 = document.getElementById("custom-button1");
const customTxt1 = document.getElementById("custom-text1");

const customBtn2 = document.getElementById("custom-button2");
const customTxt2 = document.getElementById("custom-text2");
customBtn.addEventListener("click", function() {
  realFileBtn.click();
});

customBtn1.addEventListener("click", function() {
  realFileBtn1.click();
});

customBtn2.addEventListener("click", function() {
  realFileBtn2.click();
});
realFileBtn.addEventListener("change", function() {
  if (realFileBtn.value) {
    customTxt.innerHTML = realFileBtn.value.match(
      /[\/\\]([\w\d\s\.\-\(\)]+)$/
    )[1];
  }
  else {
    customTxt.innerHTML = "No file chosen, yet.";
  }
});
realFileBtn1.addEventListener("change", function() {
  if (realFileBtn1.value) {
    customTxt1.innerHTML = realFileBtn1.value.match(
      /[\/\\]([\w\d\s\.\-\(\)]+)$/
    )[1];
  }
  else {
    customTxt.innerHTML = "No file chosen, yet.";
  }
});
realFileBtn2.addEventListener("change", function() {
  if (realFileBtn2.value) {
    customTxt2.innerHTML = realFileBtn2.value.match(
      /[\/\\]([\w\d\s\.\-\(\)]+)$/
    )[1];
  } 
  else {
    customTxt2.innerHTML = "No file chosen, yet.";
  }
});
</script>
    <!-- <center>{{form.as_p}}</center> -->
    {% endblock content %}
