{% extends 'dashboard/seller/seller_base.html' %}
{% load static %}
{% block content %}
<!-- Showing the Error message in red while validating form -->
<style>
    .error{
    color:red;
    font-style:italic;
            }
            .bmd-form-group label {
                color: red;
                }

.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
border-radius: 3px;
margin-top: -20px;
padding: 11px;
width: 184px;
}
@media only screen and (max-width: 1200px) and (min-width: 480px) {
    #pad{
        margin-top: -400px !important;
    }

}
@media only screen and (max-width: 769px) and (min-width: 480px) {
    #pad{
        margin-top: -200px !important;
    }

}
@media only screen and (max-width: 480px) {
    #pad{
        margin-top: -250px !important;
    }

}


</style>
<!---->
<div class="main-panel">
    <div class="content">
        <div class="container-fluid" style="margin-top:-90px">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title" style="font-size: 20px;">SEO Details</h4>
                            {% comment %} <p class="card-category">Complete your Statutory Details</p> {% endcomment %}
                        </div>
                        <div class="card-body">
                            <form action = "{% url 'accounts:search_engine' %}" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating" for id="id_gst_no">Meta Title</label>
                                            {{ form.meta_title }}
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating" for id="id_pan_no">Meta Description</label>
                                            {{ form.meta_decscription }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating" for id="id_tan_no">Meta Keywords</label>
                                            {{ form.meta_keywords }}
                                        </div>
                                    </div>
                                </div>
                                
                                <input type="submit" class="btn btn-primary pull-right"value="Save" style="margin-bottom:80px;">
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- <center>{{form.as_p}}</center> -->
{% endblock content %}
