        {% extends 'dashboard/seller/seller_base.html' %}
        {% load static %}
        {% block content %}
        <!-- Showing the Error message in red while validating form -->
        <style>
            .error{
            color:red;
            font-style:italic;
                    }
                    .bmd-form-group label {
                        color: red;
                        }

.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 11px;
    width: 184px;
}
@media only screen and (max-width: 1200px) and (min-width: 480px) {
            #pad{
                margin-top: -400px !important;
            }

        }
        @media only screen and (max-width: 769px) and (min-width: 480px) {
            #pad{
                margin-top: -200px !important;
            }

        }
        @media only screen and (max-width: 480px) {
            #pad{
                margin-top: -250px !important;
            }

        }


        </style>
        <!---->
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid" style="margin-top:-90px">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title" style="font-size: 20px;">Statutory Details</h4>
                                    {% comment %} <p class="card-category">Complete your Statutory Details</p> {% endcomment %}
                                </div>
                                <div class="card-body">
                                    <form action="" method="post" id="satutory_form">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" for id="id_gst_no">Company GST No.</label>
                                                    <input type="text" class="form-control" name="gst_no" id="id_gst_no" value="{{ statutory.gst_no }}" maxlength = "15" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength); ">
                                                </div>
                                            </div> 
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" for id="id_pan_no">PAN No.</label>
                                                    <input type="text" class="form-control"name="pan_no"id="id_pan_no" value="{{ statutory.pan_no }}" maxlength = "10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength); ">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" for id="id_tan_no">TAN NO.</label>
                                                    <input type="text" class="form-control"name="tan_no"id="id_tan_no" value="{{ statutory.tan_no }}" maxlength = "10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength); ">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" for id="id_cin_no">CIN No.</label>
                                                    <input type="text" class="form-control"name="cin_no"id="id_cin_no" value="{{ statutory.cin_no }}" maxlength = "21" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength); ">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" for id="id_dgft_ie_code">DGFT/IE Code</label>
                                                    <input type="text" class="form-control"name="dgft_ie_code"id="id_dgft_ie_code" value="{{ statutory.dgft_ie_code }}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" for id="id_company_registration_no">Company Registration No.</label>
                                                    <input type="text" class="form-control"name="company_registration_no"id="id_company_registration_no" value="{{ statutory.company_registration_no }}">
                                                </div>
                                            </div>
                                        </div>
                                        <input type="submit" class="btn btn-primary pull-right"value="Save" style="margin-bottom:80px;">
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <center>{{form.as_p}}</center> -->
    {% endblock content %}
        