{% extends 'dashboard/seller/seller_base.html' %}
{% load static %}
   {% block content %}
   <!-- Showing the Error message in red while validating form -->
        <style>
            .error{
                color:red;
                font-style:italic;
            }
            .bmd-form-group label {
                color: red;
            }

            .card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
                border-radius: 3px;
                margin-top: -20px;
                padding: 11px;
                width: 184px;
            }
            
.save{
    margin-top: 40px;margin-left: 85%;margin-bottom: 100px;
}
#custom-button,#custom-button1,#custom-button2,#custom-button4 {
        width: 103px;
    height: 34px;
    padding: 6px;
    color: black;
    background-color: #e3e5eb;
    border-radius: 5px;
    cursor: pointer;
}
#custom-button:hover, #custom-button1:hover,#custom-button2:hover,#custom-button4:hover{
  background-color: #334e9f;
  color:white;
}

#custom-text,#custom-text1,#custom-text2 {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}
.row {
    width: 100%;
}
.ps-scrollbar-y{
    display:visible;
} 

@media (max-width:500px){
    .container-fluid {
        width: 113%;
    }
    .left{
        margin-left:7%;
    }
    .save{
        width: 30%;
    margin-left: 65%;
    }
} 
 </style>

        <!---->
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper"> 
                    {% comment %} <a class="navbar-brand" href="javascript:;">User Profile</a> {% endcomment %}
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation"> <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <!-- <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span> -->
                    </button>

                </div>
            </nav>

            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid" style="margin-top:-93px;">
                    <div class="row" >
                         <div class="row">
                        <div class="col-md-12">
                            <div class="card h-100">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title" style="font-size: 20px;">Update Product</h4>
                                </div>
                               <!-- ///////////////////////////////////////////// -->
                                <div>
                                    <div class="container mt-3">
                                        <form action="" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="col-8 mx-auto">
                                            {{ form.as_p }}
                                        
                                        <fieldset>
                                            <legend>Add Price Color And Image</legend>
                                            {{ price_form.management_form }}
                                            {{ price_form.non_form_errors }}
                                            {% for form in price_form %}
                                                {{ form.id }}
                                                <div class="inline {{ price_form.prefix }}">
                                                    {{ form.minimum_quantity.errors }}
                                                    {{ form.minimum_quantity.label_tag }}
                                                    {{ form.minimum_quantity }}<br>

                                                    {{ form.maximum_quantity.errors }}
                                                    {{ form.maximum_quantity.label_tag }}
                                                    {{ form.maximum_quantity }}<br>

                                                    {{ form.price_per_piece.errors }}
                                                    {{ form.price_per_piece.label_tag }}
                                                    {{ form.price_per_piece }}<br>

                                                    {{ form.color.errors }}
                                                    {{ form.color.label_tag }}
                                                    {{ form.color }}<br>

                                                    {{ form.image1.errors }}
                                                    {{ form.image1.label_tag }}
                                                    {{ form.image1 }}<br>

                                                    {{ form.image2.errors }}
                                                    {{ form.image2.label_tag }}
                                                    {{ form.image2 }}<br>

                                                    {{ form.image3.errors }}
                                                    {{ form.image3.label_tag }}
                                                    {{ form.image3 }}<br>

                                                    {{ form.image4.errors }}
                                                    {{ form.image4.label_tag }}
                                                    {{ form.image4 }}<br>

                                                    {{ form.image5.errors }}
                                                    {{ form.image5.label_tag }}
                                                    {{ form.image5 }}<br>
                                                </div>
                                            {% endfor %}
                                        </fieldset>
                                        <input type="submit" value="Update Product" class="submit btn btn-primary float-right" />
                                    </form>
                                    </div>
                                </div>
                                </div> 



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    {% block extra_scripts %}
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    

    <script type="text/javascript">
        $(function() {
            $(".inline.{{ price_form.prefix }}").formset({
                prefix: "{{ price_form.prefix }}",
            })
            $(".inline.{{ instruction_form.prefix }}").formset({
                prefix: "{{ instruction_form.prefix }}",
            })
        })
    </script>
    {% endblock extra_scripts %}