{% extends 'dashboard/seller/seller_base.html' %}
{% load static %}
   {% block content %}
   <!-- Showing the Error message in red while validating form -->
        <style>
            .error{
                color:red;
                font-style:italic;
            }
            .bmd-form-group label {
                color: red;
            }

            .card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
                border-radius: 3px;
                margin-top: -20px;
                padding: 11px;
                width: 184px;
            }

        </style>
        <!---->
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper"> 
                    {% comment %} <a class="navbar-brand" href="javascript:;">User Profile</a> {% endcomment %}
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation"> <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>

                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid" style="margin-top:-93px;">
                    <div class="row">
                         <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Add Product</h4>
                                </div>
                               
                                <div class="card-body">
                                    <form action="." method="post" id="add_product" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Enter Product Name</label>
                                                    <input type="text" class="form-control" name="Product_name" >
                                                </div>
                                            </div>
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Color</label>
                                                    <input type="text" class="form-control" name="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Price</label>
                                                    <input type="number" class="form-control" name="price" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Unity Type</label>
                                                    <input type="text" class="form-control" name="unity_type" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                 <div class="form-group">
                                                    <label class="bmd-label-floating" >Minimum Order Quantity</label>
                                                    <input type="text" class="form-control" name="min_order_qty" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                            <div class="form-group">
                                                    <label class="bmd-label-floating" >Description</label>
                                                    <input type="text" class="form-control" name="desc" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                            
                                                <div class="form-group" style="margin-top:39px;">
                                                        <label for="product_group" class="bmd-label-floating">Product Category</label>
                                                        <select class="form-control" id="product_group1" name="product_group">
                                                        <option value="">Select Option</option>
                                                        <option value="Kitchen_stoves" >Kitchen stoves</option>
                                                        <option value="mixture_grinder" >Mixture Grinder</option>
                                                        <option value="rice_cookers" >Rice Cookers</option>
                                                        <option value="food_processors">Food Processors</option>
                                                        <option value="juicers">Juicers</option>
                                                        <option value="blenders" >Blenders</option>
                                                        <option value="water_heaters" >Water Heaters</option>
                                                        <option value="water_filters">Water Filters</option>
                                                        <option value="exhaust_hoods">Exhaust Hoods</option>
                                                        <option value="sandwich_makers">Sandwich Makers</option>
                                                        <option value="toaster">Toaster</option>
                                                        <option value="deep_fryers">Deep Fryers</option>
                                                        <option value="dough_blenders">Dough Blenders</option>
                                                        <option value="coffee_makers">Coffee Makers</option>
                                                        <option value="electric_iron">Electric Iron</option>
                                                        <option value="vaccum_cleaner">Vaccum Cleaner</option>
                                                        <option value="air_purifiers">Air Purifiers</option>
                                                        <option value="trimmers_&_savers">Trimmer And Savers</option>
                                                        <option value="hair_drier">Hair Drier</option>
                                                        <option value="Oven">Oven</option>

                                                        </select>
                                                    </div>
                                             
                                            </div>
                                            <div class="col-md-6">
                                                <div class="tab-pane" id="specification">
                                                {% comment %} <div class="row"> {% endcomment %}
                                                    <input type="text" style="visibility:hidden;" id="capacity" name="capacity">
                                                    <div class="form-group">
                                                    <span class="add">
                                                
                                                        <label for="product_group" class="bmd-label-floating">Capacity</label>
                                                        <select class="form-control" onclick="javascript:yesnoCheck();" id="yesCheck" name="cap">
                                                        <option value="">Select Option</option>
                                                        <option value="200ml" >200 ml</option>
                                                        <option value="500ml" >500 ml</option>
                                                        <option value="1 L" >1 L</option>
                                                        <option value="other" >other</option>
                                                         
                                                        </select>
                                                    </div>
                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-md-6">
                                                <div class="tab-pane" id="specification">
                                                {% comment %} <div class="row"> {% endcomment %}
                                                    <input type="text" style="visibility:hidden;" id="brand" name="brand">
                                                    <div class="form-group">
                                                    <span class="add1">
                                                
                                                        <label for="brand" class="bmd-label-floating">Brand</label>
                                                        <select class="form-control" onclick="javascript:yesnoCheck1();" id="yesCheck1" name="brandd">
                                                        <option value="">Select Option</option>
                                                        <option value="prestige" >Prestige</option>
                                                        <option value="padmini" >Padmini</option>
                                                        <option value="other" >other</option>
                                                         
                                                        </select>
                                                    </div>
                                                
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="tab-pane" id="specification">
                                                {% comment %} <div class="row"> {% endcomment %}
                                                    <input type="text" style="visibility:hidden;" id="material" name="material">
                                                    <div class="form-group">
                                                    <span class="add2">
                                                
                                                        <label for="product_group" class="bmd-label-floating">Material</label>
                                                        <select class="form-control" onclick="javascript:yesnoCheck2();" id="yesCheck2" name="mat">
                                                        <option value="">Select Option</option>
                                                        <option value="polycarbonate" >Polycarbonate</option>
                                                        <option value="pet" >PET</option>
                                                        
                                                        <option value="other" >other</option>
                                                         
                                                        </select>
                                                    </div>
                                                
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Packing Details</label>
                                                    <input type="text" class="form-control" name="packing_details" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Size</label>
                                                    <input type="text" class="form-control" name="size" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Product Code</label>
                                                    <input type="text" class="form-control" name="product_code" >
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6">
                                            <div class="form-group">
                                                    <label class="bmd-label-floating" >YouTube Product video URL</label>
                                                    <input type="text" class="form-control" name="video_url" >
                                                </div>
                                            </div>
                                           </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Power</label>
                                                    <input type="text" class="form-control" name="power" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Warranty</label>
                                                    <input type="text" class="form-control" name="warranty" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Model No.</label>
                                                    <input type="text" class="form-control" name="model_no" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Closure Type</label>
                                                    <input type="text" class="form-control" name="closure_type" >
                                                </div>
                                            </div>
                                            {% comment %} <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Rating</label>
                                                    <input type="text" class="form-control" name="rating" >
                                                </div>
                                            </div> {% endcomment %}
                                            {% comment %} <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Neck Size</label>
                                                    <input type="text" class="form-control" name="neck_size" >
                                                </div>
                                            </div> {% endcomment %}
                                        </div>
                                        <div class="row">
                                        <div class="col-md-6" style="    margin-top: 22px;">                  
                                                    <label for="image1">Product Image 1</label>
                                                    <input type="file" accept="image/*"  id="image1" name="image1">
                                                     <div style="color:red;">
                                                    Image must be of size 142x145 **
                                                    </div>                                               
                                            </div>
                                             <div class="col-md-6" style="padding-top:20px;">
                                            
                                                    <label class="bmd-label-floating" >Upload Video</label>
                                                    <input type="file" accept="image/*" name="local_video_url" >
                                               
                                            </div>
                                           </div>
                                        </div>
                                        
                                                    
                                        <div class="row">
                                            
                                            <div class="col-md-6">
                                               <label for="image2" style="margin-left: 19px;">Product Image 2</label>
                                                <input type="file" accept="image/*" style="margin-left: 19px;"  id="image2" name="image2">
                                                    <div style="color:red;" style="margin-left: 19px;">
                                                     <span style="margin-left: 19px;">Image must be of size 142x145 **</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="image3" >Product Image 3</label>
                                                <input type="file" accept="image/*"  id="image3" name="image3">
                                                <div style="color:red;">
                                                Image must be of size 142x145 **
                                                </div> 
                                            </div>
                                            <input type="submit" style="margin-top: 10px;margin-left: 33px;margin-bottom: 21px;" class="btn btn-primary pull-right" value="save">
                                           
                                        </div>       
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
function yesnoCheck() {
    var tem=""
    if (document.getElementById('yesCheck').value == "other") {
        $(".add").empty();
        tem = `<label class="bmd-label-floating" >Capacity</label>
        <input type="text" class="form-control" id="capacity" name="capacity" placeholder="Capacity">`
        $('.add').append(tem)
    }
    else if (document.getElementById('yesCheck').value == "200ml") {
        document.getElementById('capacity').value = "200 ml"
        console.log(document.getElementById('capacity').value)
    }
    else if (document.getElementById('yesCheck').value == "500ml") {
        document.getElementById('capacity').value = "500 ml"
    }
    else if (document.getElementById('yesCheck').value == "1L") {
        document.getElementById('capacity').value = "1 L "
    } 
}
function yesnoCheck1() {     
     //brand
    var tem1=""
    if (document.getElementById('yesCheck1').value == "other") {
        $(".add1").empty();
        tem1 = `<label class="bmd-label-floating" >Brand</label>
        <input type="text" class="form-control" id="brand" name="brand" placeholder="Brand">`
        $('.add1').append(tem1)
    }
    else if (document.getElementById('yesCheck1').value == "prestige") {
        document.getElementById('brand').value = "Prestige"
    }
    else if (document.getElementById('yesCheck1').value == "padmini") {
        document.getElementById('brand').value = "Padmini"
    }
}

function yesnoCheck2() {
    //material
    var tem2 = ""
   if (document.getElementById('yesCheck2').value == "other") {
        $(".add2").empty();
        tem2 = `<label class="bmd-label-floating" >Material</label>
        <input type="text" class="form-control" id="material" name="material" placeholder="Material">`
        $('.add2').append(tem2)
    }
    else if (document.getElementById('yesCheck2').value == "polycarbonate") {
        console.log(document.getElementById('yesCheck2').value)
        document.getElementById('material').value = "Polycarbonate"
        
    }
    else if (document.getElementById('yesCheck2').value == "pet") {
        document.getElementById('material').value = "PET"
    }

}
</script>
 
    {% endblock content %}