{% extends 'dashboard/adminb2b/adminb2b_base.html' %}
{% load static %}
{% block content %}
<div class="main-panel">
    <div class="content">
        <div class="container-fluid" >
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">User Lists</h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered border-info" style="overflow-x: scroll;">
                                <thead>    
                                  <tr>
                                    <th scope="col">#</th>
                                    <!-- <th scope="col">user</th> -->
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">User Type</th>
                                    <th scope="col">Active Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for obj in object_list %}
                                  <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <th scope="row">{{ obj.first_name }}</th>
                                    <th scope="row">{{ obj.last_name }}</th>
                                    <td>{{ obj.email }}</td>
                                    <td>{{ obj.account.mobile }}</td>
                                    <td>{{ obj.account.business_type }}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            
                                            {% if obj.is_active %}
                                            Active user
                                            {% else %}
                                            Deactivated User
                                            {% endif %}
                                                 
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                              <a class="dropdown-item" href="{% url 'adminb2b:admin_user_activate' obj.pk %}">Activate This User</a>
                                              <a class="dropdown-item" href="{% url 'adminb2b:admin_user_deactivate' obj.pk %}">Deactivate This User</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
