{% load static %}
{% load company_logos %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'seller/assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'seller/assets/img/favicon.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  {% load cart_template_tags %}
{% include 'template_blocks/head_css.html' %}
  <title>
    Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{% static 'seller/assets/css/material-dashboard.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'seller/assets/demo/demo.css' %}" rel="stylesheet" />
  <style type="text/css">
.sidebar {
  position: absolute;
  {% comment %} margin-top: -20px; {% endcomment %}
}

.card .card-header .card-title {
    font-size:21px;
}

li.nav-item {
    padding-right: 26px;
}
@media (min-width: 992px) and (max-width:1300px) {
  .navbar .navbar-brand {
    height: 90px;
    line-height: 10px;
    margin-left: -5rem;
  }

}

@media (min-width: 1300px) and (max-width:1400px) {
  .navbar .navbar-brand {
    height: 90px;
    line-height: 10px;
    margin-left: -5rem;
  }
  .advertise{
    margin-right: -101px;
  }
}
@media (min-width: 250px) and (max-width:570px){
  .navbar .navbar-brand {
    height: 90px;
    line-height: 10px;
    margin-left: 1rem;
  }
}
@media (min-width: 570px) and (max-width:792px){
  .navbar .navbar-brand {
    margin-left: -2rem;
    height: 86px;
    line-height: 40px;
}
}

@media (min-width: 1400px) and (max-width:1600px){
  .navbar .navbar-brand {
    height: 86px;
    line-height: 40px;
    margin-left: -11rem;
  }
  .advertise{
    margin-right: -160px;
  }
}

@media (min-width: 792px) and (max-width:992px){
  navbar .navbar-brand{ 
    margin-left: -6rem;
    height: 86px;
    line-height: 40px;
  }
}
</style>
</head>
<body class="">


<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="{% static 'images/logo.png' %}" alt="">
      <span class="ml-5">| <i>Desh Ka Vyapar</i></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto w-33">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'certificate' %}"><span class="critificate-bg">Apply For Unique xxxxxxxxx Certification</span></a>
        </li>
        {% if request.user.account.business_type == "Seller" %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:seller_dashboard' %}">Seller</a>
        </li>
        {% elif request.user.account.business_type == "Buyer" %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:buyer_dashboard' %}">Buyer</a>
        </li>
        {% endif %}

        {% if not request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:seller_dashboard' %}">Seller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:buyer_dashboard' %}">Buyer</a>
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'help' %}">Help</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto right">

        {% if request.user.is_authenticated %}

        <li class="nav-item track-order">
          <a class="nav-link" href="">
            <img src="{% static 'images/trackorder.png' %}" alt="">
            <span>Track Order</span>
          </a>
        </li>
        <li class="nav-item cart">
          <a class="nav-link cart" href="">
            <img src="{% static 'images/cart.png' %}" alt="">
            <span>My Cart</span>
            {% comment %} <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_product_count }} </span> {% endcomment %}
          </a>
        </li>
        <li class="nav-item login">
          <a class="nav-link" href="{% url 'account_logout' %}">
            <img src="{% static 'images/login.png' %}" alt="">
            <span>Log Out</span>
          </a>
        </li>
        {% else %}
        <li class="nav-item login">
          <a class="nav-link" href="{% url 'account_login' %}">
            <img src="{% static 'images/login.png' %}" alt="">
            <span>Log in New User</span>
          </a>
        </li>

        {% endif %}

        <li class="nav-item advertise">
          <a class="nav-link pr-0" href="{% url 'advertise' %}">
            <img src="{% static 'images/ad.png' %}" alt="">
            <span>Advertise with us</span>
          </a>
        </li>
        {% if request.user.is_superuser %}
        <li class="nav-item advertise">
          <a class="nav-link pr-0" href="{% url 'adminb2b:enquiry_list' %}">
            <img src="{% static 'images/login.png' %}" alt="">
            <span>Admin</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
       <div class="wrapper">
      <div class="sidebar" data-color="purple" data-background-color="white" data-image="{% static 'seller/assets/img/sidebar-1.jpg' %}">
        <div class="logo position-relative">
          <a href="" class="simple-text logo-normal"> Company Logo </a>
        </div>
        <div class="sidebar-wrapper position-relative">
          <ul class="nav">
           {% if request.path == "/adminb2b/" %}
            <li class="nav-item active"> 
            {% else %}
            <li class="nav-item"> 
            {% endif %}         
              <a class="nav-link" href="#">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>  
             {% if request.path == "/adminb2b/seller-list/" %} 
              <li class="nav-item active">
             {% else %}         
              <li class="nav-item">
            {% endif %}
               <a class="nav-link" href="{% url 'adminb2b:admin_seller_list' %}">
                <i class="material-icons">article</i>
                <p class="pt-1">Sellers</p>
               </a>
              </li>
              {% if request.path == "/adminb2b/buyer-list/" %} 
              <li class="nav-item active">
              {% else %}         
                <li class="nav-item">
              {% endif %}
               <a class="nav-link" href="{% url 'adminb2b:admin_buyer_list' %}">
                <i class="material-icons">article</i>
                <p class="pt-1">Buyers</p>
              </a>
              </li>
              {% if request.path == "/adminb2b/admin-user-list/" %} 
              <li class="nav-item active">
              {% else %}         
                <li class="nav-item">
              {% endif %}
               <a class="nav-link" href="{% url 'adminb2b:admin_user_list' %}">
                <i class="material-icons">article</i>
                <p class="pt-1">Users</p>
              </a>
              </li>
              
              {% if request.path == "/adminb2b/enquiry-list/" %} 
              <li class="nav-item active">
              {% else %}  
              <li class="nav-item">
                {% endif %}
               <a class="nav-link" href="{% url 'adminb2b:enquiry_list' %}">
                <i class="material-icons">article</i>
                <p class="pt-1">Enquiries</p>
              </a>
              </li>
              {% if request.path == "/adminb2b/seller-address-list/" %}
              <li class="nav-item active">
                {% else %}
              <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="{% url 'adminb2b:seller_address_list' %}">
                 <i class="material-icons">article</i>
                 <p class="pt-1">Address Approval</p>
               </a>
               </li>

               <!-- {% if request.path == "/dashboard/seller/rearrange-product/" %}
              <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                  {% endif %}
                <a class="nav-link" href="{% url 'dashboard:seller_rearrange_product' %}">
                 <i class="material-icons">article</i>
                 <p class="pt-1">Rearrange Product</p>
               </a>
               </li> -->
          </ul>
        </div>
      </div>
      <div class="col-8 offset-3">
        {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
        {% endif %}
      </div>
{% block content %}
    
{% endblock content %}
<!--   Core JS Files   -->
{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="{% static 'seller/assets/js/core/jquery.min.js' %}"></script>
<script src="{% static 'seller/assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'seller/assets/js/core/bootstrap-material-design.min.js' %}"></script>
<script src="{% static 'seller/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<!-- Plugin for the momentJs  -->
<script src="{% static 'seller/assets/js/plugins/moment.min.js' %}"></script>
<!--  Plugin for Sweet Alert -->
<script src="{% static 'seller/assets/js/plugins/sweetalert2.js' %}"></script>
<!-- Forms Validations Plugin -->
<script src="{% static 'seller/assets/js/plugins/jquery.validate.min.js' %}"></script>
<!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script src="{% static 'seller/assets/js/plugins/jquery.bootstrap-wizard.js' %}"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="{% static 'seller/assets/js/plugins/bootstrap-selectpicker.js' %}"></script>
<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script src="{% static 'seller/assets/js/plugins/bootstrap-datetimepicker.min.js' %}"></script>
<!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
<script src="{% static 'seller/assets/js/plugins/jquery.dataTables.min.js' %}"></script>
<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="{% static 'seller/assets/js/plugins/bootstrap-tagsinput.js' %}"></script>
<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{% static 'seller/assets/js/plugins/jasny-bootstrap.min.js' %}"></script>
<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
<script src="{% static 'seller/assets/js/plugins/fullcalendar.min.js' %}"></script>
<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<script src="{% static 'seller/assets/js/plugins/jquery-jvectormap.js' %}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'seller/assets/js/plugins/nouislider.min.js' %}"></script>
<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<!-- Library for adding dinamically elements -->
<script src="{% static 'seller/assets/js/plugins/arrive.min.js' %}"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chartist JS -->
<script src="{% static 'seller/assets/js/plugins/chartist.min.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'seller/assets/js/plugins/bootstrap-notify.js' %}"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<!-- <script src="{% static 'seller/assets/js/material-dashboard.js?v=2.1.2' %}" type="text/javascript"></script> -->
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static 'seller/assets/demo/demo.js' %}"></script>
<script src="{% static 'seller/assets/js/material-dashboard.js' %}" type="text/javascript"></script>

<script>
  $(document).ready(function() {
    // Javascript method's body can be found in assets/js/demos.js
    md.initDashboardPageCharts();

  });
  
  {% comment %} const culLoc = location.href;
  const menuItem = document.querySelectorAll('a')
  const menuLen = menuItem.length
  for(Let i=0;i<menuLen;i++){
    if(menuItem[i].href === curLoc)
      menuItem[i].className = "active"
  } {% endcomment %}
</script>
</body>

</html>