
    {% extends 'dashboard/seller/seller_base.html' %}
    {% load static %}
       {% block content %}

<style>
.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 11px;
    width: 184px;
}
</style>
    <div class="main-panel">
   
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid" style="margin-top: -80px;">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Edit Profile</h4>
                  {% comment %} <p class="card-category">Complete your profile</p> {% endcomment %}
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-9">
                      <img class="img-fluid" src="{% static 'seller/assets/img/calender.jpg' %}" alt="">
                    </div>
                    <div class="col-md-3">
                      <img class="img-fluid" src="{% static 'seller/assets/img/manufacture-dashbord-edited-copy.jpg' %}" alt="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-7 mt-3">
                      <img class="img-fluid" src="{% static 'seller/assets/img/sales-to-date.png'%}" alt="">
                      <img class="img-fluid" src="{% static 'seller/assets/img/product-performance.png '%}" alt="">
                    </div>
                    <div class="col-md-5 mt-3">
                      <img class="img-fluid" src="{% static 'seller/assets/img/sales-by-region.png" '%}"alt="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mt-3">
                      <img class="img-fluid w-100" src="{% static 'seller/assets/img/Recent-Tickets.jpg' %}" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}