{% extends 'dashboard/seller/seller_base.html' %}
{% load static %}
   {% block content %}
   <!-- Showing the Error message in red while validating form -->
        <style>
            .error{
            color:red;
            font-style:italic;
                    }
                    .bmd-form-group label {
                        color: red;
                        }

 
.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 11px;
    width: 184px;
}

        </style>
        <!---->
   <!-- <h4 class="text-center">{{form.as_p}}</h4> -->
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="javascript:;">User Profile</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <form class="navbar-form">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
                            </div>
                        </form>
                        <ul class="navbar-nav">
                            {% comment %} <li class="nav-item">
                                <a class="nav-link" href="javascript:;">
                                    <i class="material-icons">dashboard</i>
                                    <p class="d-lg-none d-md-block">
                                        Stats
                                    </p>
                                </a>
                            </li> {% endcomment %}
                            {% comment %} <li class="nav-item dropdown">
                                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="d-lg-none d-md-block">
                                        Some Actions
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Mike John responded to your email</a>
                                    <a class="dropdown-item" href="#">You have 5 new tasks</a>
                                    <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                    <a class="dropdown-item" href="#">Another Notification</a>
                                    <a class="dropdown-item" href="#">Another One</a>
                                </div>
                            </li> {% endcomment %}
                            {% comment %} <li class="nav-item dropdown">
                                <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="#">Profile</a>
                                    <a class="dropdown-item" href="#">Settings</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a>
                                </div>
                            </li> {% endcomment %}
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid" style="margin-top:-53px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Bank Details</h4>
                                    {% comment %} <p class="card-category">Complete your bank details</p> {% endcomment %}
                                </div>
                                <div class="card-body">
                                    <form action="." method="post" id="Bank_detail">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" for id="id_bank_name">Bank Name</label>
                                                    <input type="text" class="form-control" name="bank_name"id="id_bank_name" value="{{ seller_bank.bank_name }}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" for id="id_account_no">Bank Account No.</label>
                                                    <input type="text" class="form-control" name="account_no"id="id_account_no" value="{{ seller_bank.account_no }}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating"for id="id_bank_account_name">Bank According Your Name</label>
                                                    <input type="text" class="form-control" name="bank_account_name"id="id_bank_account_name" value="{{ seller_bank.bank_account_name}}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating"for id="id_ifsc_code">Bank IFSC Code</label>
                                                    <input type="text" class="form-control" name="ifsc_code"id="id_ifsc_code" value="{{ seller_bank.ifsc_code }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating"for id="id_account_type">Account Type</label>
                                                    <input type="text" class="form-control" name="account_type"id="id_account_type" value="{{ seller_bank.account_type }}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating"for id="id_alternative_bank_name">Alernative Bank Name</label>
                                                    <input type="text" class="form-control" name="alternative_bank_name"id="id_alternative_bank_name" value="{{ seller_bank.alternative_bank_name }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating"for id="id_alternative_account_no">Alernative Bank Account No.</label>
                                                    <input type="text" class="form-control" name="alternative_account_no"id="id_alternative_account_no" value="{{ seller_bank.alternative_account_no }}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating"for id="id_alternative_bank_account_name">Alernative Bank According Your Name</label>
                                                    <input type="text" class="form-control" name="alternative_bank_account_name"id="id_alternative_bank_account_name" value="{{ seller_bank.alternative_bank_account_name }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating"for id="id_alternative_bank_ifsc_code">Alernative Bank IFSC Code</label>
                                                    <input type="text" class="form-control" name="alternative_bank_ifsc_code"id="id_alternative_bank_ifsc_code" value="{{ seller_bank.alternative_bank_ifsc_code }}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating"for id="id_alternative_bank_account_type">Alernative Account Type</label>
                                                    <input type="text" class="form-control" name="alternative_bank_account_type"id="id_alternative_bank_account_type" value="{{ seller_bank.alternative_bank_account_type }}">
                                                </div>
                                            </div>
                                        </div>
                                        <input type="submit" class="btn btn-primary pull-right" value="save">
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                            <!-- <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="javascript:;">
                                        <img class="img" src="../images/cooker.jpg" />
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-category text-gray">Company Name</h6>
                                    <h4 class="card-title">XXXX Mart</h4>
                                    <p class="card-description">
                                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                    </p> -->
                            <!-- <a href="javascript:;" class="btn btn-primary btn-round">Follow</a> -->
                            <!-- </div>
                            </div>-->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock content %}
          