{% extends 'dashboard/seller/seller_base.html' %}
{% load static %}
   {% block content %}

   <style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 0%;
	}
 
.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 11px;
    width: 184px;
}

</style>


<!-- Showing the Error message in red while validating form -->
<style>
    .error{
    color:red;
    font-style:italic;
            }
            .bmd-form-group label {
                color: red;
                }
</style>
<!---->
  
       <div class="main-panel">
         
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid" style="margin-top:-93px;">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Business Profile</h4>
                                    {% comment %} <p class="card-category">Complete your business profile</p> {% endcomment %}
                                </div>
                                <div class="card-body">
                                    
                                    
                                    <form method="POST" action="" id="add_product" enctype="multipart/form-data">
                                        {% csrf_token %}
                                       
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Company Name</label>
                                                    
                                                    {{ form.company_name }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Year Of Establishment</label>
                                                    {{ form.year_of_establishment }}
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Promoter / CEO (First Name)</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Promoter / CEO (Last Name)</label>
                                                    <input type="email" class="form-control">
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Additional Contact Number</label>
                                                    {{ form.phone }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <!-- <label for="type">Business Type <sup class="text-danger">*</sup></label> -->
                                                    {{ form.category }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Annual Turnover</label>
                                                    {{ form.annual_turnover }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="type">B2BMart Catalog URl <sup class="text-danger">*</sup></label>
                                                    <a href="#">https://www.b2bMart.com/art-craft/</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class=""> Company Card Front View</label>
                                                <div class="">
                                                    <!--<input type="text" class="form-control inputFileVisible" placeholder="Simple chooser...">
                                                    <input type="file" class="inputFileHidden" name="company_card_front_view">-->
                                                    <img onerror="this.style.display='none'" class="profile-pic" src="{{ seller.company_card_front_view.url }}" alt="your company logo">
                                                    {{ form.company_card_front_view }} 

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class=""> Company Card Back View</label>
                                                <div class="z">
                                                    <!--<input type="text" class="form-control inputFileVisible" placeholder="Simple chooser...">
                                                    <input type="file" class="inputFileHidden" name="company_card_back_view">-->
                                                    <img onerror="this.style.display='none'" class="profile-pic" src="{{ seller.company_card_back_view.url }}" >
                                                    {{ form.company_card_back_view }}
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary pull-right">Save</button>
                                        <div class="clearfix"></div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="javascript:;">
                                        <img class="img" src="{% static 'images/cooker.jpg' %}"``/>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-category text-gray">{{ request.user.account.company_name }}</h6>
                                    <h4 class="card-title">XXXX Mart</h4>
                                    <p class="card-description">
                                        {{ sellers.about_me }}
                                    </p>

                                    <!-- <a href="javascript:;" class="btn btn-primary btn-round">Follow</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


   
{% endblock content %}
     