        {% extends 'dashboard/seller/seller_base.html' %}
        {% load static %}
        {% block content %}
        <!-- Showing the Error message in red while validating form -->
        <style>
        .error {
        color:red;
        font-style:italic;
        }

        .bmd-form-group label {
            color: red;
        }

        .card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
            border-radius: 3px;
            margin-top: -20px;
            padding: 11px;
            width: 184px;
        }

        </style>
        <!---->
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid" style="margin-top:-90px">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Company Details</h4>
                                    {% comment %} <p class="card-category">Complete your Statutory Details</p> {% endcomment %}
                                </div>
                                <div class="card-body">
                                  <form method="POST" action="{% url 'dashboard:seller_business_profile' %}" id="add_product" enctype="multipart/form-data">
                                {% csrf_token %}
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Company Name</label>
                                            
                                            {{ form.company_name }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Year Of Establishment</label>
                                            {{ form.year_of_establishment }}
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Promoter / CEO (First Name)</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Promoter / CEO (Last Name)</label>
                                            <input type="email" class="form-control">
                                        </div>
                                    </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Additional Contact Number</label>
                                            {{ form.phone }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <!-- <label for="type">Business Type <sup class="text-danger">*</sup></label> -->
                                            {{ form.category }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Annual Turnover</label>
                                            {{ form.annual_turnover }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="type">B2BMart Catalog URl <sup class="text-danger">*</sup></label>
                                            <a href="#">https://www.b2bMart.com/art-craft/</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class=""> Company Card Front View</label>
                                        <div class="">
                                            {% comment %} <input type="text" class="form-control inputFileVisible" placeholder="Simple chooser..."> {% endcomment %}
                                            <input type="file" class="inputFileHidden" name="company_card_front_view">-->
                                            <img onerror="this.style.display='none'" class="profile-pic" src="{{ seller.company_card_front_view.url }}" alt="your company logo">
                                            {{ form.company_card_front_view }} 

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class=""> Company Card Back View</label>
                                        <div class="z">
                                            {% comment %} <input type="text" class="form-control inputFileVisible" placeholder="Simple chooser..."> {% endcomment %}
                                            <input type="file" class="inputFileHidden" name="company_card_back_view">
                                            <img onerror="this.style.display='none'" class="profile-pic" src="{{ seller.company_card_back_view.url }}" >
                                            {{ form.company_card_back_view }}
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary pull-right">Save</button>
                                <div class="clearfix"></div>
                            </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="content">
                <div class="container-fluid" style="margin-top: -300px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Edit profile</h4>
                                    {% comment %} <p class="card-category">Complete your Bank Details</p> {% endcomment %}
                                </div>
                                <div class="card-body">

                            <form name="sellercontact" action="{% url 'dashboard:seller_contact_profile' %}" method="post" onsubmit="return validateformsellercontact()" id="seller_form">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">First Name</label>
                                                    <input type="text" class="form-control" name="first_name" value="{{ account.user.first_name }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Last Name</label>
                                                    <input type="text" class="form-control" name="last_name" value="{{ account.user.last_name }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Promoter / CEO (First Name)</label>
                                                    <input type="text" class="form-control" name="promoter_first_name" value="{{ seller.promoter_first_name }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Promoter / CEO (Last Name)</label>
                                                    <input type="text" class="form-control" name="promoter_last_name" value="{{ seller.promoter_last_name }}" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Company Name</label>
                                                    <input type="text" class="form-control" name="company" value="{{ account.company_name }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Designation</label>
                                                    <input type="text" class="form-control" name="designation" value="{{ seller.designation }}" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Adress (Building No./Floor)</label>
                                                    <input type="text" class="form-control" name="address_building" value="{{ seller.address_building }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Address (Area/Street)</label>
                                                    <input type="text" class="form-control" name="address_area" value="{{ seller.address_area }}" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Landmark</label>
                                                    <input type="text" class="form-control" name="landmark" value="{{ seller.landmark }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Locality</label>
                                                    <input type="text" class="form-control" name="locality" value="{{ seller.locality }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">City</label>
                                                    <input type="text" class="form-control" name="city" value="{{ seller.city }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">State</label>
                                                    <input type="text" class="form-control" name="state" value="{{ account.state }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Country</label>
                                                    <input type="text" class="form-control" name="country" value="{{ seller.country }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Pincode</label>
                                                <input type="number" class="form-control" name="pincode" value="{{ account.pincode }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">GSTIN</label>
                                                    <input type="text" class="form-control" name="gstin" value="{{ seller.gstin }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Company Website</label>
                                                    <input type="text" class="form-control" name="company_website" value="{{ seller.company_website }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Mobile Number</label>
                                                    <input type="number" class="form-control" name="mobile" value="{{ account.mobile }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Alernative Mobile Number</label>
                                                    <input type="number" class="form-control" name="alternative_mobile" value="{{ seller.alternative_mobile }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Email Id</label>
                                                    <input type="email" class="form-control" name="email" value="{{ account.user.email }}"readonly style="background: none;" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Alernative Email Id</label>
                                                    <input type="email" class="form-control" name="alternative_email" value="{{ seller.alternative_email }}" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Landline No.</label>
                                                    <input type="number" class="form-control" name="landline_no" value="{{ seller.landline_no }}" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Alternative Landline No</label>
                                                    <input type="number" class="form-control" name="alternative_landline_no" value="{{ seller.alternative_landline_no }}" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>About Me</label>
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating"></label>
                                                        <textarea class="form-control" rows="5" name="about_me">{{ seller.about_me }}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="submit" class="btn btn-primary pull-right" value="Update Profile" style="margin-bottom:80px;">                                        <div class="clearfix"></div>
                                    </form>
                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <!-- <center>{{form.as_p}}</center> -->
    {% endblock content %}
        