<div class="main"> 
    <!-- Create a Form -->
    <form method="POST"> 
        <!-- Security token by Django -->
        {% csrf_token %} 
        Are you want to delete this product ? 
        <input type="submit" value="Yes" /> 
        <a href="{% url 'dashboard:seller_manage_product' %}">Cancel </a> 
    </form> 
</div> 