{% extends 'dashboard/seller/seller_base.html' %}
{% load static %}
   {% block content %}

<style>
.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 11px;
    width: 133px;
}
</style>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
           
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid" style="margin-top: -78px;">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Documents</h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="product-item">
                        <div class="row">
                          <div class="col-md-6 d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src="../images/cooker.jpg" alt="">
                          </div>
                          <div class="col-md-6 d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src="../images/product/compare-img2.png" alt="">
                          </div>
                          <div class="col-md-6 d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src="../images/product/compare-img2.png" alt="">
                          </div>
                          <div class="col-md-6 d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src="../images/cooker.jpg" alt="">
                          </div>
                        </div>
                        <h4 class="mb-0"><strong>Hello, {{request.user}}</strong></h4>
                       <div class="row">
                       <div class="column">
                       <img class="img-responsive" src="/media/{{logo}}" style="border-radius: 50%;width:100px; height:100px;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}