{% extends 'dashboard/adminb2b/adminb2b_base.html' %}
{% load static %}
{% block content %}
<div class="main-panel">
    <div class="content">
        <div class="container-fluid" >
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Enquiry Lists</h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered border-info" style="overflow-x: scroll;">
                                <thead>    
                                  <tr>
                                    <th scope="col">#</th>
                                    <!-- <th scope="col">user</th> -->
                                    <th scope="col">Name</th>
                                    <th scope="col">Seller</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">Business Type</th>
                                    <th scope="col">Message</th>
                                    <th scope="col">Approve</th>
                                    <!-- <th scope="col">Approve to</th> -->
                                </tr>
                                </thead>
                                <tbody>
                                    {% for obj in buyer_list %}
                                  <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <th scope="row">{{ obj.user }}</th>
                                    <td><a href="{% url 'adminb2b:enquiry_detail' obj.pk%}">{{ obj.name }}</a></td>
                                    <td><a href="{% url 'adminb2b:enquiry_detail' obj.pk%}">{{ obj.email }}</a></td>
                                    <td>{{ obj.mobile }}</td>
                                    <td>{{ obj.business_type }}</td>
                                    <td>{{ obj.message|truncatechars:"20" }}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ obj.approve }}
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                              <a class="dropdown-item" href="{% url 'adminb2b:enquiry_approve' obj.pk %}">Approve</a>
                                              <a class="dropdown-item" href="{% url 'adminb2b:enquiry_unapprove' obj.pk %}">unapprove</a>
                                            </div>
                                        </div>
                                    </td>
                                    <!-- <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ obj.send_to }}
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                              {% for name, value in obj.send_to %}
                                                  <a class="dropdown-item" href="{% url 'adminb2b:enquiry_unapprove' obj.pk %}">{{ name }}</a>
                                              {% endfor %}
                                            </div>
                                        </div>
                                    </td> -->
                                </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
