{% extends 'dashboard/adminb2b/adminb2b_base.html' %}
{% load static %}
{% block content %}
<div class="main-panel">
    <div class="content">
        <div class="container-fluid" >
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Enquiry Details</h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered border-info">
                                <thead>    
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Seller</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">Business Type</th>
                                    <th scope="col">Message</th>
                                    <th scope="col">Approve</th>
                                </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>{{ object.name }}</td>
                                    <td>{{ object.seller }}</td>
                                    <td>{{ object.email }}</td>
                                    <td>{{ object.mobile }}</td>
                                    <td>{{ object.business_type }}</td>
                                    <td>{{ object.message }}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ object.approve }}
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                              <a class="dropdown-item" href="{% url 'adminb2b:enquiry_approve' object.pk %}">Approve</a>
                                              <a class="dropdown-item" href="{% url 'adminb2b:enquiry_unapprove' object.pk %}">unapprove</a>
                                            </div>
                                        </div>
                                    </td>
                                 </tr>
                                </tbody>
                              </table>
                              <a href="{% url 'adminb2b:enquiry_list' %}" class="btn btn-primary pull-right">back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
