{% extends 'dashboard/seller/seller_base.html' %}
{% load static %}
   {% block content %}

<style>
.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 11px;
    width: 184px;
}

</style>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                   
                    <div class="collapse navbar-collapse justify-content-end">
                        <form class="navbar-form">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                    </button>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid" style="margin-top: -80px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Manage Product</h4>
                                    {% comment %} <p class="card-category">Manage your products</p> {% endcomment %}
                                </div>
                                <div class="card-body">

                                    <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Order Quantity</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Model No</th>
                                            <th scope="col">Product Code</th>
                                            <th scope="col">Warranty</th>
                                            <th class="text-center" scope="col" colspan="2">Action</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for product in products %}                                              
                                          <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{product.name }}</td>
                                            <td>{{product.min_order_quantity}}</td>
                                            <td>{{product.price}}</td>
                                            <td>{{product.model_no}}</td>
                                            <td>{{product.product_code}}</td>
                                            <td>{{product.warranty}}</td>
                                            <td class="text-center"><a class="btn btn-sm btn-info" href="{% url 'dashboard:seller_single_product_update' product.id %}">Update</a></td>
                                            <td class="text-center"><a class="btn btn-sm btn-danger" href="{% url 'dashboard:seller_delete_product' product.id %}">Delete</a></td>
                                          </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'dashboard:seller_bulk_price_update' seller.id %}">Bulk Price Update</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock content %}
          