{% extends 'dashboard/adminb2b/adminb2b_base.html' %}
{% load static %}
   {% block content %}
<style>
.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 11px;
    width: 204px;
}


</style>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <form class="navbar-form">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                <div class="ripple-container"></div>
            </button>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid" style="margin-top: -42px;">
                    <div class="row">
                        <div class="col-md-12" style="margin-top: -34px">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Rearrange Product</h4>
                                </div>
                                <div class="card-body">

                                    <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Seller Name</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Brand</th>
                                            <th scope="col">Color</th>
                                            <th scope="col">Warranty</th>
                                            <th scope="col">Add To Site</th>
                                            <th scope="col">Add to Home</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in object_list %}                                              
                                          <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td><a href="{% url 'product:website_home_list' i.user.account.slug %}">{{ i.user.account.company_name }}</a></td>
                                            <td>{{ i.name }}</td>
                                            <td>{{ i.price }}</td>
                                            <td>{{ i.brand }}</td>
                                            <td>{{ i.color }}</td>
                                            <td>{{ i.warranty }}</td>
                                            <td>{% if i.arrange %}<a href="{% url 'dashboard:seller_unarrange_product' i.id %}">{{ i.arrange }}</a>{% else %}<a href="{% url 'dashboard:seller_arrange_product' i.id %}">{{ i.arrange }}</a>{% endif %}</td>
                                            <td>{% if i.add_home %}<a href="{% url 'dashboard:seller_remove_home_product' i.id %}">{{ i.add_home }}</a>{% else %}<a href="{% url 'dashboard:seller_add_home_product' i.id %}">{{ i.add_home }}</a>{% endif %}</td>
                                          </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock content %}
          