{% extends 'dashboard/seller/seller_base.html' %}
{% load static %}
   {% block content %}
<style>
.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 11px;
    width: 208px;
}

</style>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    {% comment %} <div class="navbar-wrapper">
                        <a class="navbar-brand" href="javascript:;">User Profile</a>
                    </div> {% endcomment %}
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation    </span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <form class="navbar-form">

                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
                            </div>
                        </form>
                        {% comment %} <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:;">
                                    <i class="material-icons">dashboard</i>
                                    <p class="d-lg-none d-md-block">
                                        Stats
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="d-lg-none d-md-block">
                                        Some Actions
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Mike John responded to your email</a>
                                    <a class="dropdown-item" href="#">You have 5 new tasks</a>
                                    <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                    <a class="dropdown-item" href="#">Another Notification</a>
                                    <a class="dropdown-item" href="#">Another One</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="#">Profile</a>
                                    <a class="dropdown-item" href="#">Settings</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a>
                                </div>
                            </li>
                        </ul> {% endcomment %}
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row"  style="margin-top: -78px;">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Single Product Update</h4>
                                    {% comment %} <p class="card-category">Update Product</p> {% endcomment %}
                                </div>
                                <div class="card-body">
                                    <form action="." method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6" >
                                                <div class="form-group" >
                                                <label for="product_name" class="bmd-label-floating">Product Name</label>
                                                    {{form.name}}
                                                </div>
                                            </div>
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                <label class="bmd-label-floating" >Color</label>
                                                    {{form.color}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                <label class="bmd-label-floating" >Price</label>
                                                    {{form.price}}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                <label class="bmd-label-floating" >Unit Type</label>
                                                    {{form.unit_type}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                 <div class="form-group">
                                                 <label class="bmd-label-floating" >Minimum order quantity</label>
                                                    {{form.min_order_quantity}}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                            <div class="form-group">
                                            <label class="bmd-label-floating" >Description</label>
                                                    {{form.description}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                            <div class="tab-pane" id="specification">
                                                <div class="form-group" style="margin-top:39px;">
                                                        <label for="product_group" class="bmd-label-floating">Product Group</label>
                                                        {{form.product_group}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="tab-pane" id="specification">
                                                {% comment %} <div class="row"> {% endcomment %}
                                                    <input type="text" style="visibility:hidden;" id="capacity" name="capacity">
                                                    <div class="form-group">
                                                    <span class="add">
                                                
                                                        <label for="product_group" class="bmd-label-floating">Capacity</label>
                                                        <select class="form-control" onclick="javascript:yesnoCheck();" id="yesCheck" name="cap">
                                                        <option value="">Select Option</option>
                                                        <option value="200ml" >200 ml</option>
                                                        <option value="500ml" >500 ml</option>
                                                        <option value="1 L" >1 L</option>
                                                        <option value="other" >other</option>
                                                         
                                                        </select>
                                                    </div>
                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-md-6">
                                                <div class="tab-pane" id="specification">
                                                {% comment %} <div class="row"> {% endcomment %}
                                                    <input type="text" style="visibility:hidden;" id="brand" name="brand">
                                                    <div class="form-group">
                                                  
                                                    <span class="add1">

                                                        <label for="brand" class="bmd-label-floating">Brand</label>
                                                        <select class="form-control" onclick="javascript:yesnoCheck1();" id="yesCheck1" name="brandd">
                                                        <option value="">Select Option</option>
                                                        <option value="prestige" >Prestige</option>
                                                        <option value="padmini" >Padmini</option>
                                                        <option value="other" >other</option>
                                                         
                                                        </select>
                                                    </div>
                                                
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="tab-pane" id="specification">
                                                {% comment %} <div class="row"> {% endcomment %}
                                                    <input type="text" style="visibility:hidden;" id="material" name="material">
                                                    <div class="form-group">
                                                    <span class="add2">
                                                
                                                        <label for="product_group" class="bmd-label-floating">Material</label>
                                                        <select class="form-control" onclick="javascript:yesnoCheck2();" id="yesCheck2" name="mat">
                                                        <option value="">Select Option</option>
                                                        <option value="polycarbonate" >Polycarbonate</option>
                                                        <option value="pet" >PET</option>
                                                        
                                                        <option value="other" >other</option>
                                                         
                                                        </select>
                                                    </div>
                                                
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Packing Details</label>
                                                    {{form.packing_details}}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Size</label>
                                                    {{form.size}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Product Code</label>
                                                    {{form.product_code}}
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6">
                                            <div class="form-group">
                                                    <label class="bmd-label-floating" >Youtube Product video URL</label>
                                                    {{form.video_url}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Power</label>
                                                    {{form.power}}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Warranty</label>
                                                    {{form.warranty}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Model No.</label>
                                                    {{form.model_no}}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Closure Type</label>
                                                    {{form.closure_type}}
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Neck Size</label>
                                                    {{form.neck_size}}
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                                    
                                        <div class="row">
                                            <div class="col-md-4">
                                               
                                                    <label for="image1">Product Image 1</label>
                                                    {{form.image1}}
                                                   <div style="color:red;">
                                                    Image must be of size 142x145 **
                                                    </div>
                                                
                                            </div>
                                            <div class="col-md-4">
                                               
                                                    <label for="image2" >Product Image 2</label>
                                                   {{form.image2}}
                                                    <div style="color:red;">
                                                    Image must be of size 142x145 **
                                                    </div>
                                            </div>
                                            <div class="col-md-4">
                                               
                                                    <label for="image3" >Product Image 3</label>
                                                    {{form.image3}}
                                                    <div style="color:red;">
                                                    Image must be of size 142x145 **
                                                    </div>
                                                
                                            </div>
                                        </div>
                                        <input class="btn btn-primary pull-right" type="submit" name="Update Information">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
        function yesnoCheck() {
    var tem=""
    if (document.getElementById('yesCheck').value == "other") {
        $(".add").empty();
        tem = `<label class="bmd-label-floating" >Capacity</label>
        <input type="text" class="form-control" id="capacity" name="capacity" placeholder="Capacity">`
        $('.add').append(tem)
    }
    else if (document.getElementById('yesCheck').value == "200ml") {
        document.getElementById('capacity').value = "200 ml"
        console.log(document.getElementById('capacity').value)
    }
    else if (document.getElementById('yesCheck').value == "500ml") {
        document.getElementById('capacity').value = "500 ml"
    }
    else if (document.getElementById('yesCheck').value == "1L") {
        document.getElementById('capacity').value = "1 L "
    } 
}
function yesnoCheck1() {     
     //brand
    var tem1=""
    if (document.getElementById('yesCheck1').value == "other") {
        $(".add1").empty();
        tem1 = `<label class="bmd-label-floating" >Brand</label>
        <input type="text" class="form-control" id="brand" name="brand" placeholder="Brand">`
        $('.add1').append(tem1)
    }
    else if (document.getElementById('yesCheck1').value == "prestige") {
        document.getElementById('brand').value = "Prestige"
    }
    else if (document.getElementById('yesCheck1').value == "padmini") {
        document.getElementById('brand').value = "Padmini"
    }
}

function yesnoCheck2() {
    //material
    var tem2 = ""
   if (document.getElementById('yesCheck2').value == "other") {
        $(".add2").empty();
        tem2 = `<label class="bmd-label-floating" >Material</label>
        <input type="text" class="form-control"  id="material" name="material" placeholder="Material">`
        $('.add2').append(tem2)
    }
    else if (document.getElementById('yesCheck2').value == "polycarbonate") {
        console.log(document.getElementById('yesCheck2').value)
        document.getElementById('material').value = "Polycarbonate"
        
    }
    else if (document.getElementById('yesCheck2').value == "pet") {
        document.getElementById('material').value = "PET"
    }

}
</script>
        {% endblock content %}
          