{% extends 'dashboard/adminb2b/adminb2b_base.html' %}
{% load static %}
{% block content %}
<div class="main-panel">
    <div class="content">
        <div class="container-fluid" >
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Seller Details</h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered border-info">
                                <thead>    
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">name</th>
                                    <th scope="col">mobile</th>
                                    <th scope="col">product</th>
                                    <th scope="col">ordered on</th>
                                    <th scope="col">ordered from</th>
                                    <th scope="col">Payment</th>
                                    <th scope="col">status</th>
                                </tr>
                                </thead>
                                <tbody>
                                   
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>{{ object.user.username }}</td>
                                    <td>{{ object.user.account.mobile }}</td>
                                    <td>
                                        {% for x in object.products.all %}
                                        {{ x.product }}<br>
                                        <img src="{{ x.product.image1.url }}"class="rounded-circle" alt="Product image" height=50px;><hr class="py-2 bg-info"> 
                                        {% endfor %}
                                    </td>
                                    <td>{{ object.ordered_date }}</td>
                                    <td>{{ object.user.ordershipping_address.city }}</td>
                                    <td>{{ object.payment.txn_amount }}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{ object.status }}
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                              <a class="dropdown-item" href="{% url 'dashboard:seller_ordered' object.pk %}">ordered</a>
                                              <a class="dropdown-item" href="{% url 'dashboard:seller_packing' object.pk %}">packing</a>
                                              <a class="dropdown-item" href="{% url 'dashboard:seller_shipping' object.pk %}">shipping</a>
                                              <a class="dropdown-item" href="{% url 'dashboard:seller_delivered' object.pk %}">delivered</a>
                                              <a class="dropdown-item" href="{% url 'dashboard:seller_cancelled' object.pk %}">shipping</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <a href="{% url 'dashboard:seller_order_list' %}" class="btn btn-primary pull-right">go back</a>

                            
                            {% for i in object.products_set.all %}
                                {{i.name}}
                            {% endfor %}
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
