        {% extends 'dashboard/seller/seller_base.html' %}
        {% load static %}
        {% block content %}
        <!-- Showing the Error message in red while validating form -->
        <style>
            .error{
                color:red;
                font-style:italic;
            }
            .bmd-form-group label {
                color: red;
            }  

 .card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 11px;
    width: 184px;
}
        </style>
        <!---->
        <div class="main-panel">
          
            <div class="content">
                <div class="container-fluid" style="margin-top:-80px">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Company Details</h4>
                                    {% comment %} <p class="card-category">Complete your Company Details</p> {% endcomment %}
                                </div>
                                <div class="card-body">


                                    <form method="POST" id="company" action="" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                <label for="product_name" class="bmd-label-floating">About Seller</label>
                                                    {{form.about_seller}}
                                                </div>
                                            </div>
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                <label class="bmd-label-floating" >No. of employees</label>
                                                    {{form.no_of_employees}}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                <label for="product_name" class="bmd-label-floating">Legal status of firm</label>
                                                    {{form.legal_status_of_firm}}
                                                </div>
                                            </div>
                                             <div class="col-md-6">
                                               
                                                <label class="bmd-label-floating" >Catalogue</label>
                                                    {{form.catalogue}}
                                             
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                <label for="product_name" class="bmd-label-floating">Branded video</label>
                                                    {{form.branded_video}}
                                                </div>
                                            </div>
                                             <div class="col-md-6">
                                                
                                                <label class="bmd-label-floating" >Logo</label>
                                                    {{form.logo}}
                                                <div style="color:red">
                                                 Image dimension must be 180x200**
                                                </div>
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                
                                                <label class="bmd-label-floating" >Banner image</label>
                                                    {{form.banner_image}}
                                                <div style="color:red">
                                                 Image dimension must be 1920x1820**
                                                </div>
                                                
                                            </div>
                                        </div>
                                        
                                
                                    <input class="btn btn-primary pull-right" type="submit" name="Update Information">
                                    </form>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <center>{{form.as_p}}</center> -->
    {% endblock content %}
        