{% extends 'dashboard/adminb2b/adminb2b_base.html' %}
{% load static %}
{% block content %}
<div class="main-panel">
    <div class="content">
        <div class="container-fluid" >
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Seller Lists</h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered border-info">
                                <thead>    
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Mobile</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for obj in seller_list %}
                                  <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td><a href="{% url 'product:website_home_list' obj.user.account.slug %}">{{ obj.user.first_name }}</a></td>
                                    <td>{{ obj.user.last_name }}</td>
                                    <td>
                                        {{ obj.user.email }}
                                    </td>
                                    <td>{{ obj.user.account.mobile }}</td>
                                </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
