        {% extends 'dashboard/seller/seller_base.html' %}
        {% load static %}
        {% block content %}
        <!-- Showing the Error message in red while validating form -->
        <style>
            .error{
            color:red;
            font-style:italic;
                    }
                    .bmd-form-group label {
                        color: red;
                        }

.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 11px;
    width: 184px;
}

        </style>
        <!---->
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid" style="margin-top:-90px">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Statutory Details</h4>
                                    {% comment %} <p class="card-category">Complete your Statutory Details</p> {% endcomment %}
                                </div>
                                <div class="card-body">
                                    <form action="{% url 'dashboard:seller_statutory' %}" method="post" id="satutory_form">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" for id="id_gst_no">Company GST No.</label>
                                                    <input type="text" class="form-control" name="gst_no" id="id_gst_no" value="{{ statutory.gst_no }}" maxlength = "15" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength); ">
                                                </div>
                                            </div> 
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" for id="id_pan_no">PAN No.</label>
                                                    <input type="text" class="form-control"name="pan_no"id="id_pan_no" value="{{ statutory.pan_no }}" maxlength = "10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength); ">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" for id="id_tan_no">TAN NO.</label>
                                                    <input type="text" class="form-control"name="tan_no"id="id_tan_no" value="{{ statutory.tan_no }}" maxlength = "10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength); ">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" for id="id_cin_no">CIN No.</label>
                                                    <input type="text" class="form-control"name="cin_no"id="id_cin_no" value="{{ statutory.cin_no }}" maxlength = "21" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength); ">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" for id="id_dgft_ie_code">DGFT/IE Code</label>
                                                    <input type="text" class="form-control"name="dgft_ie_code"id="id_dgft_ie_code" value="{{ statutory.dgft_ie_code }}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" for id="id_company_registration_no">Company Registration No.</label>
                                                    <input type="text" class="form-control"name="company_registration_no"id="id_company_registration_no" value="{{ statutory.company_registration_no }}">
                                                </div>
                                            </div>
                                        </div>
                                        <input type="submit" class="btn btn-primary pull-right"value="Save">
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="content">
                <div class="container-fluid" style="margin-top: -320px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Bank Details</h4>
                                    {% comment %} <p class="card-category">Complete your Bank Details</p> {% endcomment %}
                                </div>
                                <div class="card-body">
                                   
                                       <form method="POST" action="{% url 'dashboard:seller_bank' %}" id="add_product" enctype="multipart/form-data">
                                        {% csrf_token %}
                                       
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Company Name</label>
                                                    {{ form.company_name }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Year Of Establishment</label>
                                                    {{ form.year_of_establishment }}
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Promoter / CEO (First Name)</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Promoter / CEO (Last Name)</label>
                                                    <input type="email" class="form-control">
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Additional Contact Number</label>
                                                    {{ form.phone }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <!-- <label for="type">Business Type <sup class="text-danger">*</sup></label> -->
                                                    {{ form.category }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Annual Turnover</label>
                                                    {{ form.annual_turnover }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="type">B2BMart Catalog URl <sup class="text-danger">*</sup></label>
                                                    <a href="#">https://www.b2bMart.com/art-craft/</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class=""> Company Card Front View</label>
                                                <div class="">
                                                    <!--<input type="text" class="form-control inputFileVisible" placeholder="Simple chooser...">
                                                    <input type="file" class="inputFileHidden" name="company_card_front_view">-->
                                                    <img onerror="this.style.display='none'" class="profile-pic" src="{{ seller.company_card_front_view.url }}" alt="your company logo">
                                                    {{ form.company_card_front_view }} 

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class=""> Company Card Back View</label>
                                                <div class="z">
                                                    <!--<input type="text" class="form-control inputFileVisible" placeholder="Simple chooser...">
                                                    <input type="file" class="inputFileHidden" name="company_card_back_view">-->
                                                    <img onerror="this.style.display='none'" class="profile-pic" src="{{ seller.company_card_back_view.url }}" >
                                                    {{ form.company_card_back_view }}
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary pull-right">Save</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <!-- <center>{{form.as_p}}</center> -->
    {% endblock content %}
        