
    {% extends 'base.html' %}
    {% block content %}
    <div class="px-4 px-lg-0 mt-4">
        <div class="pb-5">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
              {% if shop_cart %}
              <table class="table table-striped table-inverse table-responsive">
              <tbody>
                <tr>
                  <thead>
                      <tr>
                        <th scope="col" class="border-0 bg-light">
                          <div class="p-2 px-3 text-uppercase">#</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Image</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Seller</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Product</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Color</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Symbole</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Increase</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Quantity</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Decrease</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Amount</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Remove</div>
                        </th>
                      </tr>
                    </thead>
                </tr>{% for i  in shop_cart %}
                <tr>
                  <th scope="row" class="align-middle text-center">{{ forloop.counter}}</th>
                  <th scope="row" class="border-0">
                    <div class="p-2">
                      <img src="{{ i.price.image1.url }}" alt="" width="70" class="img-fluid rounded shadow-sm">
                      <div class="d-inline-block align-middle">
                        <h5> <a href="#" class="text-dark d-inline-block align-middle">{{ i.product.name }}</a></h5>
                      </div>
                    </div>
                  </th>
                  <td class="align-middle text-center"><a href="{% url 'product:website_home_list' i.product.user.account.slug %}">{{i.seller}}</a></td>
                  <td class="align-middle text-center">{{i.product}}</td>
                  <td class="align-middle text-center">{{i.color}}</td>
                  <td class="align-middle text-center"><div style="width:40px; height:40px; border-color: coral;border-style: solid;border-radius: 25px; background-color:{{i.color}}"></td>
                  <td class="align-middle text-center">
                  <form action="{% url 'product:add_single_item_to_cart' i.pk %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="minimum_quantity">
                  <input type="hidden" name="maximum_quantity">
                  <input type="hidden" name="price_per_piece">
                  <input type="hidden" name="color">
                  <button type="submit"><i class="fa fa-plus text-primary" aria-hidden="true"></i></button>
                  </form>
                  </td>

                  <td class="align-middle text-center">{{i.quantity}} Nos</td>

                  <td class="align-middle text-center">
                  <form action="{% url 'product:remove_single_item_from_cart' i.pk %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="minimum_quantity">
                  <input type="hidden" name="maximum_quantity">
                  <input type="hidden" name="price_per_piece">
                  <input type="hidden" name="color">
                  <button type="submit"><i class="fa fa-minus text-primary" aria-hidden="true"></i></button>
                  </form>
                  </td>
                  
                  <td class="align-middle text-center">{{i.get_amount}} /-</td>
                  
                  <td class="align-middle text-center"><a href="{% url 'product:remove_from_cart' i.pk %}"<i class="fa fa-trash text-danger" aria-hidden="true"></i></a></td>
                </tr>
               {% endfor %}
                <tr>
                <td colspan="8"><b>Grand Total</b></td>
                <td colspan="4"><b>{{object.get_total}} /-</b> </td>
                </tr>
                <tr>
                  <td colspan="11">
                  <a class='btn btn-warning float-right ml-2' href="{% url 'product:product_checkout' %}">Proceed to checkout</a>
                  <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
                  </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan='5'>Your cart is empty</td>
                </tr>
                <tr>
                    <td colspan="5">
                    <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
                    </td>
                </tr>
                {% endif %}
              </tbody>
          </table>

                <!-- Shopping cart table -->

              </div>
            </div>

          </div>
        </div>
      </div>
{% endblock content %}
