{% extends "base.html" %}
{% load static %}
{% block content %}
  {% load embed_video_tags %}
 <style>
 img {
  width: 100px;
  height: 100px;
  object-fit: contain;
} 
#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid #344e9f;
  background: #fff;
}

#rcorners3 {
  border-radius: 25px;
  background: url(paper.gif);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px;
}
</style>

    <div class="container">
      <div class="compare-select mt-3">
        <i class="fas fa-arrow-left"></i>
        {% for i in compare_product %}
           <div class="image">
           {% for j in i.product.price_set.all %}
            {% if forloop.first %}
             <img src="{{ j.image1.url }}" id="rcorners2" alt="i.product.name">
            <i class="fas fa-times" onclick=deleteCompareProduct({{i.pk}})></i>
             {% endif %}
          {% endfor %}           
         
        </div>
        {% empty %}
        {% endfor %}      
       
        <i class="fas fa-arrow-right ml-auto"></i>
      </div>
      <div class="compare-result mt-3">
        <h4>Compare Result</h4>
        {% comment %} <div class="form-group d-flex align-items-center mb-0">
          <label for="businessType" class="mr-2 mb-0">View</label>
          <select class="form-control btn-light" id="businessType">
            <option>All Feature</option>
          </select>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="brand1">
            <label class="custom-control-label" for="brand1">Highlight the Difference</label>
        </div> 
        <div class="print d-flex align-items-center">
          <i class="fas fa-print fa-2x mr-2"></i>
          Print Current Page
        </div> {% endcomment %}
      </div>

      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col"></th>
            {% for i in compare_product %}
              <th scope="col">
              {% for j in i.product.price_set.all %}
                  {% if forloop.first %}
                      <div>
                        <div class="d-flex align-items-center">
                          {% comment %} <img src="{{ j.image1.url }}" id="rcorners2" alt="{{ i.product.name }}"> {% endcomment %}
                          <div class="ml-3">
                            <p>{{ i.product.name }}</p>
                            {% comment %} <button class="btn btn-primary btn-sm">Contact Manufacturer</button> {% endcomment %}
                          </div>
                        </div>               
                      </div>
                    {% endif %}
                {% endfor %}   
              </th>          
            {% empty %}
            {% endfor %}   
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="{{compare_product.count|add:1}}" class="heading">Product Feature</td>
          </tr>
          <tr>
            <td>Min. Order Quantity</td>
            {% for i in compare_product %}
              {% for j in i.product.price_set.all %}
              <td>{{j.minimum_quantity}}</td>           
            {% endfor %} 
            {% endfor %}  
          </tr>
          <tr>
            <td>FOB Price</td>
            {% for i in compare_product %}
              {% for j in i.product.price_set.all %}
              <td>{{j.price_per_piece}}</td>           
            {% endfor %} 
            {% endfor %}  
           
          </tr>
          <tr>
            <td>Quick details</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          
          <tr>
            <td colspan="{{compare_product.count|add:1}}" class="heading">Supplier Feature</td>
          </tr>
          <tr>
            <td>Comapny Name</td>
            {% for i in compare_product %}
              <td>{{i.product.brand}}</td> 
            {% endfor %}
          </tr>
          <tr>
            <td>Business Type</td>
            {% for i in compare_product %}
              <td>{{i.user.account.business_type}}</td> 
            {% endfor %}
            
          </tr>
          <tr>
            <td>Nature of business</td>
            {% for i in compare_product %}
              <td>{{i.user.account.nature_of_business}}</td> 
            {% endfor %}
          </tr>
           <tr>
            <td>Payment Terms</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Year Est.</td>
            <td></td>
            <td></td>
            <td></td>
          </tr> 
           <tr>
            <td>Supplier location</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

           <tr>
            <td>Main products</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
           <tr>
            <td>Total annual sales</td>
            <td></td>
            <td></td>
            <td></td>
          </tr> <tr>
            <td>Volume</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
           <tr>
            <td>Number of employees</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
           <tr>
            <td>Supplier location</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="{{compare_product.count|add:1}}" class="heading">Online Performence</td>
          </tr>         
          <tr>
            <td>No of year with ramagayamart.com</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Response rate</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Transanction history</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
           <tr>
            <td>Supplier types</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="{{compare_product.count|add:1}}" class="heading">Product capability</td>
          </tr>
          <tr>
            <td>No. of production lines</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Factory size</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Contract manufacturing</td>
            <td></td>
            <td></td>
            <td></td>
          </tr> 
        </tbody>
      </table>

      <!-- <div class="row">  
        <div class="col-12"> -->
          <!-- Product detail part start -->
      {% comment %} <div class="product mt-3">
        <div class="row no-gutters">
          <div class="col border">
            <div class="image">
              <img src="./images/cooker.jpg" alt="">
              <div class="img-caption">Rice Cooker 15 Ltr</div>
            </div>
          </div>
          <div class="col position-relative">
            <div class="product-detail">
              <div class="title">KENT Electric Rice Cooker SS</div>
              <div class="sub-title">Cook & Serve Design with Keep Warm Fuction</div>
              <div class="text-mute">Homes</div>
              <ul class="list-unstyled">
                <li class="text-mute"><span>Brand</span>:<span>KENT</span></li>
                <li class="text-mute"><span>Capacity</span>:<span>1.8 Litre</span></li>
                <li class="text-mute"><span>Model No</span>:<span>VTL-9060</span></li>
                <li class="text-mute"><span>Warranty</span>:<span>1 Year Home Service</span></li>
                <li class="text-mute"><span>Power</span>:<span>700 Watt</span></li>
              </ul>
              <div class="price">MRP: Rs 3,500</div>
              <div class="text-mute mb-3">(Inclusive of all taxes)</div>
            </div>
          </div>
          <div class="col background">
            <img src="./images/tag.png" alt="">
            <div class="address">
              <div class="name">Stove Kraft Ltd.</div>
              <div class="address-detail">81/1, Harohalli Indrustrial Area, Kanakapura Taluk, Ramanagara, Bangalore, Karnataka 562112, India</div>
            </div>
            <button class="btn btn-default btn-block"><i class="fas fa-cart"></i> Request a quote for Bulk Order</button>
          </div>
        </div>
        <div class="row no-gutters mt-2">
          <div class="col-4"><img src="./images/4-star.png" alt=""></div>
          <div class="col-8">
            <a href="cart.html" class="btn btn-primary mr-2">Add to cart</a>
            <a href="cart.html" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div> {% endcomment %}
      <!-- Product detail part end -->
      
      <!-- Recommended Products part start -->
      <div class="product-list mt-3 mb-3">
        <h5>THIS WEEK TOP FOUR EDITORS CHOISE</h5>
        <div class="row">
          <div class="col-12 col-sm-4 col-md-3">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-1.jpeg" alt="Image 1">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-md-3">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-2.png" alt="Image 2">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-md-3">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-3.jpg" alt="Image 3">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-md-3">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-4.png" alt="Image 4">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
        </div>
        <!-- Row end -->
        <div class="text-right">
          <small>featuring trusted brands near you</small>
        </div>
      </div>
      <!-- Recommended Products part start -->

      <div class="row">
        <div class="col-12 col-md-5">
          <div class="details">
            <h2>PRODUCT DETAILS</h2>
            <ul class="list-unstyled">
              <li class="text-mute"><span class="w-50 d-inline-block">Brand</span>:<span class="pl-3">KENT</span></li>
              <li class="text-mute"><span class="w-50 d-inline-block">Capacity</span>:<span class="pl-3">1.8 Litre</span></li>
              <li class="text-mute"><span class="w-50 d-inline-block">Model No/Number</span class="pl-3">:<span class="pl-3">VTL-9060</span></li>
              <li class="text-mute"><span class="w-50 d-inline-block">Warranty</span>:<span class="pl-3">1 Year Home Service</span></li>
              <li class="text-mute"><span class="w-50 d-inline-block">Power</span>:<span class="pl-3">700 Watt</span></li>
            </ul>
            <h2>PRODUCT SPECIFICATION</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, maxime saepe in illo, voluptas veritatis voluptatibus modi maiores adipisci eum commodi nihil nam, nobis beatae placeat eos sed cum? Dicta. Lore</p>
            <h2>COMPANY DETAILS</h2>
            <ul class="list-unstyled">
              <li class="text-mute"><span class="w-50 d-inline-block">Year of Establishment</span>:<span class="pl-4">2019</span></li>
              <li class="text-mute"><span class="w-50 d-inline-block">Legal Status os Firm</span>:<span class="pl-4">Partnership firm</span></li>
              <li class="text-mute"><span class="w-50 d-inline-block">Nature of Business</span>:<span class="pl-4">Manufacturer</span></li>
              <li class="text-mute"><span class="w-50 d-inline-block">No of Emplyees</span>:<span class="pl-4">100 to 200 people</span></li>
              <li class="text-mute"><span class="w-50 d-inline-block">Annual Revenue</span>:<span class="pl-4">5 Cr</span></li>
              <li class="text-mute"><span class="w-50 d-inline-block">GSTIN NO</span>:<span class="pl-4">AKGHJX254796</span></li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, maxime saepe in illo, voluptas veritatis voluptatibus modi maiores adipisci eum commodi nihil nam, nobis beatae placeat eos sed cum? Dicta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel impedit repudiandae repellendus perspiciatis ipsum porro quod fugit autem voluptatibus excepturi!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, maxime saepe in illo, Dicta.</p>
          </div>
        </div>
        <div class="col-12 col-md-7">
          <!-- Promotional vedio start -->
          <div class="promo-video height mt-0">
            <span>Play our promotional video here</span>
            <i class="fas fa-play"></i>
            <span>Make an impression with your customers</span>
          </div>
          <!-- Promotional vedio end -->
          <!-- register form start -->
          <div class="register-form mt-3">
            <h5 class="text-uppercase mb-3">we connect manufacturers with wholesale traders & institutions</h5>
            <div class="row">
              <div class="col-12 col-sm-8">
                <form>
                  <div class="row">
                    <div class="form-group col- 12 col-sm-6">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group col- 12 col-sm-6">
                      <label for="email">E-mail</label>
                      <input type="email" class="form-control" id="email" placeholder="shotercarlos@gmail.com">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col- 12 col-sm-6">
                      <label for="phone">Mobile</label>
                      <input type="tel" class="form-control" id="phone" placeholder="+91 0000000000">
                    </div>
                    <div class="form-group col- 12 col-sm-6">
                      <label for="businessType">Business Types</label>
                      <select class="form-control btn-primary" id="businessType">
                        <option>Wholesaller</option>
                        <option>Manufacturer</option>
                        <option>Retailer</option>
                        <option>Exporter</option>
                        <option>Distributor</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" rows="5"></textarea>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="sendCopy">
                        <label class="custom-control-label" for="sendCopy">Send me a copy</label>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 text-right">
                      <button class="btn btn-primary btn-lg">Send</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-12 col-sm-4">
                <div class="right-side">
                  <div class="top">
                    <span>become a</span>
                    <span>xxxx Mart</span>
                    <span>member today</span>
                    <span>1000 Ad Impressions Free</span>
                  </div>
                  <div class="bottom"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- register form part end -->
        </div>
      </div>
            
      <!-- term-cta start -->
      {% comment %} <div class="term-cta mt-3">
        <h1><span>30 day credit terms*</span> <br /> for wholesaller & institution</h1>
        <button class="btn btn-light btn-lg">Click here <i class="fas fa-angle-right"></i></button>
        <img src="./images/creadit.png" alt="">
      </div> {% endcomment %}
      <!-- term-cta end -->

      <!-- Related products promo part strat -->
      {% comment %} <h3 class="text-uppercase mt-3">Related products</h3>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="./images/promo-img-1.png" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./images/promo-img-1.png" alt="Second slide">
          </div>
          <!-- <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Third slide">
          </div> -->
        </div>
      </div> {% endcomment %}
      <!-- Related products promo part end -->

      <!-- Recommended Products part start -->
     <!-- <div class="product-list">
      <form class="form-inline mb-3">
        <div class="form-group w-50 mr-3">
          <input type="text" class="form-control w-100" id="location" placeholder="CATEGORY LEADERS | SEARCH BY PRODUCT TYPE">
        </div>
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i> Search
        </button>
      </form>
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-1.jpeg" alt="Image 1">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-2.png" alt="Image 2">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-3.jpg" alt="Image 3">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-4.png" alt="Image 4">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
      </div>
      <-- Row end ->
     </div> -->
      <!-- Recommended Products part end -->

      <!-- Recommended Products part start -->
   {% comment %}  <div class="product-list mt-3">
      <form class="form-inline mb-3">
        <div class="form-group w-50 mr-3">
          <input type="text" class="form-control w-100" id="location" placeholder="FAETURED PRODUCT | SEARCH BY PRODUCT TYPE">
        </div>
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i> Search
        </button>
      </form>
      <h5>FAETURED PRODUCT</h5>
       <div class="row">
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-1.jpeg" alt="Image 1">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-2.png" alt="Image 2">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-3.jpg" alt="Image 3">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-4.png" alt="Image 4">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-4.png" alt="Image 4">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-4.png" alt="Image 4">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-4.png" alt="Image 4">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-4.png" alt="Image 4">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
      </div> 
      <!-- Row end -->
      <div class="text-center mt-4 mb-2">
        <button class="btn btn-primary btn-lg">Load More</button>
      </div>
     </div>
     {% endcomment %}
      <!-- Recommended Products part end -->
      
      <!-- CTA start -->
      {% comment %} <div class="certificate-cta mt-3">
        <div class="row no-gutters align-items-center">
          <div class="col-12 col-sm-2 text-center">
            <img src="./images/tag.png" alt="">
          </div>
          <div class="col-12 col-sm-7">
            <h5 class="text-uppercase mb-0">attention manufacturers</h5>
            <h4 class="text-uppercase mb-0">get your xxxxxxxxxxxxxxxxx  </h4>
            <h5 class="text-uppercase mb-0">trust certificate & imporve your bussiness</h5>
          </div>
          <div class="col-12 col-sm-3">
            <button class="btn btn-light btn-lg">Apply Now <i class="fas fa-angle-right"></i></button>
          </div>
        </div>
      </div> {% endcomment %}
      <!-- CTA end -->

      <!-- CTA start -->
      {% comment %} <div class="mt-3">
        <img src="./images/book-spot.png" class="w-100" alt="">
      </div> {% endcomment %}
      <!-- CTA end -->
    </div>

    

    <!-- <div class="chat">
      <img src="./images/chat.png" alt="">
      <div class="content">
        <small>Have a Requirement?</small>
        <h3>Get Best Price</h3>
      </div>
    </div> -->

    <div class="newstetter text-center pt-4 pb-4 mt-5">
      <h2 class="text-uppercase"><span>subscribe</span> to our newsletter</h2>
      <small>The best B2B news for manufactur and traders</small>
      <div class="input-group col-6 offset-3 mt-4">
        <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="subscribe">
        <div class="input-group-append">
          <span class="input-group-text" id="subscribe">Subscribe</span>
        </div>
      </div>
    </div>

    <footer class="pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-2">
            <a href="index.html">
              <img src="./images/footerLogo.png" alt="">
            </a>
          </div>
          <div class="col-12 col-sm-6 col-lg-2">
            <ul>
              <li class="head">About Us</li>
              <li><a href="about-us.html">XXX Mart</a></li>
              <li><a href="management.html">Management Team</a></li>
              <li><a href="media-center.html">Media Center</a></li>
              <li><a href="workWithUs.html">Work With Us</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <ul>
              <li class="head">Customer Services</li>
              <li><a href="help.html">Help Center</a></li>
              <li><a href="privacy-policy.html">privacy policy</a></li>
              <li><a href="trading-policy.html">Trading policy</a></li>
              <li><a href="term-condition.html">terms & conditons</a></li>
              <li><a href="seller/user.html">edit Profile</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <ul>
              <li class="head">E-Trade Service</li>
              <li><a href="certificate.html">XXXXXXXXX Certificate</a></li>
              <li><a href="company.html">E-Shoppe Development</a></li>
              <li><a href="media-center.html">Media Center</a></li>
              <li><a href="advertise.html">Adverties Your Brand</a></li>
              <!-- <li><a href="#">Transact To Trade</a></li> -->
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-2">
            <ul>
              <li class="head">Follow us</li>
              <li>
                <a href=""><img src="./images/fb.png" alt=""></a>
                <a href=""><img src="./images/tw.png" alt=""></a>
                <a href=""><img src="./images/lindin.png" alt=""></a>
                <a href=""><img src="./images/youtube.png" alt=""></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright text-center pt-3 pb-3">
      <p class="mb-3">&#169; 2021 XXXXXXXXXXXX Mart</p>
      <img src="./images/footerSub.png" alt="">
    </div>


{% endblock content %}

{% block extra_scripts %}

{% endblock extra_scripts %}