{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}




<div class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
          <h3 class="text-center">Sign in Your Account</h3>
          <form class="login-form" method="post"action="{% url 'account_login' %}">
          
            {% csrf_token %}          
            <div class="form-group">
                <input type="email" id="inputEmail" name="login" class="form-control" placeholder="Email address" required autofocus>
                {% if form.non_field_errors %}                                     
                <div style="color:red">
                    {% for error in form.non_field_errors %}
                   {{ error }}
                    {% endfor %}               
                </div>
                {% endif %}
            </div>

            <div class="form-group">
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
          </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

            <div class="form-group">
                <input type="submit" class="btn btn-success btn-block" value="Sign In">
            </div>
          </form>
            <p class="text-center pt-5">
              <small>New To Ramagya Mart?</small>
            </p> 
            <div class="form-group">
                <a  href="{% url 'account_signup' %}" type="submit" class="btn btn-outline-dark btn-block">Create Account</a>
                <!-- <button type="submit" class="btn btn-outline-dark btn-block">Create Account</button> -->
            </div>
          
      </div>
      <div class="col-md-8 banner-sec">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
                  <div class="carousel-caption d-none d-md-block">
                      <div class="banner-text">
                        <h2>What is B2B Marketing?</h2>
                        <p>In the modern environment, B2B marketers often sell to buying committees with various key stakeholders. This makes for a complex and sometimes challenging landscape, but as data sources become more robust and accurate, the ability to map out committees and reach buyers with relevant, personalized information is greatly improving.
                      </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="Second slide">
                  <div class="carousel-caption d-none d-md-block">
                      <div class="banner-text">
                        <h2>B2BMART</h2>
                        <p>Competition for customers, and even for attention, is high. Building out a B2B strategy that delivers results requires thoughtful planning, execution, and management. Here’s a high-level look at the process B2B companies use to stand out in a crowded marketplace.</p>
                      </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="Third slide">
                  <div class="carousel-caption d-none d-md-block">
                      <div class="banner-text">
                        <h2>Who is B2B Marketing For?</h2>
                        <p>Any company that sells to other companies. This can come in many forms: software-as-a-service (SaaS) subscriptions, security solutions, tools, accessories, office supplies, you name it. Many organizations fall under both the B2B and B2C umbrellas.</p>
                      </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}