{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
</style>
  <div class="container">
    <div class="col-6 mx-auto text-center">
      <div class="text-center">
        <h1>{% trans "Change Password" %}</h1>
        <form method="POST" action="{% url 'account_change_password' %}" class="form-signin">
            {% csrf_token %}
    <!--        {{ form.as_p }}-->
    
            <label for="oldpass" class="sr-only">Old Password</label>
      <input type="password" id="oldpass" name="oldpassword" class="form-control" placeholder="Old Password" required autofocus>
    
            <label for="newpass" class="sr-only">New Password</label>
      <input type="password" id="newpass" name="password1" class="form-control" placeholder="New Password" required autofocus>
    
            <label for="confpass" class="sr-only">Confirm Password</label>
      <input type="password" id="confpass" name="password2" class="form-control" placeholder="Confirm Password" required autofocus>
    
            <button class="btn btn-lg btn-primary btn-block"  type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
