{% extends 'base.html' %}
{% block content %}

<style>
   .hr {
    background-color: #555;
    border: none;
    display: block;
    height: 4px;
    overflow: visible;
    position: relative;
    width: 100%;
}

.hr:before {
    background-color:#f47702;
    content: '';
    display: block;
    height: 8px;
    left: 0;
    position: absolute;
    top: -2px;
    width: 20%;
    z-index: 1;
}
.ex {
    padding: 10px;
    box-shadow: -14px 12px 0 0px #99a0b7;
}

@media (max-width:500px){
  .box {
    flex: 1 0 100% !important;
    max-width: 92% !important;
    margin-left: 6% !important;
    margin-bottom: 25px !important;
  }


}
hr {
    border-color: #ec7503;
    margin-top: 11px;
}
    .page-banner {
    height: 300px;
    background-image: linear-gradient(to right bottom, rgba(56,54,55,0.7), rgba(56,54,55,0.5)),url(/static/images/about.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
</style>

    <div class="page-banner">
        <h1 class="display-5">About us</h1>
    </div>
    <div class="container">
      <div class="row">
        <!-- <div class="col-12 box col-sm-3 bg-primary pl-0 pr-0 ex" style="height: fit-content;">
          <ul class="nav flex-column pt-3">
              <li class="nav-item"><a class="nav-link active" href="{% url 'about_us' %}">About Ramagya Mart</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about_management' %}">Management Team</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about_media_center' %}">Media Center</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'subscription:paid_service' %}">Ramagya Vishwas Certification</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'advertise' %}">Advertise Your Brand</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'term_condition' %}">Terms & Conditions</a></li>
              <li class="nav-item"><a class="nav-link " href="{% url 'dashboard:credit_terms' %}">Credit Terms</a></li>
            </li>
          </ul>
        </div> -->
        <div class="col-12 col-sm-12">
          <div id="companyOverview" class="tab-pane active" role="tabpanel" style="text-align:justify;">
                    <h4 class="hd-rd-brdr hd-inner-link">Introduction</h4><hr class="hr">
                    <div class="clearfix"></div>
                    <p>Ramagya Mart is India’s uniquely first and only B2B E-Trading Marketplace specialized and focused on the home appliance category. The home appliance focused B2B Wholesale Portal caters to the business promotion and distribution channel business development needs of Indian home appliances manufacturers.<br>
                    Before we created the Ramagya Mart B2B e-commerce platform or creating our customized services for our home appliance manufacturers, we did an in-depth research conducted over 1 year to understand the home appliances business in detail, the distribution challenges and brand building challenges home appliance manufacturers faced. Through this in-depth research, we uncovered business and distribution challenges faced by over 1000 home appliances manufacturers and traders across India. </p>
                    <br />
                    <h4 class="hd-rd-brdr hd-inner-link">Compay Overview</h4><hr class="hr">
                    <div class="row">
                        <div class="col">
                          1 of 3
                        </div>
                        <div class="col">
                          2 of 3
                        </div>
                        <div class="col">
                          3 of 3
                        </div>
                    </div>
                    <div class="clearfix"></div>
                  
                    <div class="row">
                        <div class="col-md-12">
                            <p>Ramagya Mart as an e-trading marketplace allows e-commerce by enabling manufacturers build their wholesale business e-shop and offers digital promo-via-tech service to cost effectively promote manufacturer’s brand to target and retarget wholesale business interested customers. As a B2B showcase for home appliance manufacturers; Indian manufacturers can use the flexibility to leverage their brand image on this new-age ecommerce technology without restrictions and limitations in order to be able to reach out to a larger wholesale potential that exist across the country and internally.</p>
                    
                            <p>Besides offering Indian home appliances manufacturers a wholesale e-mart showcase for image building and business promotion solutions to drive wholesale business transactions; Ramagya Mart offers Indian manufacturers an Artificial Intelligence developed, machine learning platform that is free -to use in order to better understand their wholesale e-marketplace visitors behavior when home appliance retailers, resellers, wholesalers, distributors and  traders  visit the manufacturers wholesaler e-marts or wholesale e-shop. </p>
                        </div>
                    </div>
                    <br />
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h3>About Ramagya Group</h3>
                              </button>
                            </h2>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>With an experience of nearly 4 decades, Ramagya Group has been a beacon of excellence in India’s education system and the sports industry. The corporate group has a diverse portfolio of companies under its name and one of the key propellers of the corporate’s business ethics and business standards stems from Ramagya Group’s initial venture of providing quality education. In fact Ramagya Group of Schools has been ranked amongst top 30 schools in India by Forbes forms the beacon of its credibility.
                                Business ventures of Ramagya Group include Ramagya Sports Academy ranked as one of the top 10 Sporting Academies in India and Ramagya Institute which has been ranked as one of the top 15 Institutes in India by India Today Group.</p>
                                <p>Stemming from nurturing and caring being the Group’s philosophy Ramagya First Step, a day care solution has continually aided working parents to continue their professional endeavours without worry about their toddlers. The group also manages a chain of preschools, Ramagya Roots.</p>
                                <p>Ramagya Foundation, an NGO has till date served over 11 lakh people under its 12 programmes is the corporate’s CSR initiative. The other ventures of Ramagya Group consist of Baal Saathee, a student health programme venture, an online learning portal Knowledge Vista, Ruchika Sales Corporation an import export company and Save Nishabd which is a crowdfunding platform for dogs.
                                </p>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                               <h3>Our Mission</h3>
                              </button>
                            </h2>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                On the whole the mission of Ramagya Mart’s B2B e-trading marketplace is to continually learn and evolve into bettering services and create customer delight by offering solutions to incentivize buyers to do wholesale transactions on this B2B trading platform. In all this platform is primarily designed and curated to meet the business needs of Indian home appliance manufacturers and their traders to drive “ Desh Ka Vyapaar” .
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h3>Our Goals</h3>
                              </button>
                            </h2>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                Through Ramagya Mart’s easy to understand, transparent dashboard customized for each manufacturer and brand owners; manufacturers are able to gain knowledge of their customers through data driven insights and advanced analytics and all these features on clicks of few key strokes.
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="row">
                        <div class="col-md-12">
                        <iframe  src="https://www.youtube.com/embed/0QtjLr0Nx44" width="100%" height="411" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% comment %} <iframe src="https://esimg.eworldtrade.com/assets/videos/E-world-Seller.mp4" width="100%" height="411" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> {% endcomment %}
                        </div>
                    </div>
                    </div>
                </div>
        </div>
      </div>
    </div>

    {% endblock content %}