
    {% extends 'base.html' %}
    {% block content %}

    <div class="page-banner">
        <h1 class="display-5">Advertise Your Brand</h1>
    </div>
    <div class="container">
        <h3>Advertise with XxxxxxMart</h3>
        <p class="lead">Whether you are a large organisation, small business or a marketing agency, XxxxxxMart offers you a host of services for boosting your reach and connecting you with millions of buyers. We offer effective lead generation model and ROI driven marketing
            strategy.
        </p>
        <div class="page-cta">
            Trial For Free | Monthly Paid | Yearly Services
        </div>

        <img src="https://image.shutterstock.com/image-vector/setting-icon-vector-gear-cog-260nw-1211635549.jpg" alt="knowlege">
        <h3>If you&#8217;re a Big Business</h3>

        <p>1000+ large corporates have started their digital transformation journey and are promoting themselves online to grow their business through XxxxxxMart.</p>

        <img src="https://www.searchpng.com/wp-content/uploads/2019/02/Message-PNG-Icon.png" alt="knowlege">
        <h3>If you&#8217;re a Small, Medium Business</h3>
        <p>We’ve been the pioneers of taking small businesses online and helping them create their digital presence and making it easier for them to do business. </p>

        <img src="https://i.pinimg.com/originals/d3/fb/e4/d3fbe447d1e9745c6034c77de7fe4817.png" alt="strategy">
        <h3>If you&#8217;re a marketing agency</h3>
        <p>Make the most ROI driven lead generation platform, XxxxxxMart, an integral part of your client pitch.</p>
    </div>
{% endblock content %}