{% extends 'base.html' %}
{% block content %}
<style>
    .ex {
    padding: 10px;
    box-shadow: -14px 12px 0 0px #99a0b7;
    height: fit-content;
    margin-top:3%;
}

@media (max-width:500px){
  .ex{
    flex: 1 0 100% !important;
    max-width: 92% !important;
    margin-left: 6% !important;
    margin-bottom: 25px !important;
  }
}

</style>
    <div class="container">
      <div class="row">
       <div class="col-12 col-sm-3 bg-primary pl-0 pr-0 ex" style="height: fit-content;">
          <ul class="nav flex-column pt-3">
              <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">About Ramagya Mart</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about_management' %}">Management Team</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about_media_center' %}">Media Center</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li> -->
              <li class="nav-item"><a class="nav-link" href="{% url 'subscription:paid_service' %}">Ramagya Vishwas Certification</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="company.html">E-Shoppe Development</a></li> -->
              <li class="nav-item"><a class="nav-link active" href="{% url 'advertise' %}">Advertise Your Brand</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'term_condition' %}">Terms & Conditions</a></li>
              <li class="nav-item"><a class="nav-link " href="{% url 'dashboard:credit_terms' %}">Credit Terms</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="seller/user.html">edit Profile</a></li> -->
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm-9">
          <div class="card mt-4">
            <div class="card-header card-header-primary">
              <h4>Get the <b>TOP POSITION,</b> place your AD with Ramagya Mart</h4>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="h6">Company</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="h6">Email address</label>
                      <input type="email" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="h6">Fist Name</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="h6">Last Name</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="h6">Mobile No</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="h6">Landline Number</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="category" class="h6">category</label>
                      <select class="form-control" id="product_group1" name="product_group">
                                                        <option value="" >Select Option</option>
                                                        <option value="Kitchen Stoves" >Kitchen stoves</option>
                                                        <option value="Mixture Grinder" >Mixture Grinder</option>
                                                        <option value="Rice Cookers" >Rice Cookers</option>
                                                        <option value="Food Processors">Food Processors</option>
                                                        <option value="Electric kettles">Electric kettles</option> 
                                                        <option value="Oven">Oven</option>
                                                        <option value="Juicers">Juicers</option>
                                                        <option value="Blenders" >Blenders</option>
                                                        <option value="Water Heaters" >Water Heaters</option>
                                                        <option value="Water Filters">Water Filters</option>
                                                        <option value="Induction cookers">Induction cookers</option>
                                                        <option value="Exhaust Hoods">Exhaust Hoods</option>
                                                        <option value="Sandwich Makers">Sandwich Makers</option>
                                                        <option value="Toaster">Toaster</option>
                                                        <option value="Deep Fryers">Deep Fryers</option>
                                                        <option value="Dough Blenders">Dough Blenders</option>
                                                        <option value="Coffee Makers">Coffee Makers</option>
                                                        <option value="Electric Iron">Electric Iron</option>
                                                        <option value="Vaccum Cleaner">Vaccum Cleaner</option>
                                                        <option value="Air Purifiers">Air Purifiers</option>
                                                        <option value="Trimmers And Savers">Trimmer And Savers</option>
                                                        <option value="Hair Drier">Hair Drier</option>
                                                        <option value="Hair Straightener">Hair Straightener</option>

                                                        </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="category" class="h6">Add Impressions</label>
                      <select class="form-control" id="category">
                        <option>1000-5000</option>
                        <option>5000-10000</option>
                        <option>10000-15000</option>
                        <option>Other Option</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Share with us</label>
                      <div class="form-group">
                        <!-- <label class="h6"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label> -->
                        <textarea class="form-control" rows="3"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}