
    {% extends 'base.html' %}
    {% block content %}
    <div class="px-4 px-lg-0 mt-4">
        <div class="pb-5">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                <!-- Shopping cart table -->
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" class="border-0 bg-light">
                          <div class="p-2 px-3 text-uppercase">Product</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Price</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Quantity</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Total Product Price</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Remove</div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for order_product in object.products.all %}
                      <tr>
                        <th scope="row" class="border-0">
                          <div class="p-2">
                            <img src="{{ order_product.product.image1.url }}" alt="" width="70" class="img-fluid rounded shadow-sm">
                            <div class="ml-3 d-inline-block align-middle">
                              <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">{{ order_product.product.name }}</a></h5><span class="text-muted font-weight-normal font-italic d-block">Category: {{ order_product.product.product_group }}</span>
                            </div>
                          </div>
                        </th>
                        <td class="border-0 align-middle"><strong>&#8377;{{ order_product.product.price }}</strong></td>
                        <td class="border-0 align-middle"><strong>
                          <a href="{% url 'dashboard:remove_single_product_from_cart' order_product.user.account.slug order_product.product.pk %}"><i class="fas fa-minus mr-2"></i></a>
                          {{ order_product.quantity }}
                          <a href="{% url 'dashboard:add_to_cart' order_product.user.account.slug order_product.product.pk %}"><i class="fas fa-plus ml-2"></i></a>
                        </strong></td>
                        <td class="border-0 align-middle"><strong>
                          {% if order_product.product.discount_price %}
                          &#8377;{{order_product.get_total_discount_product_price}}
                          {% else %}
                          &#8377;{{order_product.get_total_product_price}}
                          {% endif %}
                        </strong></td>
                        <td class="border-0 align-middle"><a href="{% url 'dashboard:remove_from_cart' order_product.user.account.slug order_product.product.pk %}" class="text-danger"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      {% empty %}
                      <tr>
                          <td colspan='5'>Your cart is empty</td>
                      </tr>
                      <tr>
                          <td colspan="5">
                          <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
                          </td>
                      </tr>
                     {% endfor %}
                     {% if object.get_total %}
                     <tr>
                         <td colspan="3"><b>Order Total</b></td>
                         <td><b>₹{{ object.get_total }}</b></td>
                     </tr>
                     <tr>
                         <td colspan="5">
                         <a class='btn btn-warning float-right ml-2' href="{% url 'product:product_checkout' %}">Proceed to checkout</a>
                         <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
                         </td>
                     </tr>
                     {% endif %}
                    </tbody>
                  </table>
                </div>
                <!-- End -->
              </div>
            </div>
            <!-- <div class="row py-5 p-4 bg-white rounded shadow-sm">
              <div class="col-lg-6">
                <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Coupon code</div>
                <div class="p-4">
                  <p class="font-italic mb-4">If you have a coupon code, please enter it in the box below</p>
                  <div class="input-group mb-4 border rounded-pill p-2">
                    <input type="text" placeholder="Apply coupon" aria-describedby="button-addon3" class="form-control border-0">
                    <div class="input-group-append border-0">
                      <button id="button-addon3" type="button" class="btn btn-primary px-4 rounded-pill"><i class="fa fa-gift mr-2"></i>Apply coupon</button>
                    </div>
                  </div>
                </div>
                <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Instructions for seller</div>
                <div class="p-4">
                  <p class="font-italic mb-4">If you have some information for the seller you can leave them in the box below</p>
                  <textarea name="" cols="30" rows="2" class="form-control"></textarea>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
                <div class="p-4">
                  <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
                  <ul class="list-unstyled mb-4">
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong>₹390.00</strong></li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping and handling</strong><strong>₹10.00</strong></li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tax</strong><strong>₹0.00</strong></li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                      <h5 class="font-weight-bold">₹400.00</h5>
                    </li>
                  </ul><a href="#" class="btn btn-primary rounded-pill py-2 btn-block">Procceed to checkout</a>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
{% endblock content %}
