<!doctype html>
<html lang="en">
  <head>
  {% comment %} style="border:2px solid black;text-align: center;margin-top:15%;padding:5px;" {% endcomment %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- CSS -->
    <link rel="stylesheet" href="./css/app.css">

    <title>Category</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="./images/logo.png" alt="">
          <span class="ml-5">| Tag Line</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto w-33">
            <li class="nav-item">
              <a class="nav-link" href="certificate.html"><span class="critificate-bg">Apply For Unique xxxxxxxxx Certification</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="seller/dashboard.html">Seller</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="buyer/dashboard.html">Buyer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="help.html">Help</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto right">
            <li class="nav-item login">
              <a class="nav-link" href="login.html">
                <img src="./images/login.png" alt="">
                <span>Log in New User</span>
              </a>
            </li>
            <li class="nav-item track-order">
              <a class="nav-link" href="ordertrack.html">
                <img src="./images/trackorder.png" alt="">
                <span>Track Order</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link cart" href="cart.html">
                <img src="./images/cart.png" alt="">
                <span>My Cart</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link pr-0" href="advertise.html">
                <img src="./images/advertizment.png" alt="">
                <span>Advertizment with us</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="head mt-4">
        <h5>CATEGORY NAME - RICE COOKER <small>(1500 PRODUCTS AVAILABLE)</small></h5>
      </div>
      <div class="state-list">  
        <i class="fas fa-map-marker-alt pl-2 pr-2"></i>
        <span class="pr-2">Location</span>
        <input type="text" class="mr-2" style=" width: 100px; height: 25px; ">
        <i class="fas fa-compass"></i>

        <ul>
          <li>
            <a href="#">Near me</a>
          </li>
          <li>
            <a href="#">All India</a>
          </li>
          <li>
            <a href="#">state 1</a>
          </li>
          <li>
            <a href="#">state 2</a>
          </li>
          <li>
            <a href="#">state 3</a>
          </li>
          <li>
            <a href="#">state 4</a>
          </li>
          <li>
            <a href="#">state 5</a>
          </li>
          <li>
            <a href="#">state 6</a>
          </li>
          <li>
            <a href="#">state 7</a>
          </li>
          <li>
            <a href="#">state 8</a>
          </li>
          <li>
            <a href="#">state 9</a>
          </li>
        </ul>
      </div>

      <div class="row mt-4">  
        <div class="col-md-4 col-lg-3">
          <div class="feature">
            <div class="feature__head">
              <h6>SORT BY BRAND</h6>
              <a href="#">Show all</a>
            </div>
            <form class="feature__form" action="">
              <div class="form-group search">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <div class="checkboxs">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand1">
                  <label class="custom-control-label" for="brand1">Brand 1</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand2">
                  <label class="custom-control-label" for="brand2">Brand 2</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand3">
                  <label class="custom-control-label" for="brand3">Brand 3</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand4">
                  <label class="custom-control-label" for="brand4">Brand 4</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand5">
                  <label class="custom-control-label" for="brand5">Brand 5</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand6">
                  <label class="custom-control-label" for="brand6">Brand 6</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand7">
                  <label class="custom-control-label" for="brand7">Brand 7</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand8">
                  <label class="custom-control-label" for="brand8">Brand 8</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand9">
                  <label class="custom-control-label" for="brand9">Brand 9</label>
                </div>
              </div>
              <button class="btn btn-primary btn-block mt-3">Load More</button>
            </form>
          </div>

          <div class="feature mt-3">
            <div class="feature__head">
              <h6>SORT BY CATEGORY</h6>
              <a href="#">Show all</a>
            </div>
            <form class="feature__form" action="">
              <div class="form-group search">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <div class="checkboxs">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category1">
                  <label class="custom-control-label" for="category1">Category 1</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category2">
                  <label class="custom-control-label" for="category2">Category 2</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category3">
                  <label class="custom-control-label" for="category3">Category 3</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category4">
                  <label class="custom-control-label" for="category4">Category 4</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category5">
                  <label class="custom-control-label" for="category5">Category 5</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category6">
                  <label class="custom-control-label" for="category6">Category 6</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category7">
                  <label class="custom-control-label" for="category7">Category 7</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category8">
                  <label class="custom-control-label" for="category8">Category 8</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category9">
                  <label class="custom-control-label" for="category9">Category 9</label>
                </div>
              </div>
              <button class="btn btn-primary btn-block mt-3">Load More</button>
            </form>
          </div>

          <!-- Related products promo part strat -->
          <div id="awardCarousel" class="carousel slide award-carousel mt-3" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#awardCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#awardCarousel" data-slide-to="1"></li>
              <!-- <li data-target="#awardCarousel" data-slide-to="2"></li> -->
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="./images/tag.png" alt="First slide">
                <div class="carousel-caption award-caption">
                  <p>BEST E-MART SHOPPE AWARD</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="./images/tag.png" alt="Second slide">
                <div class="carousel-caption award-caption">
                  <p>BEST E-MART SHOPPE</p>
                </div>
              </div>
              <!-- <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Third slide">
              </div> -->
            </div>

            <a class="award-prev" href="#awardCarousel" role="button" data-slide="prev">
              <i class="fas fa-angle-left" aria-hidden="true"></i>
              <!-- <span class="award-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span> -->
            </a>
            <a class="award-next" href="#awardCarousel" role="button" data-slide="next">
              <i class="fas fa-angle-right" aria-hidden="true"></i>
              <!-- <span class="award-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span> -->
            </a>
          </div>
          <!-- Related products promo part end -->

          <!-- input slider -->
          <!-- <div class="range-slider">
            <h4>SORT BY PRICE RANGE</h4>
            <form action="">
              <div class="row">
                <div class="col w-25">
                  <input type="number" class="form-control" placeholder="100000">
                </div>
                <div class="col w-25">
                  <input type="number" class="form-control" placeholder="10000000">
                </div>
              </div>
              <div class="slider-input">
                <div data-role="rangeslider">
                  <label for="price-min">Price:</label>
                  <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
                  <label for="price-max">Price:</label>
                  <input type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
                </div>
              </div>
            </form>
          </div> -->
          <!-- input slider -->

          <!-- <div class="ad-big-box mt-3">
            <div class="image">
              <img class="ad-img" src="./images/cooker.jpg" alt="">
              <img class="stipe" src="./images/top-strip.png" alt="">
            </div>
            <div class="content">
              <div class="logo">logo</div>
              <div class="center-text">
                your content should be here
              </div>
              <button class="btn btn-light btn-lg">Click here <i class="fas fa-angle-right"></i></button>
              <div class="link">
                <a href="#">www.website.com</a>
              </div>
            </div>
          </div>

          <div class="ad-small-box">
            <div class="image">
              <img class="ad-img" src="./images/sortBoxImage.png" alt="">
            </div>
            <div class="content">
              <img class="stipe" src="./images/left-strip.png" alt="">
              <div class="center-text">
                your content should be here
              </div>
              <button class="btn btn-light">Click here <i class="fas fa-angle-right"></i></button>
              <div class="link">
                <a href="#">www.website.com</a>
              </div>
            </div>
          </div> -->

        </div>
        <div class="col-md-8 col-lg-9">
          <!-- banner part start -->
          <!-- <div class="banner">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing <br />  dolor sit amet consectetur, adipisicing.</h1>
            <div class="search-location">
              <form class="form-inline">
                <div class="form-group mr-3">
                  <input type="text" class="form-control" id="location" placeholder="Auto Select Location Dehi (set as default)">
                </div>
                <button type="submit" class="btn btn-primary">
                  <i class="fas fa-search"></i>
                </button>
              </form>
              <form class="form-inline">
                <div class="form-group mr-3">
                  <input type="text" class="form-control" id="location" placeholder="Product Type">
                </div>
                <button type="submit" class="btn btn-primary">
                  <i class="fas fa-search"></i> Search
                </button>
              </form>
            </div>
          </div> -->
          <!-- banner part end -->

          <h3>xxxx Mart CATEGORY LEADER</h3>
          <!-- Recommended Products part start -->
         <div class="product-list mt-3">
          <!-- <form class="form-inline mb-3">
            <div class="form-group w-50 mr-3">
              <input type="text" class="form-control w-100" id="location" placeholder="TRUSTED BRANDS | SEARCH BY PRODUCT TYPE">
            </div>
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-search"></i> Search
            </button>
          </form> -->
          
          <div id="carouselExampleControls" class="carousel slide d-flex align-items-center " data-ride="carousel">
            <a class="btn btn-primary mr-2 p-2 d-flex align-items-center" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-3">
                    <div class="product-item">
                        <div class="image">
                          <img src="./images/product/img-1.jpeg" alt="Image 1">
                        </div>
                        <div class="name">Product Name</div>
                        <div class="type">Product Type</div>
                        <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-3">
                    <div class="product-item">
                        <div class="image">
                          <img src="./images/product/img-2.png" alt="Image 2">
                        </div>
                        <div class="name">Product Name</div>
                        <div class="type">Product Type</div>
                        <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-3">
                    <div class="product-item">
                        <div class="image">
                          <img src="./images/product/img-3.jpg" alt="Image 3">
                        </div>
                        <div class="name">Product Name</div>
                        <div class="type">Product Type</div>
                        <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-3">
                    <div class="product-item">
                        <div class="image">
                          <img src="./images/product/img-4.png" alt="Image 4">
                        </div>
                        <div class="name">Product Name</div>
                        <div class="type">Product Type</div>
                        <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-3">
                    <div class="product-item">
                        <div class="image">
                          <img src="./images/product/img-1.jpeg" alt="Image 1">
                        </div>
                        <div class="name">Product Name</div>
                        <div class="type">Product Type</div>
                        <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-3">
                    <div class="product-item">
                        <div class="image">
                          <img src="./images/product/img-2.png" alt="Image 2">
                        </div>
                        <div class="name">Product Name</div>
                        <div class="type">Product Type</div>
                        <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-3">
                    <div class="product-item">
                        <div class="image">
                          <img src="./images/product/img-3.jpg" alt="Image 3">
                        </div>
                        <div class="name">Product Name</div>
                        <div class="type">Product Type</div>
                        <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-3">
                    <div class="product-item">
                        <div class="image">
                          <img src="./images/product/img-4.png" alt="Image 4">
                        </div>
                        <div class="name">Product Name</div>
                        <div class="type">Product Type</div>
                        <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="btn btn-primary ml-2 p-2 d-flex align-items-center" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <!-- Row end -->
          <!-- <div class="text-right">
            <small>featuring trusted brands near you</small>
          </div> -->
        </div>
          <!-- Recommended Products part end -->

          <!-- Product detail part start -->
      <div class="product mt-3">
        <div class="row no-gutters">
          <div class="col border">
            <div class="image">
              <img src="./images/cooker.jpg" alt="">
              <div class="img-caption">Rice Cooker 15 Ltr</div>
            </div>
          </div>
          <div class="col position-relative">
            <div class="product-detail">
              <div class="title">KENT Electric Rice Cooker SS</div>
              <div class="sub-title mb-3">Cook & Serve Design with Keep Warm Fuction</div>
              <div class="price">MRP: Rs 3,500</div>
              <div class="text-mute">(Inclusive of all taxes)</div>
            </div>
          </div>
          <div class="col background">
            <img src="./images/tag.png" alt="">
            <div class="address">
              <div class="name">Stove Kraft Ltd.</div>
              <div class="address-detail">81/1, Harohalli Indrustrial Area, Kanakapura Taluk, Ramanagara, Bangalore, Karnataka 562112, India</div>
            </div>
            <button class="btn btn-default"><i class="fas fa-cart"></i> Request a quote for Bulk Order</button>
          </div>
        </div>
        <div class="row no-gutters mt-2">
          <div class="col-4"><img src="./images/4-star.png" alt=""></div>
          <div class="col-8 d-flex justify-content-between pl-3">
            <button class="btn btn-primary">Add to cart</button>
            <button class="btn btn-primary">Buy Now</button>
            <button class="btn btn-primary">Chat Now</button>
            <button class="btn btn-primary">Compare</button>
          </div>
        </div>
      </div>
      <!-- Product detail part end -->

          <!-- register form start -->
          <div class="register-form mt-3">
            <h5 class="text-uppercase mb-3">we connect manufacturers with wholesale traders & institutions</h5>
            <div class="row">
              <div class="col-12 col-sm-8">
                <form>
                  <div class="row">
                    <div class="form-group col- 12 col-sm-6">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group col- 12 col-sm-6">
                      <label for="email">E-mail</label>
                      <input type="email" class="form-control" id="email" placeholder="shotercarlos@gmail.com">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col- 12 col-sm-6">
                      <label for="phone">Mobile</label>
                      <input type="tel" class="form-control" id="phone" placeholder="+91 0000000000">
                    </div>
                    <div class="form-group col- 12 col-sm-6">
                      <label for="businessType">Business Types</label>
                      <select class="form-control btn-primary" id="businessType">
                        <option>Wholesaller</option>
                        <option>Manufacturer</option>
                        <option>Retailer</option>
                        <option>Exporter</option>
                        <option>Distributor</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" rows="5"></textarea>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="sendCopy">
                        <label class="custom-control-label" for="sendCopy">Send me a copy</label>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 text-right">
                      <button class="btn btn-primary btn-lg">Send</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-12 col-sm-4">
                <div class="right-side">
                  <div class="top">
                    <span>become a</span>
                    <span>xxxx Mart</span>
                    <span>member today</span>
                    <span>1000 Ad Impressions Free</span>
                  </div>
                  <div class="bottom"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- register form part end -->

          <!-- Recommended Products part start -->
          <!-- <div class="product-list mt-3">
            <form class="form-inline mb-3">
              <div class="form-group w-75  mr-3">
                <input type="text" class="form-control w-100" id="location" placeholder="MANUFACTURERS OFFERING CUSTOMIZED SOLUTIONS">
              </div>
              <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i> Search
              </button>
            </form>
            <div class="row">
            <div class="col-12 col-sm-4 col-md-3">
              <div class="product-item">
                  <div class="image">
                    <img src="./images/product/img-1.jpeg" alt="Image 1">
                  </div>
                  <div class="name">Product Name</div>
                  <div class="type">Product Type</div>
                  <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3">
              <div class="product-item">
                  <div class="image">
                    <img src="./images/product/img-2.png" alt="Image 2">
                  </div>
                  <div class="name">Product Name</div>
                  <div class="type">Product Type</div>
                  <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3">
              <div class="product-item">
                  <div class="image">
                    <img src="./images/product/img-3.jpg" alt="Image 3">
                  </div>
                  <div class="name">Product Name</div>
                  <div class="type">Product Type</div>
                  <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3">
              <div class="product-item">
                  <div class="image">
                    <img src="./images/product/img-4.png" alt="Image 4">
                  </div>
                  <div class="name">Product Name</div>
                  <div class="type">Product Type</div>
                  <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
              </div>
            </div>
            </div> -->
            <!-- Row end -->
            <!-- <div class="text-center mt-4 mb-2">
              <button class="btn btn-primary btn-lg">Load More</button>
            </div>
          </div> -->
          <!-- Recommended Products part end -->

          <!-- Recommended Products part start -->
          <!-- <div class="recommended-product">
            <div class="head">Recommended Products</div>
            <div class="searched-link">
              <a href="">Search 1</a>
              <a href="">Search 2</a>
              <a href="">Search 3</a>
              <a href="">Search 4</a>
              <a href="">Search 5</a>
            </div>
            <div class="fas fa-ellipsis-h ml-auto"></div>
            <div class="tag">refresh your search</div>
          </div> -->
          <!-- Recommended Products part end -->
        </div>
      </div>
      <!-- Recommended Products part start -->
      <div class="product-list mt-3 mb-3">
        <h5>THIS WEEK TOP FOUR EDITORS CHOISE</h5>
        <!-- <form class="form-inline mb-3">
          <div class="form-group w-50 mr-3">
            <input type="text" class="form-control w-100" id="location" placeholder="">
          </div>
        </form> -->
        <div class="row">
          <div class="col-12 col-sm-4 col-md-3">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-1.jpeg" alt="Image 1">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-md-3">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-2.png" alt="Image 2">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-md-3">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-3.jpg" alt="Image 3">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-md-3">
            <div class="product-item">
                <div class="image">
                  <img src="./images/product/img-4.png" alt="Image 4">
                </div>
                <div class="name">Product Name</div>
                <div class="type">Product Type</div>
                <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
        </div>
        <!-- <div class="row mt-4 mb-2">
          <div class="col-sm-6 offset-sm-3">
            <button class="btn btn-primary btn-lg btn-block">Know more about Editors Choisce</button>
          </div>
        </div> -->
        <!-- Row end -->
        <div class="text-right">
          <small>featuring trusted brands near you</small>
        </div>
      </div>
      
      <!-- Promotional vedio start -->
      <div class="promo-video height">
        <span>Play our promotional video here</span>
        <i class="fas fa-play"></i>
        <span>Make an impression with your customers</span>
      </div>
      <!-- Promotional vedio end -->
      
      <!-- term-cta start -->
      <div class="term-cta">
        <h1><span>30 day credit terms*30 day credit terms*</span> <br /> for wholesaller & institution</h1>
        <button class="btn btn-light btn-lg">Click here <i class="fas fa-angle-right"></i></button>
        <img src="./images/creadit.png" alt="">
      </div>
      <!-- term-cta end -->

      <!-- Related products promo part strat -->
      <h3 class="text-uppercase mt-3">Related products</h3>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="./images/promo-img-1.png" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="./images/promo-img-1.png" alt="Second slide">
          </div>
          <!-- <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Third slide">
          </div> -->
        </div>
      </div>
      <!-- Related products promo part end -->

      <!-- Recommended Products part start -->
     <!-- <div class="product-list">
      <form class="form-inline mb-3">
        <div class="form-group w-50 mr-3">
          <input type="text" class="form-control w-100" id="location" placeholder="CATEGORY LEADERS | SEARCH BY PRODUCT TYPE">
        </div>
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i> Search
        </button>
      </form>
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-1.jpeg" alt="Image 1">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-2.png" alt="Image 2">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-3.jpg" alt="Image 3">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-4.png" alt="Image 4">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
      </div>
      <-- Row end ->
     </div> -->
      <!-- Recommended Products part end -->

      <!-- Recommended Products part start -->
     <div class="product-list mt-3">
      <!-- <form class="form-inline mb-3">
        <div class="form-group w-50 mr-3">
          <input type="text" class="form-control w-100" id="location" placeholder="FAETURED PRODUCT | SEARCH BY PRODUCT TYPE">
        </div>
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i> Search
        </button>
      </form> -->
      <h5>FAETURED PRODUCT</h5>
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-1.jpeg" alt="Image 1">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-2.png" alt="Image 2">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-3.jpg" alt="Image 3">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-4.png" alt="Image 4">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-4.png" alt="Image 4">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-4.png" alt="Image 4">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-4.png" alt="Image 4">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-4.png" alt="Image 4">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
      </div>
      <!-- Row end -->
      <div class="text-center mt-4 mb-2">
        <button class="btn btn-primary btn-lg">Load More</button>
      </div>
     </div>
      <!-- Recommended Products part end -->
      
      <!-- CTA start -->
      <div class="certificate-cta mt-3">
        <div class="row no-gutters align-items-center">
          <div class="col-12 col-sm-2 text-center">
            <img src="./images/tag.png" alt="">
          </div>
          <div class="col-12 col-sm-7">
            <h5 class="text-uppercase mb-0">attention manufacturers</h5>
            <h4 class="text-uppercase mb-0">get your xxxxxxxxxxxxxxxxx  </h4>
            <h5 class="text-uppercase mb-0">trust certificate & imporve your bussiness</h5>
          </div>
          <div class="col-12 col-sm-3">
            <button class="btn btn-light btn-lg">Apply Now <i class="fas fa-angle-right"></i></button>
          </div>
        </div>
      </div>
      <!-- CTA end -->

      <!-- CTA start -->
      <div class="mt-3">
        <img src="./images/book-spot.png" class="w-100" alt="">
      </div>
      <!-- CTA end -->
    </div>

    

    <!-- <div class="chat">
      <img src="./images/chat.png" alt="">
      <div class="content">
        <small>Have a Requirement?</small>
        <h3>Get Best Price</h3>
      </div>
    </div> -->

    <div class="newstetter text-center pt-4 pb-4 mt-5">
      <h2 class="text-uppercase"><span>subscribe</span> to our newsletter</h2>
      <small>The best B2B news for manufactur and traders</small>
      <div class="input-group col-6 offset-3 mt-4">
        <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="subscribe">
        <div class="input-group-append">
          <span class="input-group-text" id="subscribe">Subscribe</span>
        </div>
      </div>
    </div>

    <footer class="pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-2">
            <a href="index.html">
              <img src="./images/footerLogo.png" alt="">
            </a>
          </div>
          <div class="col-12 col-sm-6 col-lg-2">
            <ul>
              <li class="head">About Us</li>
              <li><a href="about-us.html">XXX Mart</a></li>
              <li><a href="management.html">Management Team</a></li>
              <li><a href="media-center.html">Media Center</a></li>
              <li><a href="workWithUs.html">Work With Us</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <ul>
              <li class="head">Customer Services</li>
              <li><a href="help.html">Help Center</a></li>
              <li><a href="privacy-policy.html">privacy policy</a></li>
              <li><a href="trading-policy.html">Trading policy</a></li>
              <li><a href="term-condition.html">terms & conditons</a></li>
              <li><a href="seller/user.html">edit Profile</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <ul>
              <li class="head">E-Trade Service</li>
              <li><a href="certificate.html">XXXXXXXXX Certificate</a></li>
              <li><a href="company.html">E-Shoppe Development</a></li>
              <li><a href="media-center.html">Media Center</a></li>
              <li><a href="advertise.html">Adverties Your Brand</a></li>
              <!-- <li><a href="#">Transact To Trade</a></li> -->
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-2">
            <ul>
              <li class="head">Follow us</li>
              <li>
                <a href=""><img src="./images/fb.png" alt=""></a>
                <a href=""><img src="./images/tw.png" alt=""></a>
                <a href=""><img src="./images/lindin.png" alt=""></a>
                <a href=""><img src="./images/youtube.png" alt=""></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright text-center pt-3 pb-3">
      <p class="mb-3">&#169; 2021 XXXXXXXXXXXX Mart</p>
      <img src="./images/footerSub.png" alt="">
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
  </body>
</html>