{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    .ex {
    padding: 10px;
    box-shadow: -14px 12px 0 0px #99a0b7;
    height: fit-content;
    margin-top:3%;
}

@media (max-width:500px){
  .ex{
    flex: 1 0 100% !important;
    max-width: 92% !important;
    margin-left: 6% !important;
    margin-bottom: 25px !important;
  }
}

</style>
     <div class="container">
      <div class="row">
       <div class="col-12 col-sm-3 bg-primary pl-0 pr-0 ex" style="height: fit-content;">
          <ul class="nav flex-column pt-3">
              <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">About Ramagya Mart</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about_management' %}">Management Team</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about_media_center' %}">Media Center</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li> -->
              <li class="nav-item"><a class="nav-link active" href="{% url 'dashboard:seller_paid_service' %}">Ramagya Vishwas Certification</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="company.html">E-Shoppe Development</a></li> -->
              <li class="nav-item"><a class="nav-link" href="{% url 'advertise' %}">Advertise Your Brand</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'term_condition' %}">Terms & Conditions</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="seller/user.html">edit Profile</a></li> -->
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm-9">
          <div class="pricing card-deck flex-column flex-md-row mb-3">
              <div class="card card-pricing text-center px-3 mb-4">
                  <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">FREE</span>
                  <div class="text-center">
                    <img src="{% static 'images/tag.png' %}" class="w-25" alt="">
                  </div>
                  <div class="bg-transparent card-header pt-4 border-0">
                      <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="15">INR    <span class="price">0</span><br><span class="h6 text-muted ml-2">/ per month</span></h1>
                  </div>
                  <div class="card-body pt-0">
                      <ul class="list-unstyled mb-4">
                          <li>Slide show in listing</li>
                          <li>Display of 4 Product images in super selling listing</li>
                          <li>Product options within the catalog</li>
                          <li>Free cancellation</li>
                      </ul>

                     {% comment %}
                     <a href="{% url 'dashboard:add_to_cart' object.user.account.slug object.pk %}" type="btn" class="btn btn-outline-secondary mb-3">Order now</a>
                     {% endcomment %}
                     <form method="post" action="{% url 'subscription:subscription_checkout' %}">
                         {% csrf_token %}
                     <button type="submit" class="btn btn-primary mb-3" name="vishwas" value="0">Order now</button>
                    </form>
                  </div>
              </div>
              <div class="card card-pricing popular shadow text-center px-3 mb-4">
                  <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">VISHWAS</span>
                  <div class="text-center">
                    <img src="{% static 'images/tag.png' %}" class="w-25" alt="">
                  </div>
                  <div class="bg-transparent card-header pt-4 border-0">
                      <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-name="" value="3000">INR    <span class="price">3000</span><span class="h6 text-muted ml-2">/ per month</span></h1>
                  </div>
                  <div class="card-body pt-0">
                      <ul class="list-unstyled mb-4">
                          <li>Slide show in listing</li>
                          <li>Display of 4 Product images in super selling listing</li>
                          <li>Product options within the catalog</li>
                          <li>Free cancellation</li>
                      </ul>
                      <form method="post" action="{% url 'subscription:subscription_checkout' %}">
                        {% csrf_token %}
                    <button type="submit" class="btn btn-primary mb-3" name="vishwas" value="3000">Order now</button>
                   </form>
                  </div>
              </div>
              <div class="card card-pricing text-center px-3 mb-4">
                  <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">VYAPAR</span>
                  <div class="text-center">
                    <img src="{% static 'images/tag.png' %}" class="w-25" alt="">
                  </div>
                  <div class="bg-transparent card-header pt-4 border-0">
                      <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="45">INR  <span class="price">6000</span><span class="h6 text-muted ml-2">/ per month</span></h1>
                  </div>
                  <div class="card-body pt-0">
                      <ul class="list-unstyled mb-4">
                          <li>Slide show in listing</li>
                          <li>Display of 4 Product images in super selling listing</li>
                          <li>Product options within the catalog</li>
                          <li>Free cancellation</li>
                      </ul>
                      <form method="post" action="{% url 'subscription:subscription_checkout' %}">
                        {% csrf_token %}
                    <button type="submit" class="btn btn-primary mb-3" name="vishwas" value="6000">Order now</button>
                   </form>
                  </div>
              </div>
              <!-- <div class="card card-pricing text-center px-3 mb-4">
                  <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Enterprise</span>
                  <div class="text-center">
                    <img src="images/tag.png" class="w-25" alt="">
                  </div>
                  <div class="bg-transparent card-header pt-4 border-0">
                      <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="60">INR<span class="price">12</span><span class="h6 text-muted ml-2">/ per month</span></h1>
                  </div>
                  <div class="card-body pt-0">
                      <ul class="list-unstyled mb-4">
                          <li>Up to 5 users</li>
                          <li>Basic support on Github</li>
                          <li>Monthly updates</li>
                          <li>Free cancelation</li>
                      </ul>
                      <button type="button" class="btn btn-outline-secondary mb-3">Order now</button>
                  </div>
              </div> -->
          </div>
        </div>
      </div>
  </div>

    {% endblock content %}