{% extends 'base.html' %}
{% block content %}
<style>
    .page-banner {
    height: 300px;
    background-image: linear-gradient(to right bottom, rgba(56,54,55,0.7), rgba(56,54,55,0.5)),url(/static/images/about.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
</style>
    <div class="page-banner">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12">
          <div id="companyOverview" class="tab-pane active" role="tabpanel" style="text-align:justify;">
                    <h4 class="hd-rd-brdr hd-inner-link">Your Title Here</h4><hr class="hr">
                    <div class="clearfix"></div>
                    <p>Ramagya Mart is India’s uniquely first and only B2B E-Trading Marketplace specialized and focused on the home appliance category. The home appliance focused B2B Wholesale Portal caters to the business promotion and distribution channel business development needs of Indian home appliances manufacturers.<br>
                    Before we created the Ramagya Mart B2B e-commerce platform or creating our customized services for our home appliance manufacturers, we did an in-depth research conducted over 1 year to understand the home appliances business in detail, the distribution challenges and brand building challenges home appliance manufacturers faced. Through this in-depth research, we uncovered business and distribution challenges faced by over 1000 home appliances manufacturers and traders across India. </p>
                    </div>
                </div>
        </div>
        <div class="register-form mt-3" style="background-color: #f5f5f5;">
            <div class="row">
              <div class="col-12 col-sm-8" style="background-color:#eeeded;padding:20px;
              border-radius: 15px;">
                <h5 class="text-uppercase mb-3">Contact</h5>
                <!-- messages -->
                <!-- end messages -->
                <form method="post" action="javascript:voice()" id="eshopeform">
                {% csrf_token %}
                  <div class="row">
                    <div class="form-group col- 12 col-sm-6">
                      <label for="name">Name:</label>
                      <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                    </div>
                    <div class="form-group col- 12 col-sm-6">
                      <label for="email">E-mail:</label>
                      <input type="email" class="form-control" name="email" id="email" placeholder="shotercarlos@gmail.com">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col- 12 col-sm-6">
                      <label for="phone">Mobile:</label>
                      <input type="tel" class="form-control" name="mobile" id="phone" placeholder="+91 0000000000">
                    </div>
                    <div class="form-group col- 12 col-sm-6">
                      <label for="businessType">Business Types:</label>
                      <select class="form-control btn-primary" name="business_type" id="businessType">
                        <option>Wholesaler</option>
                        <option>Manufacturer</option>
                        <option>Retailer</option>
                        <option>Exporter</option>
                        <option>Distributor</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea class="form-control" name="message" id="message" rows="5"></textarea>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="send_copy" id="sendCopy">
                        <label class="custom-control-label" for="sendCopy">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Send me a copy</label>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 text-right">
                      <button class="btn btn-primary send">Send</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-12 col-sm-4">
                <div class="right-side">
                  <div class="top">
                    <h3>Advertise With Us</h3>
                    <button class="btn btn-primary send">Click Here</button>
                  </div><br>
                  <img src="https://st2.depositphotos.com/3837271/7341/i/600/depositphotos_73410145-stock-photo-advertise-with-us-card.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    {% endblock content %}