{% extends 'base.html' %}
{% block content %}
    <div class="container-contact100">
      <div class="wrap-contact100">
          <form class="contact100-form validate-form">
          <span class="contact100-form-title">
          Send Us A Message
          </span>
          <label class="label-input100" for="first-name">Tell us your name *</label>
          <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type first name">
           <input id="first-name" class="input100" type="text" name="first-name" placeholder="First name">
           <span class="focus-input100"></span>
          </div>
          <div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
           <input class="input100" type="text" name="last-name" placeholder="Last name">
           <span class="focus-input100"></span>
          </div>
          <label class="label-input100" for="email">Enter your email *</label>
          <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
           <input id="email" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
           <span class="focus-input100"></span>
          </div>
          <label class="label-input100" for="phone">Enter phone number</label>
          <div class="wrap-input100">
           <input id="phone" class="input100" type="text" name="phone" placeholder="Eg. +1 800 000000">
           <span class="focus-input100"></span>
          </div>
          <label class="label-input100" for="message">Message *</label>
          <div class="wrap-input100 validate-input" data-validate="Message is required">
           <textarea id="message" class="input100" name="message" placeholder="Write us a message"></textarea>
           <span class="focus-input100"></span>
          </div>
          <div class="container-contact100-form-btn">
           <button class="contact100-form-btn">
           Send Message
           </button>
          </div>
          </form>
          <div class="contact100-more d-flex align-items-center" style="background-image: url('images/bg-01.jpg');">
            <div class="col-8 offset-2">
              <div class="d-flex  size1 pb-5">
                <div class="txt1">
                  <i class="fas fa-location"></i>
                </div>
                <div class="d-flex flex-column pl-4">
                  <span class="txt1 pb-3">
                  Address
                  </span>
                  <span class="txt2">
                  Tower No.  C, Ground Floor,<br>
                    Office No.  0102,<br> 
                    ATS Bouquet - Sector 132,<br> 
                    Noida, Uttar Pradesh 201304<br>
                  </span>
                </div>
              </div>
              <div class="d-flex  size1 pb-5">
                <div class="txt1">
                  <i class="fas fa-envelope"></i>
                </div>
                <div class="d-flex flex-column pl-4">
                  <span class="txt1 pb-3">
                    General Support
                  </span>
                  <span>
                    <a class="txt2" href="mailto:info@ramagyamart.com">info@ramagyamart.com</a>
                  </span>
                </div>
              </div>
              <div class="d-flex  size1 pb-5">
                <div class="txt1">
                  <i class="fas fa-phone"></i>
                </div>
                <div class="d-flex flex-column pl-4">
                  <span class="txt1 pb-3">
                    Lets Talk
                  </span>
                  <span class="txt2">
                    +91-99XXXXXXXXX
                  </span>
                </div>
              </div>              
            </div>
          </div>
      </div>
     </div>
{% endblock content %}