{% extends 'base.html' %}
{% block content %}
    <div class="container">
     <div class="" id="accordion">
          <div class="faqHeader">General questions</div>
          <div class="card ">
            <h4 class="card-header panel-heading">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Is account registration required?</a>
            </h4>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="p-4">
                    Account registration at <strong>Ramagya Mart company</strong> is only required. 
                </div>
            </div>
          </div>
          <!--<div class="card ">-->
          <!--  <h4 class="card-header panel-heading">-->
          <!--      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Can I submit my own Bootstrap templates or themes?</a>-->
          <!--  </h4>-->
          <!--  <div id="collapseTen" class="panel-collapse collapse">-->
          <!--      <div class="p-4">-->
          <!--          A lot of the content of the site has been submitted by the community. Whether it is a commercial element/template/theme -->
          <!--          or a free one, you are encouraged to contribute. All credits are published along with the resources. -->
          <!--      </div>-->
          <!--  </div>-->
          <!--</div>-->
          <div class="card ">
            <h4 class="card-header panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">What is the currency used for all transactions?</a>
            </h4>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="p-4">
                    All prices for items, including each seller's or buyer's account balance are in <strong>INR</strong>
                </div>
            </div>
          </div>
  
          <div class="faqHeader">Sellers</div>
          <div class="card ">
            <h4 class="card-header panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Who can sell items?</a>
            </h4>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="p-4">
                    Any registed user, who presents a work, which is genuine and appealing, can post it on <strong>Ramagya Mart company</strong>.
                </div>
            </div>
          </div>
          <div class="card ">
            <h4 class="card-header panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">I want to sell my items - what are the steps?</a>
            </h4>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="p-4">
                    The steps involved in this process are really simple. All you need to do is:
                    <ul>
                        <li>Register an account as Seller</li>
                        <li>Activate your account</li>
                        <li>Go to the <strong>Add Product</strong> section and Fill the necessary details</li>
                        <li>You can now Sell your Products.</li>
                    </ul>
                </div>
            </div>
          </div>
          <div class="card ">
            <h4 class="card-header panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How much do I get from each sale?</a>
            </h4>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="p-4">
                    Here, at <strong>Ramagya Mart company</strong>,It varies from product to product.
                    <br />
                </div>
            </div>
          </div>
          <!--<div class="card ">-->
          <!--  <h4 class="card-header panel-heading">-->
          <!--      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Why sell my items here?</a>-->
          <!--  </h4>-->
          <!--  <div id="collapseSix" class="panel-collapse collapse">-->
          <!--      <div class="p-4">-->
          <!--          There are a number of reasons why you should join us:-->
          <!--          <ul>-->
          <!--              <li>A great 70% flat rate for your items.</li>-->
          <!--              <li>Fast response/approval times. Many sites take weeks to process a theme or template. And if it gets rejected, there is another iteration. We have aliminated this, and made the process very fast. It only takes up to 72 hours for a template/theme to get reviewed.</li>-->
          <!--              <li>We are not an exclusive marketplace. This means that you can sell your items on <strong>XXXX company</strong>, as well as on any other marketplate, and thus increase your earning potential.</li>-->
          <!--          </ul>-->
          <!--      </div>-->
          <!--  </div>-->
          <!--</div>-->
          <div class="card ">
            <h4 class="card-header panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">What are the payment options?</a>
            </h4>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="p-4">
                    The best way to transfer funds is via Paypal, Credit Card, Debit Card, Online Banking. This secure platform ensures timely payments and a secure environment. 
                </div>
            </div>
          </div>
          <!--<div class="card ">-->
          <!--  <h4 class="card-header panel-heading">-->
          <!--      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">When do I get paid?</a>-->
          <!--  </h4>-->
          <!--  <div id="collapseNine" class="panel-collapse collapse">-->
          <!--      <div class="p-4">-->
          <!--          Our standard payment plan provides for monthly payments. At the end of each month, all accumulated funds are transfered to your account. -->
          <!--          The minimum amount of your balance should be at least 70 USD. -->
          <!--      </div>-->
          <!--  </div>-->
          <!--</div>-->
  
          <div class="faqHeader">Buyers</div>
          <div class="card ">
            <h4 class="card-header panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">I want to buy  Products - what are the steps?</a>
            </h4>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="p-4">
                    Buying a Product on <strong>Ramagya Mart company</strong> is really simple. Each Product has a live preview. 
                    Once you have selected a Product, which is to your liking, you can add it to Cart and Checkout once checkout you need to do fill necessary details and click on Pay.
                    <br />
                    Once the transaction is complete, You have successfully purchased that Product. 
                </div>
            </div>
          </div>
          <div class="card ">
            <h4 class="card-header panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Can we get the customized quotation?</a>
            </h4>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="p-4">
                    In <strong>Ramagya Mart company</strong> Ofcourse you can get. Click on the customized quotation.
                </div>
            </div>
          </div>
      </div>
  </div>

  {% endblock content %}