{% extends 'base.html' %}
{% block content %}
<style>
    @media only screen and (max-width: 400px){
        .teamdilip{
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items:center
        }
        .team .detail {
        width: calc(100%);
        padding-left: 20px;
        text-align: justify;
        align-items:center;
        justify-content:center;
        padding-left: 0px;
    }
    }
    
.ex {
    padding: 10px;
    box-shadow: -14px 12px 0 0px #99a0b7;
    height: fit-content;
}

@media (max-width:500px){
  .ex{
    flex: 1 0 100% !important;
    max-width: 92% !important;
    margin-left: 6% !important;
    margin-bottom: 25px !important;
  }
}
}
</style>
    <div class="page-banner">
        <h1 class="display-5">Management Team</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 box col-sm-3 bg-primary pl-0 pr-0 ex" style="height: fit-content;">
          <ul class="nav flex-column pt-3">
              <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">About Ramagya Mart</a></li>
              <li class="nav-item"><a class="nav-link active" href="{% url 'about_management' %}">Management Team</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about_media_center' %}">Media Center</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li> -->
              <li class="nav-item"><a class="nav-link" href="{% url 'subscription:paid_service' %}">Ramagya Vishwas Certification</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="company.html">E-Shoppe Development</a></li> -->
              <li class="nav-item"><a class="nav-link" href="{% url 'advertise' %}">Advertise Your Brand</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
              <li class="nav-item"><a class="nav-link " href="{% url 'term_condition' %}">Terms & Conditions</a></li>
              <li class="nav-item"><a class="nav-link " href="{% url 'dashboard:credit_terms' %}">Credit Terms</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="seller/user.html">edit Profile</a></li> -->
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-lg-9">
          <div >
              <!--<div class="profile">-->
              <!--    <div class="image">-->
              <!--        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbmtsouvHnVXr-hFPngW-z7xIDx9t65Ldm6Q&usqp=CAU" alt="">-->
              <!--    </div>-->
              <!--    <div class="content">-->
              <!--        <div class="name">Dinesh Chandra Agarwal</div>-->
              <!--        <div class="position">Managing Director &amp; Chief Executive Officer</div>-->
              <!--    </div>-->
              <!--</div>-->
              <div class="detail dilipdetail" style="text-align:justify;">
                  <!--<h3>About Ramagya Group</h3>-->
<!--With an experience of nearly 4 decades, Ramagya Group has been a beacon of excellence in India’s education system and the sports industry. The corporate group has a diverse portfolio of companies under its name and one of the key propellers of the corporate’s business ethics and business standards stems from Ramagya Group’s initial venture of providing quality education. In fact Ramagya Group of Schools has been ranked amongst top 30 schools in India by Forbes forms the beacon of its credibility. -->
<!--Business ventures of Ramagya Group include Ramagya Sports Academy ranked as one of the top 10 Sporting Academies in India and Ramagya Institute which has been ranked as one of the top 15 Institutes in India by India Today Group. -->
<!--Stemming from nurturing and caring being the Group’s philosophy Ramagya First Step, a  day care solution has continually aided working parents to continue their professional endeavours without worry about their toddlers. The group also manages a chain of preschools, Ramagya Roots. -->
<!--Ramagya Foundation, an NGO has till date served over 11 lakh people under its 12 programmes is the corporate’s CSR initiative. The other ventures of Ramagya Group consist of Baal Saathee, a student health programme venture, an online learning portal Knowledge Vista, Ruchika Sales Corporation an import export company and Save Nishabd which is a crowdfunding platform for dogs-->

<!-- <br><br>-->
<h3>Management Team</h3>
Driven by a second generation entrepreneur, Ramagya Mart is the brainchild of Utkarsh Gupta and serves the organization in the capacity of Managing Director. 
Driven by his charismatic business understanding, prior to launching he developed his core team that consisting of management consultants of an international management consulting and brand strategy firm Newton Consulting Group that he appointed on the Ramagya Mart project since the inception of the idea. 
Currently Mr. Utkarsh has been joined by an experienced team of B2B professionals that have a collective experience of more than 100 years cumulatively. The core team consist of professionals that have joined Ramagya Mart from Trade India,  India Mart, Exporters India and Snap Deal. 
                  <br><br>
              </div>
          </div>
          <div class="team teamdilip">
              <div class="profile">
                  <div class="image">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Placeholder_Person.jpg" alt="">
                  </div>
                  <div class="content">
                      <div class="name">Utkarsh Gupta</div>
                      <div class="position">Managing Director</div>
                  </div>
              </div>
              <div class="detail">
                 Dear Friends,<br>
Let me start this open letter by giving an inference of my inspiration that drives my actions both as a human being and as a professional. As I grew into my professional life, I always asked myself what should be the values that I need to resonate and reflect in all my personal or professional interactions and engagements? 
As wise men say, ask the right questions and one would get the right answers and this I believe was the beginning of evolution in my business thinking.  I am inspired and driven by this following verse from Shri Mahatma GandhiJi 
“Carefully watch your thoughts, for they become your words. Manage and watch your words, for they will become your actions. Consider and judge your actions, for they become your habits. Acknowledge and watch your habits, for they shall become your values. Understand and embrace your values, for they become your destiny.” 
When our team commenced with the idea of Ramagya Mart, we saw this initially as a business to business e-trading platform but as we dug deeper to gain knowledge, the research outcome painted a picture of how traditional Indian manufacturing businesses are struggling to keep pace with time and technology. 
The core of the problem statement was the need to promote and drive trade with ethics as the foremost foundation and trust and transparency as the outcome to drive beneficial partnerships. And this need drove my team and myself to create a business platform that delivers customer delight outcomes as a service standard, and offers trade solutions which trigger win-win business result for both the manufacturers and their customers. 
As data and insights are the guiding force to develop a world class B2B e-trading platform product, my business thinking inspired by Shri Mahatma Gandhi ji is the driving force for Ramagya Mart. 
As we continuously evolve, this unique and differentiated e-trading wholesale B2B platform will be determined by our 3 pillared founding values of enabling Trade through Transparency and Trust and this ethic standards will be practiced by thought and action to be the propellers of prosperity for the industry I serve though Ramagya Mart. 
I seek your continued support in our endeavor to make Ramgaya Mart a global benchmark in the B2B-eCommerce.<br>
An Indian By Thought & Action
          </div>
          <!--<div class="team teamdilip">-->
          <!--    <div class="profile">-->
          <!--        <div class="image">-->
          <!--            <img src="https://www.clipartmax.com/png/middle/144-1442578_flat-person-icon-download-dummy-man.png" alt="">-->
          <!--        </div>-->
          <!--        <div class="content">-->
          <!--            <div class="name">Dinesh Gulati</div>-->
          <!--            <div class="position">Chief Operating Officer</div>-->
          <!--        </div>-->
          <!--    </div>-->
          <!--    <div class="detail">-->
          <!--        Dinesh has acquired his MBA from Faculty of Management Studies (FMS), Delhi University, after completing his B. Tech from Kanpur University. He has a strong track record of building brands from inception to full-blown profitable businesses in the field-->
          <!--        of e-commerce, telecom, FMCG and media. Prior to joining IndiaMART, he has served as Group President at The Indian Express Ltd –a leading media house of the country. With a vast experience of entrepreneurship spanned over 25 years, he-->
          <!--        has also worked as Regional CEO with Reliance Communications and at many other senior positions with leading brands like Bharti Airtel, Etisalat DB Telecom, Kodak India Ltd.-->
          <!--    </div>-->
          <!--</div>-->
          <!--<div class="team teamdilip">-->
              <!--<div class="profile">-->
                  <!--<div class="image">-->
                  <!--    <img src="https://thumbs.dreamstime.com/b/vector-illustration-avatar-dummy-logo-set-image-stock-isolated-object-icon-collection-137161298.jpg" alt="">-->
                  <!--</div>-->
                  <!--<div class="content">-->
                  <!--    <div class="name">Amrita Singh Dhaliwal</div>-->
                  <!--    <div class="position">Chief Product Officer</div>-->
                  <!--</div>-->
              <!--</div>-->
              <!--<div class="detail">-->
              <!--    Amrita received his Graduate degree from IIT Delhi and Post Graduate in Management from IIM Ahmedabad. An adventurer, intrapreneur and entrepreneur, he is passionate about building consumer stories at the confluence of product, technology, design and-->
              <!--    marketing. He has held several leadership roles and has been a part of the Times of India Group, Micromax, SBI Capital Markets and Powergen Plc. He was the co-founder and CEO of DONE BY NONE, a founder business head for Zigwheels.com,-->
              <!--    and a business head for Indiatimes Shopping.com.-->
              <!--</div>-->
          <!--</div>-->
          <!--<div class="team teamdilip">-->
          <!--    <div class="profile">-->
          <!--        <div class="image">-->
          <!--            <img src="https://www.clipartmax.com/png/middle/144-1442578_flat-person-icon-download-dummy-man.png" alt="">-->
          <!--        </div>-->
          <!--        <div class="content">-->
          <!--            <div class="name">Manoj Bhargava</div>-->
          <!--            <div class="position">Senior Vice President (Legal and Secretarial) Company Secretary and Compliance Officer</div>-->
          <!--        </div>-->
          <!--    </div>-->
          <!--    <div class="detail">-->
          <!--        Manoj holds a bachelor’s degree in commerce (honours) and a bachelor’s degree in law from University of Delhi, and a master’s degree in law from Guru Gobind Singh Indraprastha University, Delhi. He also holds a postgraduate diploma in intellectual property-->
          <!--        rights law from the Indian Law Institute and a postgraduate diploma in cyber laws from Amity Law School, New Delhi. He is also a qualified company secretary. He has experience in legal and corporate secretarial function. He has previously-->
          <!--        been associated with Capital Cars Private Limited, Integrated Databases India Limited (India Today group), Barista Coffee Company Limited, Varun Beverages Limited and HT Media Limited.-->
          <!--    </div>-->
          </div>
        </div>
      </div>
    </div>

    {% endblock content %}