{% extends 'base.html' %}
{% block content %}
<style>
    .ex {
    padding: 10px;
    box-shadow: -14px 12px 0 0px #99a0b7;
    height: fit-content;
}

@media (max-width:500px){
  .ex{
    flex: 1 0 100% !important;
    max-width: 92% !important;
    margin-left: 6% !important;
    margin-bottom: 25px !important;
  }
}
}
</style>

    <div class="page-banner">
        <h1 class="display-5">Media Center</h1>
    </div>
    <div class="container">
      <div class="row ">
        <div class="col-12 box col-sm-3 bg-primary pl-0 pr-0 ex" style="height: fit-content;">
          <ul class="nav flex-column pt-3">
              <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">About Ramagya Mart</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about_management' %}">Management Team</a></li>
              <li class="nav-item"><a class="nav-link active" href="{% url 'about_media_center' %}">Media Center</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li> -->
              <li class="nav-item"><a class="nav-link" href="{% url 'subscription:paid_service' %}">Ramagya Vishwas Certification</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="company.html">E-Shoppe Development</a></li> -->
              <li class="nav-item"><a class="nav-link" href="{% url 'advertise' %}">Advertise Your Brand</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'term_condition' %}">Terms & Conditions</a></li>
              <li class="nav-item"><a class="nav-link " href="{% url 'dashboard:credit_terms' %}">Credit Terms</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="seller/user.html">edit Profile</a></li> -->
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm-9">
          <div class="row mb-3 diliprow">
              <div class="col-sm-12 col-lg-6">
                  <div class="media-block">
                      <div class="media-title"><a style="text-decoration:none" href="http://www.businessworld.in/article/Ramagya-Group-Launching-B2B-E-Commerce-Platform-Ramagya-Mart-/15-04-2021-386679/?fbclid=IwAR2BQu-JXl0Zw-A2Opue529EWeXKTs2JxLARDZp1_tULMDbNTXtHTYT3V5s">Ramagya Group Launching B2B E-Commerce Platform Ramagya Mart | Business World Article</a></div>
                      <!--<div class="media-tab">Posted on <i>22 December, 2020</i></div>-->
                      <p>Ramagya Group is a well-recognized entity with over 36 years of excellence in India. With 20 brands in different verticals under the parent company, Ramagya Group is going to launch its B2B E-commerce platform “Ramagya Mart” shortly.The platform will connect manufacturers with thewhole-sellers, distributors and dealers directly.

                        The objective of Ramagya Mart is to drive a specific category of Indian manufacturers by offering them a platform to create their wholesale e-marts ....</p>
                  </div>
              </div>
              <div class="col-sm-12 col-lg-6">
                  <div class="media-block">
                      <div class="media-title"><a href="https://www.zee5.com/zee5news/ramagya-group-launching-b2b-e-commerce-platform-ramagya-mart?fbclid=IwAR1DJej03HFjI1M3fi_LPqeQ34CaddTKEyV1nKv_R78RrWw9tv_wZmKjNCc" style="text-decoration:none">Ramagya Group launching B2B E-commerce platform Ramagya Mart | ZEE5 Article</a></div>
                      <!--<div class="media-tab">Posted on <i>22 December, 2020</i></div>-->
                      <p>The platform will connect manufacturers with the whole-sellers, distributors, and dealers directly.
The objective of Ramagya Mart is to drive a specific category of Indian manufacturers by offering them a platform to create their wholesale e-marts on the portal and use the platform as an image-building tool to engage with a large diaspora of tier 2 and tier 3 wholesale businesses primarily.
....</p>
                  </div>
              </div>
              <!--<div class="col-sm-12 col-lg-4">-->
              <!--    <div class="media-block">-->
              <!--        <div class="media-title">xxxxxxMart .com becomes a recognized Google My Business Partner, aims to help SMEs go digital</div>-->
              <!--        <div class="media-tab">Posted on <i>22 December, 2020</i></div>-->
              <!--        <p>xxxxxxMart.com, one of the leading online B2B marketplaces in the country, is now a trusted Google My Business partner. The company can now effectively register local SMEs so that their business listings can be found on Google Search and Maps...</p>-->
              <!--    </div>-->
              <!--</div>-->
          </div>
          <div class="row diliprow">
              <div class="col-sm-12 col-lg-6">
                  <div class="media-block">
                      <div class="media-title"><a href="https://www.aninews.in/news/business/ramagya-group-launching-b2b-e-commerce-platform-ramagya-mart20210420093606/?fbclid=IwAR205O5i8qGvHQ1eTfD2XLG-1LSEG9Yj7I0mI3mtoCVbFVdLA7NseSJmY8I" style="text-decoration:none">Ramagya Group launching B2B E-commerce platform Ramagya Mart | ANI Article
                            </a></div>
                      <!--<div class="media-tab">Posted on <i>28 November, 2020</i></div>-->
                      <div class="media-image">
                          <img src="https://indianmarketview.com/wp-content/uploads/news.png" alt="knowlege">
                      </div>
                      <p>Ramagya Group is a well-recognized entity with over 36 years of excellence in India. With 20 brands in different verticals under the parent company, Ramagya Group is going to launch its B2B E-commerce platform “Ramagya Mart” shortly.The platform will connect manufacturers with thewhole-sellers, distributors and dealers directly.

The objective of Ramagya Mart is to drive a specific category of Indian manufacturers by offering them a platform to create their wholesale e-marts ...</p>
                  </div>
              </div>
              <div class="col-sm-12 col-lg-6">
                  <div class="media-block">
                      <div class="media-title"><a href="https://www.apnnews.com/ramagya-group-launching-b2b-e-commerce-platform-ramagya-mart/?fbclid=IwAR0OHPM_rpOo3AxCV9NmnbW7yVyKs" style="text-decoration:none">Ramagya Group launching B2B E-commerce platform Ramagya Mart | APN Article</a></div>
                      <!--<div class="media-tab">Posted on <i>26 November, 2020</i></div>-->
                      <div class="media-image">
                          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSncBu3A-_1g4rMl5ajikgdyihdVMyKlE7iRg&usqp=CAU" alt="strategy">
                      </div>
                      <p>Ramagya Group is a well-recognized entity with over 36 years of excellence in India. With 20 brands in different verticals under the parent company, Ramagya Group is going to launch its B2B E-commerce platform “Ramagya Mart” shortly.The platform will connect manufacturers with thewhole-sellers, distributors and dealers directly.

The objective of Ramagya Mart is to drive a specific category of Indian manufacturers by offering them a platform to create their wholesale e-marts ...</p>
                  </div>
              </div>
              <!--<div class="col-sm-12 col-lg-4">-->
              <!--    <div class="media-block">-->
              <!--        <div class="media-title">xxxxxxMart .com becomes a recognized Google My Business Partner, aims to help SMEs go digital</div>-->
              <!--        <div class="media-tab">Posted on <i>22 November, 2020</i></div>-->
              <!--        <div class="media-image">-->
              <!--            <img src="https://www.dailynews.com/wp-content/uploads/2017/09/img_3776.jpg" alt="technology">-->
              <!--        </div>-->
              <!--        <p>New Delhi December 22nd, 2020: xxxxxxMart.com, one of the leading online B2B marketplaces in the country, is now a trusted Google My Business partner. The company can now effectively register local SMEs so that their business listings can be found on Google Search and Maps. As a recognized Google My Business Verifier, xxxxxxMart can now authenticate businesses onsite at their place of business in very little time...</p>-->
              <!--    </div>-->
              <!--</div>-->
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}