{% extends 'base.html' %}
{% block content %}
<style>
    .ex {
    padding: 10px;
    box-shadow: -14px 12px 0 0px #99a0b7;
    height: fit-content;
}

@media (max-width:500px){
  .ex{
    flex: 1 0 100% !important;
    max-width: 92% !important;
    margin-left: 6% !important;
    margin-bottom: 25px !important;
  }
}
}
</style>
    <div class="page-banner">
        <h1 class="display-5">Term and Condition</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 box col-sm-3 bg-primary pl-0 pr-0 ex" style="height: fit-content;">
          <ul class="nav flex-column pt-3">
              <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">About Ramagya Mart</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about_management' %}">Management Team</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'about_media_center' %}">Media Center</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li> -->
              <li class="nav-item"><a class="nav-link" href="{% url 'subscription:paid_service' %}">Ramagya Vishwas Certification</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="company.html">E-Shoppe Development</a></li> -->
              <li class="nav-item"><a class="nav-link" href="{% url 'advertise' %}">Advertise Your Brand</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
              <li class="nav-item"><a class="nav-link active" href="{% url 'term_condition' %}">Terms & Conditions</a></li>
              <li class="nav-item"><a class="nav-link " href="{% url 'dashboard:credit_terms' %}">Credit Terms</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="seller/user.html">edit Profile</a></li> -->
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm-9">
          <h3>Ramagya Mart Terms and Conditions of Use</h3><br>
          <h4>PLEASE READ THE FOLLOWING TERMS AND CONDITIONS OF USE AGREEMENT CAREFULLY </h4> The following agreement captures the terms and conditions of use (&quot;<b>Agreement</b>&quot;), applicable to Your use of RamagyaMart.com (&quot;<b>Web Site</b>&quot;),
          which promotes business between suppliers and buyers globally. It is an agreement between You as the user of the Web Site/IIL Services and Ramagya Mart InterMESH Ltd. (&quot;<b>IIL</b>&quot;). The expressions “You” “Your” or “User(s)” refers to
          any person who accesses or uses the Web Site for any purpose.
          <BR>
          <BR>By subscribing to or interacting with other User(s) on or entering into negotiations in respect of sale or supply of goods or services on or using the Web Site or IIL Services in any manner for any purpose, You undertake and agree that You have
          fully read, understood and accepted the Agreement.
          <BR>
          <BR> If You do not agree to or do not wish to be bound by the Agreement, You may not access or otherwise use the Web Site in any manner.
          <BR>
          <ul class="ulist mb-4">
              <li>
                  <a HREF="#i">Web site-Merely a Venue/Platform</a>
              </li>
              <li>
                  <a HREF="#ii">Services Provided by IIL</a> </li>
              <li>
                  <a HREF="#iii">User(s) Eligibility</a> </li>
          </OL>
          <br>
          <h3>I. WEBSITE- MERELY A VENUE/PLATFORM</h3>
          <p>The Web Site acts as a match-making platform for User(s) to negotiate and interact with other User(s) for entering into negotiations in respect thereof for sale or supply of goods or services. IIL or RamagyaMart.com are not parties to any negotiations
              that take place between the User(s) of the Web Site and are further not parties to any agreement including an agreement for sale or supply of goods or services or otherwise, concluded between the User(s) of the Web Site.</p>
          <BR>
          <h3>II. SERVICES PROVIDED BY IIL</h3>
          <p> IIL provides the following services to its Customers and their respective definitions are classified here under: -</p>
          <ul class="ulist mb-4">
              <li>&quot;Leading Supplier&quot;: It gives the User(s)s priority listing within categories of their choice as available on Ramagya Mart, thus increasing visibility of their products.</li>
              <li>&quot;Star Supplier&quot;: It is add-on service by Ramagya Mart which gives its User(s) priority listing in their chosen category of products. By availing this service the User(s) will get benefits of increased leads and enquiries.</li>
              <li>&quot;TrustSEAL&quot;: is a seal that User(s) gets after getting its business-related documents and information verified.</li>
          </ul>
          <BR>
          <h3>III. USER(S) ELIGIBILITY</h3>
          <p> User(s) represent and warrant that they have the right to avail or use the services provided by IIL, including but limited to the Web Site or any other services provided by IIL in relation to the use of the Web Site (&quot;<b>IIL’s Services</b>&quot;).
              IIL’s Services can only be availed by those individuals or business entities, including sole proprietorship firms, companies and partnerships, which are authorised under applicable law to form legally binding agreements. As such, natural persons
              below 18 years of age and business entities or organisations that are not authorised by law to operate in India or other countries are not authorised to avail or use IIL’s Services.
              <BR>User(s) agree to abide by the Agreement and any other rules and regulations imposed by the applicable law from time to time.</p>
        </div>
      </div>
    </div>
    {% endblock content %}