{% extends 'base.html' %}

{% block content %}


    <div class="page-banner" style="background-image: url(https://www.transcribersnet.com/wp-content/uploads/2017/11/careers.jpg);">
        <h1 class="display-5">Work With Us</h1>
    </div>
    <div class="container" style="text-align:justify;">
        <h3 class="headline">Work with us</h3><br>
        <!--<p class="lead">XxxxxxMart is the largest online B2B marketplace in India, with over&nbsp;>6.4 Mn suppliers,&nbsp;119 Mn buyers, and 2,826 employees. Join us as a&nbsp;Sales Associate&nbsp;or as a&nbsp;Channel Partner</strong>&nbsp;and be a part of this large-->
        <!--    ecosystem and explore exciting new possibilities for achieving greater </p>-->

        <!-- <img src="https://www.transcribersnet.com/wp-content/uploads/2017/11/careers.jpg" alt="knowlege"> -->
        <!--<h3>Why Become our Sales Associate/</h3>-->
        <!--<p>Build a rewarding career for yourself. Become a sales associate/channel partner with us. Enjoy flexible work hours, financial freedom, training, support wherein individuals can earn 1.2 Lac to 3.6 Lac or more per annum.&nbsp;Channel partners can-->
        <!--    earn a healthy return on investment (ROI) depending upon the no of agents (no limit) and other factors.</p>-->

        <!--<ul class="ulist mb-4">-->
        <!--    <li>Great Earning Opportunity</li>-->
        <!--    <li>Flexible work hours</li>-->
        <!--    <li>Work from home</li>-->
        <!--    <li>Constant service support</li>-->
        <!--    <li>New-Age technology</li>-->
        <!--    <li>Grow professionally</li>-->
        <!--</ul>-->
        <!--<br>-->
        <!--<h3>Work with us</h3>-->
        <p>To learn more about the Ramagya Mart’s Working Culture’ you can drop in a line to <a href="mailto:hr@ramagyamart.com">hr@ramagyamart.com</a> <br><br>
If you think you can be an asset to our ever growing team, we would love to hear from you.  As we encourage dialogue, with a digital interaction, you can learn more about what's it like to work and grow with us and our commitment to creating a truly diverse and inclusive workplace<br><br>
By the way, we also have very employee friendly benefits😊 
        </p>
    </div>
    {% endblock content %}