{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% include 'template_blocks/head_css.html' %}

        {% block extra_head %}
        {% endblock %}
    </head>
        <body>
        {% block navbar %}
        {% include 'template_blocks/navbar.html' %}
        {% endblock %}
        <div class="container">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
        </div>

        {% block body %}


        {% block content %}
        {% endblock content %}


        {% endblock body %}

        {% block extra_body %}
        {% endblock extra_body%}

        {% block footers %}
        {% include 'template_blocks/footers.html' %}
        {% endblock %}

        {% include 'template_blocks/javascript.html' %}
        {% block extra_scripts %}
        {% endblock extra_scripts %}

        <!--<script>-->
        <!--setTimeout(function(){-->
        <!--if ($('#msg').length>0){-->
        <!--$('#msg').remove();-->
        <!--}-->
        <!--},2000)-->
        <!--</script>-->
      <script src="https://apps.elfsight.com/p/platform.js" defer>
</script>
<div class="elfsight-app-7519e261-5954-47d2-83cf-0d6938410ac7"></div>          
    </body>
<!--     <script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
var dd = String(Tawk_LoadStart.getDate()).padStart(2, '0');
var tt="20";
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/60c7272265b7290ac635d51e/1f84v1okr';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script> -->
</html>
