{% extends 'base.html' %}
{% load static %}
{% block content %}
 {% load embed_video_tags %}
 <style>
.custom-control-label{
    padding-left: 12%;
}

.custom-control {
    padding-left:0px;
}

 .carousel-indicators li{
   display:none;
 }
 .slider{
  margin-right:-15%;
}

.imp{
    flex: 0 0 25%;
    max-width: 22%;
}
/*.col-md-3 {*/
/*    flex: 0 0 25%;*/
/*    max-width: 22%;*/
/*}*/

 @media screen and (max-width: 768px)
 {
     .slider{
  margin-right:-9%;
}
     .navbar-brand {
    display: contents;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
   .product .product-detail .title, .product .product-detail .price {
    color: #334e9f;
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
}
.product-list .product-item .image img {
    object-fit: contain;
    position: absolute;
    left: 0;
    left: 78%;
    transform: translateX(-50%);
    top: 0px;
    bottom: 0px;
    height: 103%;

}
.image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left:45px;
}
.imageimp {
  max-width: 100%;
    height: auto;
    display: block;
    margin-left:7px;
}

 }
 * {
  box-sizing: border-box;
}
.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
@media screen and (min-width: 320px) and (max-width: 750px){
      .slider{
  margin-right:0px;
}
  .title,.position: {
    font-size: 2px;
    width:20px;
  }
}
{% comment %}
@media (min-width: 1200px){
  .container {
      max-width: 100%;
  }
  }
{% endcomment %}

.product .product-detail {
    padding: 0 15px;
    position: relative;
    bottom: 0;
}
@media (min-width: 800px){
  .location_slider_mob{
    display:none;
  }
  .location_slider_lap{
    display:block;
  }
}
@media (max-width: 800px){
  .location_slider_lap{
    display:none;
  }
  .location_slider_mob{
    display:block;
  }
}

.product-item_top {
    color: white;
    background-color: #334e9f;
    height: 70%;
    margin-left: 8%;
    width: 85%;
    border-radius: 0;
    text-align: center;
    margin-top: 2%;
    padding: 8px;
    cursor: pointer;
}

.image_top {
    color: white;
    font-size: large;
    padding-bottom: inherit;
}
.mobslide{
    display:none;
  }
  .lapslide{
    display:block;
  }
@media (max-width: 500px){
/*    .col-md-3 {*/
/*    flex: 0 0 25%;*/
/*    max-width: %;*/
/*}*/
    .slider{
  margin-right:0px;
}

  .mobslide{
    display:block;
  }
  .lapslide{
    display:none;
  }
    #hide_sort_brand{
    display:none;
  }
  #hide_sort_cat
  {
    display:none;
  }
  #awardCarousel{
    display:none;
  }
  #box{
    display:none;
  }
  .term-cta{
    display:none;
  }
.mob-1{
  display:none;
}
.img{
  display:block;
}
.imageimp {
    position: relative;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    margin-left: 1px;
}
.product-list .product-item .image {
    position: relative;
    margin-bottom: 10px;
    margin-left: -7%;
    width: 186px;
    height: 174px;
}
.icon{
  height:9px;
  width:9px;
}
.imgslide{
    left: 56% !important;
    height: 97% !important;
}
.imgcls{
      position: relative;
    margin-bottom: 10px;
    margin-left: -7% !important;
    width: 187px !important;
    height: 143px !important;
}
.imp{
    /*flex: 0 0 25%;*/
    max-width: 100%;
}
}
</style>
  <span id="show-msg">

        </span>
    <div class="container">
      <div class="head mt-4">

        <h5>CATEGORY NAME - {{prod_cat}} - {{length}} <small>PRODUCTS AVAILABLE</small></h5>
      </div>

      <div class="container">


      <form method="GET" id="form_city" action="">
          {% csrf_token %}
        <input type="hidden" id="value_city" name="inp"/>
      </form>

      <div class="row location_slider_mob" style="margin-bottom:3%;" id="">
      <div id="carouselExampleControlstop_mob" style="width: 100%;" class="carousel slide d-flex align-items-center " data-ride="carousel">
            <a class="btn btn-primary mr-2 p-2 d-flex align-items-center" href="#carouselExampleControlstop_mob" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <div class="carousel-inner">

              <div class="carousel-item active">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12">
                    <div class="product-item_top" style="" >
                        <div class="image_top text-center" style="text-align:center;" alt="Andhra Pradesh">Andhra Pradesh</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Andaman Nicobar">Andaman Nicobar</div>
                    </div>
                  </div>
                </div>
              </div>
               <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Arunachal Pradesh">Arunachal Pradesh</div>
                    </div>
                  </div>
                </div>
              </div>
               <div class="carousel-item">
                <div class="row">
                 <div class="col-12 col-sm-12 col-md-12">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Assam">Assam</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Bihar">Bihar</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Chandigarh">Chandigarh</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Chhattisgarh">Chhattisgarh</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Dadra and Nagar">Dadra and Nagar</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                 <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Daman and Diu">Daman and Diu</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Lakshadweep">Lakshadweep</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Puducherry">Puducherry</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Mizoram">Mizoram</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Nagaland">Nagaland</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Odisha">Odisha</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                 <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Punjab">Punjab</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Rajasthan">Rajasthan</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Sikkim">Sikkim</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Tamil Nadu">Tamil Nadu</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Telangana">Telangana</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Tripura">Tripura</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                 <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Uttar Pradesh">Uttar Pradesh</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Uttarakhand">Uttarakhand</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="West Bengal">West Bengal</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Goa">Goa</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Gujarat">Gujarat</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Haryana">Haryana</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                 <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Himachal Pradesh">Himachal Pradesh</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Jammu Kashmir">Jammu Kashmir</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Jhakhand">Jhakhand</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Karnataka">Karnataka</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Kerala">Kerala</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Madhya Pradesh">Madhya Pradesh</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                 <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Maharashtra">Maharashtra</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Manipur">Manipur</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Meghalaya">Meghalaya</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="btn btn-primary ml-2 p-2 d-flex align-items-center" href="#carouselExampleControlstop_mob" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>


       <div class="row location_slider_lap" style="margin-bottom:3%;" id="">
      <div id="carouselExampleControlstop" style="width: 100%;" class="carousel slide d-flex align-items-center " data-ride="carousel">
            <a class="btn btn-primary mr-2 p-2 d-flex align-items-center" href="#carouselExampleControlstop" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                   <div class="product-item_top" style="" >
                        <div class="image_top text-center" style="text-align:center;" alt="All">
                       All India
                        </div>
                      </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top" style="" >
                        <div class="image_top text-center" style="text-align:center;" alt="Andhra Pradesh">Andhra Pradesh</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Andaman Nicobar">Andaman Nicobar</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Arunachal Pradesh">Arunachal Pradesh</div>
                    </div>
                  </div>
                 <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Assam">Assam</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Bihar">Bihar</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Chandigarh">Chandigarh</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Chhattisgarh">Chhattisgarh</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Dadra and Nagar">Dadra and Nagar</div>
                    </div>
                  </div>
                 <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Daman and Diu">Daman and Diu</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Lakshadweep">Lakshadweep</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Puducherry">Puducherry</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Mizoram">Mizoram</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Nagaland">Nagaland</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Odisha">Odisha</div>
                    </div>
                  </div>
                 <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Punjab">Punjab</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Rajasthan">Rajasthan</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Sikkim">Sikkim</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Tamil Nadu">Tamil Nadu</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Telangana">Telangana</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Tripura">Tripura</div>
                    </div>
                  </div>
                 <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Uttar Pradesh">Uttar Pradesh</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Uttarakhand">Uttarakhand</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="West Bengal">West Bengal</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Goa">Goa</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Gujarat">Gujarat</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Haryana">Haryana</div>
                    </div>
                  </div>
                 <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center" alt="Himachal Pradesh">Himachal Pradesh</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center">Jammu Kashmir</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center">Jhakhand</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center">Karnataka</div>

                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center">Kerala</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center">Madhya Pradesh</div>
                    </div>
                  </div>
                 <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center">Maharashtra</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center">Manipur</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-2">
                    <div class="product-item_top">
                        <div class="image_top text-center">Meghalaya</div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <a class="btn btn-primary ml-2 p-2 d-flex align-items-center" href="#carouselExampleControlstop" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>
<span id="display_500" ></span>
 <div class="row" >
        <div class="col-md-4 col-lg-3">
          <div class="feature" id="hide_sort_brand">
            <div class="feature__head">
              <h6>SORT BY CATEGORY</h6>
              <a href="#/" onclick="cat_show_all()">Show all</a>
            </div>
            <form class="feature__form"  id="cat_form">
                  <div class="input-group" >
                  <input type="text" class="form-control" id="search_input_cat" placeholder="Search" oninput="search_cat()">
                  <div class="input-group-append">
                  <button   class="btn btn" style="color:white;background-color:#f47502;" id="success_cat"  ><i class="fa fa-arrow-right" aria-hidden="true"></i></button></div>

              </div>
              <div class="checkboxs" id="append_cat">

              </div>
              <button id="sort_category" class="btn btn-primary btn-block mt-3" >Load More</button>
          </form>
          </div>
            
              <div class="feature mt-3" id="hide_sort_cat">
            <div class="feature__head">
              <h6>SORT BY BRAND</h6>
              <a href="#/" onclick="brand_sow_all()">Show all</a>
            </div>
             <form class="feature__form" id="brand_form">
              <div class="input-group" >
                  <input type="text" class="form-control" id="search_input" placeholder="Search" oninput="search()">
                  <div class="input-group-append">
                  <button   class="btn btn" style="color:white;background-color:#f47502;" id="success"  ><i class="fa fa-arrow-right" aria-hidden="true"></i></button></div>
              </div>
              <div class="checkboxs" id="append_brand">

              </div>
              </form>
            <button id="sort_brand" class="btn btn-primary btn-block mt-3" >Load More</button>
          </div>


            

          <!-- Related products promo part strat -->
          <div id="awardCarousel" class="carousel slide award-carousel mt-3" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#awardCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#awardCarousel" data-slide-to="1"></li>
              <!-- <li data-target="#awardCarousel" data-slide-to="2"></li> -->
            </ol>
            <div class="carousel mob-1">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'images/tag.png' %}" alt="First slide">
                <div class="carousel-caption award-caption">
                  <p>BEST E-MART SHOPPE AWARD</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'images/tag.png' %}" alt="Second slide">
                <div class="carousel-caption award-caption">
                  <p>BEST E-MART SHOPPE</p>
                </div>
              </div>
              <!-- <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Third slide">
              </div> -->
            </div>

            <a class="award-prev" href="#awardCarousel" role="button" data-slide="prev">
              <i class="fas fa-angle-left" aria-hidden="true"></i>
              <!-- <span class="award-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span> -->
            </a>
            <a class="award-next" href="#awardCarousel" role="button" data-slide="next">
              <i class="fas fa-angle-right" aria-hidden="true"></i>
              <!-- <span class="award-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span> -->
            </a>
          </div>
        </div>
        <div class="col-md-8 col-lg-9">
         <form class="form-inline mb-3" id="search_prd_loc_1" autocomplete="off" style="margin-top: 20px;">
            <div class="form-group w-50 mr-3 autocomplete">
              <input type="text" class="form-control w-100" name="cat_loc_1" id="cat_location_1" oninput="search_slider_1()" placeholder="TRUSTED BRANDS | SEARCH">
            </div>
            <button type="button" class="btn btn-primary" style="color:white; margin-top: -5px;" onclick="get_inpt_val()">
              <i class="fas fa-search"></i> Search
            </button>
          </form>
          <h3>Ramagya Mart CATEGORY LEADER</h3>

{% comment %} laptop slider start  {% endcomment %}
          <div class="product-list mt-3 lapslide" id="car_location">
          <div id="carouselExampleControls" class="carousel slide d-flex align-items-center " data-ride="carousel">
            <a class="btn btn-primary mr-2 p-2 d-flex align-items-center" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <div class="carousel-inner">
             {% for i,j in items2 %}

              {% if forloop.counter0|divisibleby:"4" %}
              <div class="carousel-item {% if forloop.first %} active {% endif %}">
                  <div class="row slider">
              {% endif %}
                  <div class="col-12 col-sm-4 col-md-3 imp">
                    <div class="product-item" style="width:100%;">
                        <div class="image imgcls">
                        {% comment %} <img src="/media/{{i.image1}}" alt="Image 1"> {% endcomment %}
                          <a href="{% url 'dashboard:seller_product_detail' i.product.user.account.slug i.product.pk %}"><img src="/media/{{i.image1}}" class="imgslide" alt="Image 1"></a>
                        </div>
                        <a href="{% url 'dashboard:seller_product_detail' i.product.user.account.slug i.product.pk %}"><div class="name" style="height:50px;">{{i.product.name}}</div></a>
                        <!--<div class="type">{{i.brand}}</div>-->
                        <a href="{% url 'product:website_home_list' i.product.user.account.slug %}" class="btn btn-primary btn-block">Visit our store</a>
                    </div>
                  </div>
              {% if forloop.counter|divisibleby:"4"  or forloop.counter0 == j|add:-1 %}
                </div>
              </div>
              {% endif %}
          {% endfor %}
            </div>
            <a class="btn btn-primary ml-2 p-2 d-flex align-items-center" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
{% comment %} end mobile slider  {% endcomment %}

{% comment %} start mobile slider  {% endcomment %}
         <div class="product-list mt-3 mobslide" id="car_location_1">
          <div id="carouselExampleControls1" class="carousel slide d-flex align-items-center " data-ride="carousel">
            <a class="btn btn-primary mr-2 p-2 d-flex align-items-center" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <div class="carousel-inner">

             {% for i,j in items3 %}

              {% if forloop.counter0|divisibleby:"1" %}
              <div class="carousel-item {% if forloop.first %} active {% endif %}">
                  <div class="row">
              {% endif %}
                  <div class="col-12 col-sm-4 col-md-3">
                    <div class="product-item" style="width:180px;">
                        <div class="image imgcls">
                        {% comment %} <img src="/media/{{i.image1}}" alt="Image 1"> {% endcomment %}
                          <a href="{% url 'dashboard:seller_product_detail' i.product.user.account.slug i.product.pk %}"><img src="/media/{{i.image1}}" class="imgslide" alt="Image 1"></a>
                        </div>
                        <a href="{% url 'dashboard:seller_product_detail' i.product.user.account.slug i.product.pk %}"><div class="name" style="height:50px;">{{i.product.name}}</div></a>
                        <!--<div class="type">{{i.brand}}</div>-->
                        <a href="{% url 'product:website_home_list' i.product.user.account.slug %}" class="btn btn-primary btn-block">Visit our store</a>
                    </div>
                  </div>
              {% if forloop.counter|divisibleby:"1"  or forloop.counter0 == j|add:-1 %}
                </div>
              </div>
              {% endif %}
          {% endfor %}
            </div>
            <a class="btn btn-primary ml-2 p-2 d-flex align-items-center" href="#carouselExampleControls1" role="button" data-slide="next">
              <span class="carousel-control-next-icon icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
{% comment %} End mobile slider  {% endcomment %}

          <!-- Product detail part start -->
        {% for i in search_product %}
            {% for j in i %}
      <div class="product mt-3">
        <div class="row no-gutters">
          <div class="col border">
            <div class="image imageimp">
                <a href="{% url 'dashboard:seller_product_detail' j.product.user.account.slug  j.product.pk %}" >
              <img src="{{ j.image1.url }}"alt="">
              </a>
               <div class="img-caption"><a href="{% url 'dashboard:seller_product_detail' j.product.user.account.slug  j.product.pk %}" >{{j.product.name}}</a></div>
            </div>
          </div>
          <div class="col position-relative">
            <div class="product-detail">
              <div class="title"><a href="{% url 'dashboard:seller_product_detail' j.product.user.account.slug  j.product.pk %}" >{{j.product.brand}}</a></div>
              <div class="mb-4">{{j.product.product_group}}</div>
              <div class="price">MRP: Rs {{j.price_per_piece}}</div>
              <div class="text">(Inclusive of all taxes)</div>
            </div>
          </div>
          <div class="col background">
            <img src="{% static 'images/tag.png' %}" alt="">
            <div class="address">
              <div class="name"><a href="{% url 'product:website_home_list' j.product.user.account.slug %}">{{j.user.account.company_name}}</a></div>
              <div class="address-detail">Tower No.  C, Ground Floor, Office No.  0102, ATS Bouquet - Sector 132, Noida, Uttar Pradesh 201304</div>
            </div>
            <button class="btn btn-default btn-block" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-cart"></i> Request a quote for Bulk Order</button>
          </div>
        </div>
          <div class="row no-gutters mt-2">
           {% comment %}<div class="col-4"> <img src="{% static 'images/4-star.png' %}" alt=""></div>  {% endcomment %}
          <div class="col-12 justify-content-between pl-3">
            {% comment %} <a href="{% url 'dashboard:add_to_cart' j.user.account.slug j.pk %}" class="btn btn-primary">Add to cart</a> {% endcomment %}
            &nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" onclick="addToCompare({{j.product.pk}})" class="btn btn-primary">Add to compare</a>
          </div>
          
        </div>  
      </div>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

          <div class="register-form mt-3" >
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            <h5 class="text-uppercase mb-3">we connect manufacturers with Wholesale traders & institutions</h5>
            <div class="row">
              <div class="col-12 col-sm-8">
                <form method="post" action="{% url 'dashboard:share_detail_admin' %}" id="eshopeform">
                {% csrf_token %}
                  <div class="row">
                    <div class="form-group col- 12 col-sm-6">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                    </div>
                    <div class="form-group col- 12 col-sm-6">
                      <label for="email">E-mail</label>
                      <input type="email" class="form-control" name="email" id="email" placeholder="shotercarlos@gmail.com">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col- 12 col-sm-6">
                      <label for="mobile">Mobile</label>
                      <input type="tel" class="form-control" name="mobile" id="mobile" placeholder="+91 0000000000">
                    </div>
                    <div class="form-group col- 12 col-sm-6">
                      <label for="businessType">Business Types</label>
                      <select class="form-control btn-primary" name="business_type" id="businessType">
                        <option value="">Select Option</option>
                        <option value="Wholesaler">Wholesaler</option>
                        <option value="Manufacturer">Manufacturer</option>
                        <option value="Retailer">Retailer</option>
                        <option value="Exporter">Exporter</option>
                        <option value="Distributor">Distributor</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" name="message" id="message" rows="5"></textarea>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="sendcopy" class="custom-control-input" onclick="javascript:send();"  id="sendCopy1">
                        <label class="custom-control-label" for="sendCopy">Send me a copy</label>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 text-right">
                    <input type="submit" class="btn btn-primary pull-right" value="Send">
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-12 col-sm-4">
                <div class="right-side">
                  <div class="top">
                    <span>become a</span>
                    <span>Ramagya Mart</span>
                    <span>member today</span>
                    <span>1000 Ad Impressions Free</span>
                  </div>
                  <div class="bottom"></div>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>
      {% endfor %}
      {% endfor %}
      <!-- Product detail part end -->

          <!-- register form start -->
          <div class="register-form mt-3">
            <h5 class="text-uppercase mb-3">we connect manufacturers with wholesale traders & institutions</h5>
            <div class="row">
              <div class="col-12 col-sm-8">
                <form action="{% url 'dashboard:share_detail_admin' %}" method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="form-group col- 12 col-sm-6">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                    </div>
                    <div class="form-group col- 12 col-sm-6">
                      <label for="email">E-mail</label>
                      <input type="email" class="form-control" name="email" id="email" placeholder="shotercarlos@gmail.com">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col- 12 col-sm-6">
                      <label for="phone">Mobile</label>
                      <input type="tel" class="form-control" name="mobile" id="mobile" placeholder="+91 0000000000">
                    </div>
                    <div class="form-group col- 12 col-sm-6">
                      <label for="businessType">Business Types</label>
                      <select class="form-control btn-primary" name="business_type" id="businessType">
                        <option>Wholesaler</option>
                        <option>Manufacturer</option>
                        <option>Retailer</option>
                        <option>Exporter</option>
                        <option>Distributor</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" name="message" id="message" rows="5"></textarea>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="sendcopy" class="custom-control-input" onclick="javascript:send();"  id="sendCopy">
                        <label class="custom-control-label" for="sendCopy">Send me a copy</label>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 text-right">
                      <button class="btn btn-primary btn-lg">Send</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-12 col-sm-4">
                <div class="right-side">
                  <div class="top">
                    <span>become a</span>
                    <span>Ramagya Mart</span>
                    <span>member today</span>
                    <span>1000 Ad Impressions Free</span>
                  </div>
                  <div class="bottom"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- register form part end -->
          <!-- Recommended Products part start -->
          <!-- <div class="product-list mt-3">
            <form class="form-inline mb-3">
              <div class="form-group w-75  mr-3">
                <input type="text" class="form-control w-100" id="location" placeholder="MANUFACTURERS OFFERING CUSTOMIZED SOLUTIONS">
              </div>
              <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i> Search
              </button>
            </form>
            <div class="row">
            <div class="col-12 col-sm-4 col-md-3">
              <div class="product-item">
                  <div class="image">
                    <img src="./images/product/img-1.jpeg" alt="Image 1">
                  </div>
                  <div class="name">Product Name</div>
                  <div class="type">Product Type</div>
                  <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3">
              <div class="product-item">
                  <div class="image">
                    <img src="./images/product/img-2.png" alt="Image 2">
                  </div>
                  <div class="name">Product Name</div>
                  <div class="type">Product Type</div>
                  <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3">
              <div class="product-item">
                  <div class="image">
                    <img src="./images/product/img-3.jpg" alt="Image 3">
                  </div>
                  <div class="name">Product Name</div>
                  <div class="type">Product Type</div>
                  <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3">
              <div class="product-item">
                  <div class="image">
                    <img src="./images/product/img-4.png" alt="Image 4">
                  </div>
                  <div class="name">Product Name</div>
                  <div class="type">Product Type</div>
                  <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
              </div>
            </div>
            </div> -->
            <!-- Row end -->
            <!-- <div class="text-center mt-4 mb-2">
              <button class="btn btn-primary btn-lg">Load More</button>
            </div>
          </div> -->
          <!-- Recommended Products part end -->

          <!-- Recommended Products part start -->
          <!-- <div class="recommended-product">
            <div class="head">Recommended Products</div>
            <div class="searched-link">
              <a href="">Search 1</a>
              <a href="">Search 2</a>
              <a href="">Search 3</a>
              <a href="">Search 4</a>
              <a href="">Search 5</a>
            </div>
            <div class="fas fa-ellipsis-h ml-auto"></div>
            <div class="tag">refresh your search</div>
          </div> -->
          <!-- Recommended Products part end -->
        </div>
      </div>
      <!-- Recommended Products part start -->
      <div class="product-list mt-3 mb-3">
        <h5>THIS WEEK TOP FOUR EDITORS CHOICE</h5>
        <!-- <form class="form-inline mb-3">
          <div class="form-group w-50 mr-3">
            <input type="text" class="form-control w-100" id="location" placeholder="">
          </div>
        </form> -->
        <div class="row">
          {% for obj in product1 %}
          <div class="col-12 col-sm-4 col-md-3">
            <div class="product-item">
                <div class="image">
                  <a href="{% url 'dashboard:seller_product_detail' obj.product.user.account.slug obj.product.pk %}"><img src="{{ obj.image1.url }}" alt="Image 1"></a>
                </div>
                <a href="{% url 'dashboard:seller_product_detail' obj.product.user.account.slug obj.product.pk %}"><div class="name">{{ obj.product.name }}</div></a>
                <!--<div class="type">{{ obj.product_group }}</div>-->
                <a href="{% url 'product:website_home_list' obj.product.user.account.slug %}" class="btn btn-primary btn-block">Visit Our Store</a>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- <div class="row mt-4 mb-2">
          <div class="col-sm-6 offset-sm-3">
            <button class="btn btn-primary btn-lg btn-block">Know more about Editors Choisce</button>
          </div>
        </div> -->
        <!-- Row end -->
        <!--<div class="text-right">-->
        <!--  <small>featuring trusted brands near you</small>-->
        <!--</div>-->
      </div>
      <!-- Promotional vedio start -->
      <!-- <div class="promo-video height">
        <span>Play our promotional video here</span>
        <i class="fas fa-play"></i>
        <span>Make an impression with your customers</span>
      </div> -->
      <!-- Promotional vedio end -->
      <!-- term-cta start -->
      <div class="term-cta">
        <h1 class="para"><span>30 day credit terms*</span> <br /> For Wholesalers & Retailers</h1>
        <button class="btn btn-light btn-lg">Click here <i class="fas fa-angle-right"></i></button>
        <img src="{% static 'images/creadit.png' %}" alt="">
      </div>
      <!-- term-cta end -->

      <!-- Related products promo part strat -->
      <h3 class="text-uppercase mt-3">Related products</h3>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'images/promo-img-1.png' %}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'images/promo-img-1.png' %}" alt="Second slide">
          </div>
          <!-- <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Third slide">
          </div> -->
        </div>
      </div>
      <!-- Related products promo part end -->

      <!-- Recommended Products part start -->
     <!-- <div class="product-list">
      <form class="form-inline mb-3">
        <div class="form-group w-50 mr-3">
          <input type="text" class="form-control w-100" id="location" placeholder="CATEGORY LEADERS | SEARCH BY PRODUCT TYPE">
        </div>
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i> Search
        </button>
      </form>
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-1.jpeg" alt="Image 1">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-2.png" alt="Image 2">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-3.jpg" alt="Image 3">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <img src="./images/product/img-4.png" alt="Image 4">
              </div>
              <div class="name">Product Name</div>
              <div class="type">Product Type</div>
              <a href="productdetail.html" class="btn btn-primary btn-block">Read More</a>
          </div>
        </div>
      </div>
      <-- Row end ->
     </div> -->
      <!-- Recommended Products part end -->

      <!-- Recommended Products part start -->
     <div class="product-list mt-3">
      <!-- <form class="form-inline mb-3">
        <div class="form-group w-50 mr-3">
          <input type="text" class="form-control w-100" id="location" placeholder="FAETURED PRODUCT | SEARCH BY PRODUCT TYPE">
        </div>
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i> Search
        </button>
      </form> -->
      <h5>FEATURED PRODUCT</h5>
      <div class="row">
        {% for obj in product1  %}
        <div class="col-12 col-sm-4 col-md-3">
          <div class="product-item">
              <div class="image">
                <a href="{% url 'dashboard:seller_product_detail' obj.product.user.account.slug obj.product.pk %}"><img src="{{ obj.image1.url }}" alt="Image 4"></a>
              </div>
              <a href="{% url 'dashboard:seller_product_detail' obj.product.user.account.slug obj.product.pk %}"><div class="name">{{ obj.product.name }}</div></a>
              <!--<div class="type">{{ obj.product_group }}</div>-->
              <a href="{% url 'product:website_home_list' obj.product.user.account.slug %}" class="btn btn-primary btn-block">Visit our store</a>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Row end -->
      {% comment %} <div class="text-center mt-4 mb-2">
        <button class="btn btn-primary btn-lg">Load More</button>
      </div> {% endcomment %}
     </div>
      <!-- Recommended Products part end -->
      <!-- CTA start -->
      <div class="certificate-cta mt-3">
        <div class="row no-gutters align-items-center">
          <div class="col-12 col-sm-2 text-center">
            <img src="./images/tag.png" alt="">
          </div>
          <div class="col-12 col-sm-7">
            <h5 class="text-uppercase mb-0">attention manufacturers</h5>
            <h4 class="text-uppercase mb-0">get your Ramagya Vishwas Certification  </h4>
            <h5 class="text-uppercase mb-0">trust certificate & imporve your bussiness</h5>
          </div>
          <div class="col-12 col-sm-3">
            <a href="{% url 'subscription:paid_service' %}"><button class="btn btn-light btn-lg">Apply Now <i class="fas fa-angle-right"></i></button></a>
          </div>
        </div>
      </div>
      <!-- CTA end -->

      <!-- CTA start -->
      <div class="mt-3">
        <img src="{% static 'images/book-spot.png' %}" class="w-100" alt="">
      </div>
      <!-- CTA end -->
    </div>
    </div>

    <!-- <div class="chat">
      <img src="./images/chat.png" alt="">
      <div class="content">
        <small>Have a Requirement?</small>
        <h3>Get Best Price</h3>
      </div>
    </div> -->

     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script>
    {% comment %} document.getElementById('success').disabled = true; {% endcomment %}

$(document).ready(function() {
  $('.image_top').click(function () {
        var alt = $(this).text();
        document.getElementById("value_city").value = alt;
        document.getElementById("form_city").submit();
  });
});

    var data={{brand_data|safe}};
    var data_id={{brand_id|safe}};
    var cat_data={{cat_data|safe}};
    var cat_id={{cat_id|safe}};
    var new_data={{items_js|safe}};
    console.log(cat_data);
    console.log(cat_id);
    var len=data.length;
    var len_cat=cat_data.length;

    fetch_data();
    fetch_data_cat();
//FOR CATEGORY###################################################################
    function fetch_data_cat() {
        if(len_cat<=8 && len_cat>0 )
    {
        for(var i=0;i<len_cat;i++)
        {
        template=`
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" onclick="is_checked_cat()" id="category${cat_id[i]}">
                      <label class="custom-control-label" for="category${cat_id[i]}">${cat_data[i]}</label>
                  </div>`
        $("#append_cat").append(template);
        }

    }
    else if(len_cat>0 && len_cat>8)
    {

      for(var i=0;i<8;i++)
        {
        template=`
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" onclick="is_checked_cat()" id="category${cat_id[i]}">
                      <label class="custom-control-label" for="category${cat_id[i]}">${cat_data[i]}</label>
                  </div>`
         $("#append_cat").append(template);
        }
    }
    }
    var temp=0;
    $('#sort_category').click(function(ee){
      ee.preventDefault();
        if(temp==0)
          {
            temp=8;
          }
            if(data.length>8)
            {
              temp=temp;
              var new_temp=temp+4;
              if(new_temp<len_cat)
              {
                for(var i=temp;i<new_temp;i++)
                {
                var template=`<div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" onclick="is_checked_cat()" id="category${cat_id[i]}">
                      <label class="custom-control-label" for="category${cat_id[i]}">${cat_data[i]}</label>
                  </div>`
                temp++;
                $("#append_cat").append(template);
                }
              }
              else
            {
              for(var i=temp;i<len_cat;i++)
            {
            template=`<div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" onclick="is_checked_cat()" id="category${cat_id[i]}">
                      <label class="custom-control-label" for="category${cat_id[i]}">${cat_data[i]}</label>
                  </div>`
            $("#append_cat").append(template);
            temp++;
            }
            ee.preventDefault();
            }
        }

    });
    function cat_show_all(){
        document.getElementById('append_cat').innerHTML=``;
          for(var i=0;i<len_cat;i++)
        {
        template=`<div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" onclick="is_checked_cat()" id="category${cat_id[i]}">
                      <label class="custom-control-label" for="category${cat_id[i]}">${cat_data[i]}</label>
                  </div>`
        $("#append_cat").append(template);
        }
        $("#sort_category").hide();
      }

        function search_cat(){
        document.getElementById('append_cat').innerHTML=``;
        var xx_cat = document.getElementById("search_input_cat").value;
        data1_cat=cat_data;
        data1_cat=data1_cat.map(data1_cat => data1_cat.toLowerCase());
        xx_cat=xx_cat.toLowerCase();
        var indexx_cat=data1_cat.findIndex(element => element.includes(xx_cat));
        console.log(xx_cat.length);
        if(xx_cat.length>0)
        {
          $("#sort_category").hide();

        for(var j=0;j<len_cat;j++)
        {
          if(data1_cat[j].includes(xx_cat))
          {
            template=`<div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" onclick="is_checked_cat()" id="category${cat_id[j]}">
                      <label class="custom-control-label" for="category${cat_id[j]}">${cat_data[j]}</label>
                  </div>`
          $("#append_cat").append(template);
          }
        }
        }
        else
        {
          $("#sort_category").show();
          document.getElementById('append_cat').innerHTML=``;
          temp=0;
          fetch_data_cat();

        }
      }

       $("#success_cat").click(function(e){
         var list_cat = [];
         e.preventDefault();
          $("input:checkbox").each(function(){
          if($(this).is(":checked")){
            list_cat.push($(this).attr("id"));
          }
        })
        console.log(list_cat);
        ajax2(list_cat);
       });
        function ajax2(list_cat){
            $.ajax({
          type:'POST',
          url:'',
          data:{
            'action':'brand_cat',
            'cat[]':list_cat,
            csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        }).done(function() {
  window.location.href="{% url 'product:category' %}";
});
}
// FOR BRAND #################################################################
    function fetch_data(){
    //if list length is less than 8 we assume initially 8 brand will be shown
    if(len<=8 && len>0 )
    {
        for(var i=0;i<len;i++)
        {
        template=`<div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input checking" onclick="is_checked()" id="${data_id[i]}">
                <label class="custom-control-label" for="${data_id[i]}">${data[i]}</label>
          </div>`
        $("#append_brand").append(template);
        }

    }

      // if len of the list is greater than 8 then it will come in eleseif part
    else if(len>0 && len>8)
    {

      for(var i=0;i<8;i++)
        {
        template=`<div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input checking" onclick="is_checked()" id="${data_id[i]}">
                <label class="custom-control-label" for="${data_id[i]}">${data[i]}</label>
          </div>`
        $("#append_brand").append(template);

        }
    }
  }


var count=0;
$('#sort_brand').click(function(e){
  if(count==0)
  {
    count=8;
  }
   if(data.length>8)
      {
        count=count;
        var new_count=count+4;
        if(new_count<len)
        {
          for(var i=count;i<new_count;i++)
        {
        var template=`<div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input checking" onclick="is_checked()" id="${data_id[i]}">
                <label class="custom-control-label" for="${data_id[i]}">${data[i]}</label>
          </div>`
        count++;
        $("#append_brand").append(template);
        }
        e.preventDefault();
        }
        else
        {
          for(var i=count;i<len;i++)
        {
        template=`<div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input checking" onclick="is_checked()" id="${data_id[i]}">
                <label class="custom-control-label" for="${data_id[i]}">${data[i]}</label>
          </div>`
        $("#append_brand").append(template);
        count++;
        }
        e.preventDefault();
        }
        }
});
      function brand_sow_all(){
        document.getElementById('append_brand').innerHTML=``;
          for(var i=0;i<len;i++)
        {
        template=`<div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input checking" onclick="is_checked()" id="${data_id[i]}">
                <label class="custom-control-label" for="${data_id[i]}">${data[i]}</label>
          </div>`
        $("#append_brand").append(template);
        }
        $("#sort_brand").hide();
      }
      function search(){
        document.getElementById('append_brand').innerHTML=``;
        var xx = document.getElementById("search_input").value;
        data1=data;
        data1=data1.map(data1 => data1.toLowerCase());
        xx=xx.toLowerCase();
        var indexx=data1.findIndex(element => element.includes(xx));
        console.log(xx.length);
        if(xx.length>0)
        {
          $("#sort_brand").hide();

        for(var j=0;j<len;j++)
        {
          if(data1[j].includes(xx))
          {
            template=`<div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input checking" onclick="is_checked()"  id="${data_id[j]}">
                <label class="custom-control-label" for="${data_id[j]}">${data[j]}</label>
          </div>`
          $("#append_brand").append(template);
          }
        }
        }
        else
        {
          $("#sort_brand").show();
          document.getElementById('append_brand').innerHTML=``;
          count=0;
          fetch_data();
        }
      }
       $("#success").click(function(e){
         var list = [];
         e.preventDefault();
          $("input:checkbox").each(function(){
          if($(this).is(":checked")){
            list.push($(this).attr("id"));
          }
        })
        console.log(list);
        ajax1(list);
       });
        function ajax1(list){
          console.log(list);
            $.ajax({
          type:'POST',
          url:'',
          data:{
            'action':'brand_cat',
            'brand[]':list,
            csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        }).done(function() {
  window.location.href="{% url 'product:category' %}";
});
        }
      document.getElementById('success').disabled=true;
      document.getElementById('success_cat').disabled=true;
      function is_checked(){
      if ($("#brand_form input:checkbox:checked").length > 0)
      {
        document.getElementById('success').disabled=false;
      }
      else
      {
        document.getElementById('success').disabled=true;
      }
       }

       function is_checked_cat(){
      if ($("#cat_form input:checkbox:checked").length > 0)
      {
        document.getElementById('success_cat').disabled=false;
      }
      else
      {
        document.getElementById('success_cat').disabled=true;
      }
       }
 function search_slider_1()
{
  var val = document.getElementById("cat_location_1").value;
}
function autocomplete(inp,arr){
  console.log(arr)
    var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      console.log(val)
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}
let combined_detail=[...new_data];
console.log(combined_detail)
autocomplete(document.getElementById("cat_location_1"),combined_detail)
function get_inpt_val(){
var v;
if(document.getElementById("cat_location_1").value)
{
  v=document.getElementById("cat_location_1").value;

}
$.ajax({
  type: "POST",
  url:"",
  data:{
    'action':'cat_location',
    'cat_loc':v,
     csrfmiddlewaretoken: '{{ csrf_token }}'
  },
  dataType: "JSON",
  success: function(context){
    document.getElementById("car_location_1").innerHTML=``;
    var car_data=JSON.parse(context.append_search);
       if(car_data.length<=0){
      document.getElementById("show-msg").innerHTML=
              `<div class="alert alert-warning" role="alert">
                Sorry this product group is currently unavailable!
              </div>`
              location.reload();
    }
    else{
    for(var i=0;i<car_data.length;i++){

      if(i%4 == 0){
        c=i
        if(i==0)
          var cls="active"
        else
          var cls=""
        var template=`
                  <div class="carousel-item ${cls}">
                    <div class="row" id="final${c}">

                    </div>
                  </div>`
        $("#car_location_1").append(template);
      }
      var element = `<div class="col-12 col-sm-4 col-md-3">
                      <div class="product-item">
                          <div class="image">
                            <a href=""><img src="/media/${car_data[i]['fields']['image1']}" alt="Image 4"> </a>
                          </div>
                          <div class="name" style="height:50px;">${car_data[i]['fields']['name']}</div>

                          <div class="type">${car_data[i]['fields']['product_group']}</div>
                          <a href="" class="btn btn-primary btn-block">Visit our store</a>
                      </div>
                    </div>`
      $("#final"+c).append(element)
      }
    }

  }
});
}

document.getElementById("display_500").innerHTML=``;
$(window).resize(function(){
    if ($(window).width() <= 500){
        document.getElementById("display_500").innerHTML=`<button type="button"  id="demo_but" class="btn btn-primary" style="margin-bottom: 26px;" data-toggle="collapse" data-target="#demo">show Categories and Brand</button>`;

    }
    else
    {
      document.getElementById("display_500").innerHTML=``;
    }
});
var display_counter=1;

$("#display_500").click(function(){


  if(display_counter==0){
    document.getElementById("hide_sort_brand").style.display='none';
    document.getElementById("hide_sort_cat").style.display='none';
    display_counter=1;
  }
  else
  {
  document.getElementById("hide_sort_brand").style.display='block';
  document.getElementById("hide_sort_cat").style.display='block';
  display_counter=0;
  }
});

    </script>
{% endblock content %}