{% extends 'dashboard/seller/seller_base.html' %}
{% load static %}
   {% block content %}
   <!-- Showing the Error message in red while validating form -->
        <style>
            .error{
                color:red;
                font-style:italic;
            }
            .bmd-form-group label {
                color: red;
            }

            .card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
                border-radius: 3px;
                margin-top: -20px;
                padding: 11px;
                width: 184px;
            }
            input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}
        </style>
        <!---->
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper"> 
                    {% comment %} <a class="navbar-brand" href="javascript:;">User Profile</a> {% endcomment %}
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation"> <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>

                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid" style="margin-top:-93px;">
                    <div class="row">
                         <div class="row" style="width:100%;">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title" style="font-size: 20px;">OTP Verification</h4>
                                </div>
                               
                                <div class="card-body">
                                    <form action="{% url 'dashboard:generate_otp' %}" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                               
                                                <label for="mobile"><b>Enter your mobile number</b></label>
                                                <input type="text" placeholder="Enter Phone number" name="mobile" id="psw" >
                                                    {% comment %} <label class="bmd-label-floating" >Enter your mobile number</label>
                                                    <input type="text" class="form-control" name="Product_name" > {% endcomment %}
                                                
                                            </div>
                                        </div>
                                            <div class="row">                                       
                                            <input type="submit" style="margin-top: 10px;margin-left: 33px;margin-bottom: 21px;" class="btn btn-primary pull-right" value="save">
                                           
                                        </div>       
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
 {% endblock content %}
 {% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'dashboard:generate_otp' %}" method="post">
        {% csrf_token %}
       mobile <input type="text" name="mobile" id="">
       <input type="submit">
    </form>
</body>
</html>
{% endcomment %}