{% extends 'dashboard/seller/seller_base.html' %}
{% load static %}
   {% block content %}
   <!-- Showing the Error message in red while validating form -->
        <style>
            .error{
                color:red;
                font-style:italic;
            }
            .bmd-form-group label {
                color: red;
            }

            .card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
                border-radius: 3px;
                margin-top: -20px;
                padding: 11px;
                width: 184px;
            }
            input[type=text] {
  width: 15%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

#wrapper {
  font-family: Lato;
  font-size: 1.5rem;
  text-align: center;
  box-sizing: border-box;
  color: #333;
  
  #dialog {
    border: solid 1px #ccc;
    margin: 10px auto;
    padding: 20px 30px;
    display: inline-block;
    box-shadow: 0 0 4px #ccc;
    background-color: #FAF8F8;
    overflow: hidden;
    position: relative;
    max-width: 450px;
    
    h3 {
      margin: 0 0 10px;
      padding: 0;
      line-height: 1.25;
    }
    
    span {
      font-size: 90%;
    }
    
    #form {
      max-width: 240px;
      margin: 25px auto 0;
      
      input {
        margin: 0 5px;
        text-align: center;
        line-height: 80px;
        font-size: 50px;
        border: solid 1px #ccc;
        box-shadow: 0 0 5px #ccc inset;
        outline: none;
        width: 20%;
        transition: all .2s ease-in-out;
        border-radius: 3px;
        
        &:focus {
          border-color: purple;
          box-shadow: 0 0 5px purple inset;
        }
        
        &::selection {
          background: transparent;
        }
      }
      
      button {
        margin:  30px 0 50px;
        width: 100%;
        padding: 6px;
        background-color: #B85FC6;
        border: none;
        text-transform: uppercase;
      }
    }
    
    button {
      &.close {
        border: solid 2px;
        border-radius: 30px;
        line-height: 19px;
        font-size: 120%;
        width: 22px;
        position: absolute;
        right: 5px;
        top: 5px;
      }           
    }
    
    div {
      position: relative;
      z-index: 1;
    }
    
    img {
      position: absolute;
      bottom: -70px;
      right: -63px;
    }
  }
}
        </style>
        <!---->
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper"> 
                    {% comment %} <a class="navbar-brand" href="javascript:;">User Profile</a> {% endcomment %}
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation"> <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>

                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid" style="margin-top:-93px;">
                    <div class="row">
                         <div class="row" style="width:100%;">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title" style="font-size: 20px;">OTP Verification</h4>
                                </div>
                               
                                <div class="card-body">
                                 <div id="wrapper">
                                    <div id="dialog">
                                        <h3>Please enter the 4-digit verification code we sent via SMS:</h3>
                                        <span>(we want to make sure it's you before we contact our movers)</span>
                                        <form action="{% url 'dashboard:verify_otp' %}" method="post" style="margin-top:5%;">
                                        {% csrf_token %}
                                         <input type="hidden" name="generated_otp" value="{{generated_otp}}">
                                        <div id="form">
                                        <input type="text" name="user_otp1" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                                        <input type="text" name="user_otp2" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                                        <input type="text" name="user_otp3" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                                        <input type="text" name="user_otp4" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />           
                                        </div> 
                                    <div>
                                    <div class="row">                                       
                                            <input type="submit" style="margin-top: 10px;margin-left: 33px;margin-bottom: 21px;" class="btn btn-primary pull-right" value="save">
                                           
                                        </div>   
                                        </form>
                                        {% comment %} Didn't receive the code?<br />
                                        <a href="#">Send code again</a><br />
                                        <a href="#">Change phone number</a> {% endcomment %}
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<script>
$(function() {
  'use strict';

  var body = $('body');

  function goToNextInput(e) {
    var key = e.which,
      t = $(e.target),
      sib = t.next('input');

    if (key != 9 && (key < 48 || key > 57)) {
      e.preventDefault();
      return false;
    }

    if (key === 9) {
      return true;
    }

    if (!sib || !sib.length) {
      sib = body.find('input').eq(0);
    }
    sib.select().focus();
  }

  function onKeyDown(e) {
    var key = e.which;

    if (key === 9 || (key >= 48 && key <= 57)) {
      return true;
    }

    e.preventDefault();
    return false;
  }
  
  function onFocus(e) {
    $(e.target).select();
  }

  body.on('keyup', 'input', goToNextInput);
  body.on('keydown', 'input', onKeyDown);
  body.on('click', 'input', onFocus);

})
</script>
 {% endblock content %}
