{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'buyer/assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'buyer/assets/img/favicon.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{% static 'buyer/assets/css/material-dashboard.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'buyer/assets/demo/demo.css' %}" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="{% static 'buyer/assets/img/sidebar-1.jpg' %}">
      <div class="logo position-relative">
        <a href="#" class="simple-text logo-normal">
          Company Logo
        </a>
      </div>
      <div class="sidebar-wrapper position-relative">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          {% if request.path == "/accounts/account-profile/" %}
          <li class="nav-item active">
            {% else %}
            <li class="nav-item">
              {% endif %}
            <a class="nav-link" href="{% url 'accounts:buyer_profile' %}">
              <i class="material-icons">account_circle</i>
              <p>My Account</p>
            </a>
          </li>
          {% if request.path == "/dashboard/buyer-order/" %}
          <li class="nav-item active">
            {% else %}
            <li class="nav-item">
              {% endif %}
            <a class="nav-link" href="{% url 'dashboard:buyer_order' %}">
              <i class="material-icons">star_border</i>
              <p>My Order</p>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:buyer_message' %}">
              <i class="material-icons">message</i>
              <p>Message</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:buyer_offer_request_detail' %}">
              <i class="material-icons">local_offer</i>
              <p> Offer Request Details</p>
            </a>
          </li> -->
          {% if request.path == "/dashboard/buyer-enquiry/" %}
          <li class="nav-item active">
            {% else %}
            <li class="nav-item">
              {% endif %}
            <a class="nav-link" href="{% url 'dashboard:buyer_enquiry' %}">
              <i class="material-icons">grading</i>
              <p>My Enquiries</p>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="material-icons">local_activity</i>
              <p>My Recent Activity</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="material-icons">favorite</i>
              <p>My Favourite</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:buyer_downloads' %}">
              <i class="material-icons">cloud_download</i>
              <p>My Download</p>
            </a>
          </li> -->
          {% if request.path == "/dashboard/buyer-share/" %}
          <li class="nav-item active">
            {% else %}
            <li class="nav-item">
              {% endif %}
            <a class="nav-link" href="{% url 'dashboard:buyer_share' %}">
              <i class="material-icons">share</i>
              <p>Share and Earn</p>
            </a>
          </li>
          <li class="nav-item home">
            <a class="nav-link" href="{% url 'product:home_list' %}">
              <i class="material-icons">home</i>
              <p>Home</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-8 offset-3">
      {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              {% endfor %}
      {% endif %}
    </div>
    {% block content %}
        
    {% endblock content %}
        
  </div>
  
  <!--   Core JS Files   -->
  <script src="{% static 'buyer/assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'buyer/assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'buyer/assets/js/core/bootstrap-material-design.min.js' %}"></script>
  <script src="{% static 'buyer/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!-- Plugin for the momentJs  -->
  <script src="{% static 'buyer/assets/js/plugins/moment.min.js' %}"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="{% static 'buyer/assets/js/plugins/sweetalert2.js' %}"></script>
  <!-- Forms Validations Plugin -->
  <script src="{% static 'buyer/assets/js/plugins/jquery.validate.min.js' %}"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="{% static 'buyer/assets/js/plugins/jquery.bootstrap-wizard.js' %}"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="{% static 'buyer/assets/js/plugins/bootstrap-selectpicker.js' %}"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="{% static 'buyer/assets/js/plugins/bootstrap-datetimepicker.min.js' %}"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  <script src="{% static 'buyer/assets/js/plugins/jquery.dataTables.min.js' %}"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="{% static 'buyer/assets/js/plugins/bootstrap-tagsinput.js' %}"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="{% static 'buyer/assets/js/plugins/jasny-bootstrap.min.js' %}"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="{% static 'buyer/assets/js/plugins/fullcalendar.min.js' %}"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="{% static 'buyer/assets/js/plugins/jquery-jvectormap.js' %}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static 'buyer/assets/js/plugins/nouislider.min.js' %}"></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js' %}"></script>
  <!-- Library for adding dinamically elements -->
  <script src="{% static 'buyer/assets/js/plugins/arrive.min.js' %}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="{% static 'buyer/assets/js/plugins/chartist.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'buyer/assets/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'buyer/assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static 'buyer/assets/demo/demo.js' %}"></script>
  
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>
</body>

</html>