{% extends 'dashboard/buyer/buyer_base.html' %}
{% load static %}
{% block content %}
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="javascript:;">My Downloads</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <form class="navbar-form">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
                            </div>
                        </form>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:;">
                                    <i class="material-icons">dashboard</i>
                                    <p class="d-lg-none d-md-block">
                                        Stats
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="d-lg-none d-md-block">
                                        Some Actions
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Mike John responded to your email</a>
                                    <a class="dropdown-item" href="#">You have 5 new tasks</a>
                                    <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                    <a class="dropdown-item" href="#">Another Notification</a>
                                    <a class="dropdown-item" href="#">Another One</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="#">Profile</a>
                                    <a class="dropdown-item" href="#">Settings</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Log out</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">My Downloads</h4>
                                    <p class="card-category">E-Brochure downloaded from Different Sellers</p>
                                </div>
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-lg-12 mt-5 document-left-list">
                                      <div class="bg-white document-left-list-second p-3">
                                        <div class="row">
                                          <div class="col-lg-3 mb-3 text-center">
                                            <div class="document-list border">
                                              <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                              <p class="m-0 p-2 bg-danger text-white">Excel gatabase 2017 1.2 MB</p>
                                            </div>
                                          </div>
                                          <div class="col-lg-3 mb-3 text-center">
                                            <div class="document-list border">
                                              <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                              <p class="m-0 p-2 bg-info text-white">Excel gatabase 2016 1.4 MB</p>
                                            </div>
                                          </div>
                                          <div class="col-lg-3 mb-3 text-center">
                                            <div class="document-list border">
                                              <i class="fa fa-file-word-o" aria-hidden="true"></i>
                                              <p class="m-0 p-2 bg-primary text-white">Word gatabase 2017 1.2 MB</p>
                                            </div>
                                          </div>
                                          <div class="col-lg-3 mb-3 text-center">
                                            <div class="document-list border">
                                              <i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>
                                              <p class="m-0 p-2 bg-info text-white">Powerpoint gatabase 2017 1.2 MB</p>
                                            </div>
                                          </div>
                                          <div class="col-lg-3 mb-3 text-center">
                                            <div class="document-list border">
                                              <i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>
                                              <p class="m-0 p-2 bg-info text-white">Powerpoint gatabase 2017 1.2 MB</p>
                                            </div>
                                          </div>
                                          <div class="col-lg-3 mb-3 text-center">
                                            <div class="document-list border">
                                              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                              <p class="m-0 p-2 bg-warning text-white">pdf gatabase 2016 1.4 MB</p>
                                            </div>
                                          </div>
                                          <div class="col-lg-3 mb-3 text-center">
                                            <div class="document-list border">
                                              <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                              <p class="m-0 p-2 bg-danger text-white">Excel gatabase 2012 1.5 MB</p>
                                            </div>
                                          </div>
                                          <div class="col-lg-3 mb-3 text-center">
                                            <div class="document-list border">
                                              <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                              <p class="m-0 p-2 bg-success text-white">Excel gatabase 2016 1.4 MB</p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
