
{% extends 'dashboard/buyer/buyer_base.html' %}
{% load static %}
{% block content %}
  
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="javascript:;">My Order</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <form class="navbar-form">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
                            </div>
                        </form>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:;">
                                    <i class="material-icons">dashboard</i>
                                    <p class="d-lg-none d-md-block">
                                        Stats
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">notifications</i>
                                    <!-- <span class="notification">5</span> -->
                                    <p class="d-lg-none d-md-block">
                                        Some Actions
                                    </p>
                                </a>
                                <!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Mike John responded to your email</a>
                                    <a class="dropdown-item" href="#">You have 5 new tasks</a>
                                    <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                    <a class="dropdown-item" href="#">Another Notification</a>
                                    <a class="dropdown-item" href="#">Another One</a>
                                </div> -->
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="{% url 'accounts:buyer_profile' %}">Profile</a>
                                    <!-- <a class="dropdown-item" href="#">Settings</a> -->
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">My Order Details</h4>
                                </div>
                                <div class="card-body">
                                    <!-- <form>
                                        <div class="row">
                                            <div class="col-md-6 offset-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Enter your Query</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Search</button>
                                        </div>
                                    </form> -->
                                    <div class="table-responsive table-bordered mt-4">
                                        <table class="table">
                                          <thead class=" text-primary">
                                            <tr>
                                              <th>#</th>
                                              {% comment %} <th>Invoice No.</th> {% endcomment %}
                                              <th>product name</th>
                                              <th>product color</th>
                                              <th>quantity</th>
                                              <th>price</th>
                                              <th>Seller Name</th>
                                              <th>Seller address</th>
                                              <th>Status</th>
                                              <!-- <th> Action</th> -->
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% for ord in order %}
                                            <tr>
                                              <td>{{forloop.counter}} </td>
                                              {% comment %} <td>{{ord.id}} </td> {% endcomment %}
                                              <td>{{ ord.product.name }}</td>
                                              <td class="text-center"><div style="width:30px; height:30px; border-color: coral;border-style: solid;border-radius: 25px; background-color:{{ ord.color }}"></div></td>
                                              <td>{{ ord.quantity }}</td>
                                              <td>{{ ord.amount }}/-</td>
                                              <td><a href="{% url 'product:website_home_list' ord.user.account.slug %}">{{ ord.user.account.company_name }}</a></td>
                                              <td>{{ ord.seller.account.state }}, {{ ord.seller.account.pincode }} </td>
                                              <td><a href="{% url 'product:product_order_track' ord.pk %}">{{ord.status }}</a></td>
                                            </tr>
                                            {% endfor %}
                                          </tbody>
                                        </table>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}