{% extends 'base.html' %}
{% load embed_video_tags %}
{% block content %}
  {% load static %}
<style>
.company .detail {
    color: #2a2828;
    margin-left: 25px;
}
.company .name {
    color: #151414;
    margin-left: 25px;
    margin-bottom: 0;
    margin-top: -1% !important;
}
.image-upload>input {
  display: none;
}
.image1-upload>input {
  display: none;
}

.centered {
  position: absolute;
  top: 20%;
  left: 5%;
  transform: translate(-50%, -50%);
}
.btn-primary{
  background:{{ color.button }};
}
.company-info{
  background: {{ color.background }};
}
.product-list {
    background-color: {{ color.background }};
}

.center1 {
    position: absolute;
    right: 3%;
    top: 1%;
}

.centered {
    position: absolute;
    top: 36%;
    /* background-color: black; */
    left: 28%;
    transform: translate(-50%, -50%);
}
.text-light {
    color: black !important;
}

.edit{
    color: black;
    font-size: 30px;
    position: absolute;
    left: 82%;
}

@media (max-width:500px){
    
.edit{
    color: black;
    font-size: 30px;
    position: absolute;
    left: 67%;
}
  .center1 {
    position: absolute;
    right: 6%;
    top: 1%;
}
.centered {
    position: absolute;
    top: 36%;
    /* background-color: black; */
    left: 55%;
    transform: translate(-50%, -50%);
}
}

@media (min-width:1150px){
  .centered {
    position: absolute;
    top: 27%;
    /* background-color: black; */
    left: 18%;
    transform: translate(-50%, -50%);
}
.center1 {
    position: absolute;
    right: 2%;
    top: 1%;
}
}

.edit1{
  color: black;
  font-size: 30px;
  position: absolute;
  left: 80%;
}
@media (min-width:1500px){
  .edit {
    font-size: 30px;
    position: absolute;
    left: 85%;
}
}
.edit{
    background: #334e9f;
    margin-top: 2px;
    font-size: 12px;
    padding: 4px;
    color: white;
}
</style>
  {% if user %}
  
 
  {% comment %} <div class="col-sm-10 col-md-10 col-lg-4 mx-auto">
   {% if request.user.is_authenticated and request.user.account.business_type == "Seller" %}<form action="{% url 'dashboard:seller_color' request.user.account.slug %}" method="post">
      {% csrf_token %}
      background:<input type="color" id="favcolor" name="background" value="{{ color.background }}">
      button:<input type="color" id="favcolor" name="button" value="{{ color.button }}">
      <input type="submit" class="btn btn-primary btn-sm mt-1">
    </form>{% endif %}
  </div> {% endcomment %}

{% comment %} <i class="fa fa-paint-brush edit"  data-toggle="modal" data-target="#myModal" ></i> {% endcomment %}

<button type="button" class="btn btn-primary edit" data-toggle="modal" data-target="#myModal">Design your site</button>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        {% comment %} <h4 class="modal-title">Edit</h4> {% endcomment %}
      </div>
      <div class="modal-body">
        {% if request.user.is_authenticated and request.user.account.business_type == "Seller" %}
        <form action="{% url 'dashboard:seller_color' request.user.account.slug %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}         
          <div class="form-group">
            <label for="exampleInputEmail1">Background Color</label>            
            <input type="color" class="form-control" id="favcolor" name="background" value="{{ color.background }}">
            </div>
          <div class="form-group">
            <label for="favcolor">Button Color</label>            
            <input type="color" class="form-control" id="favcolor" name="button" value="{{ color.button }}">
          </div>
           <div class="form-group">
            <label for="logo">Logo</label>   
                  
            <input type="file" id="logo" name="logo" class="form-control" value="{{ seller_company.logo }}">
          </div>
           <div class="form-group">
            <label for="banner_image">Banner</label>            
            <input type="file" id="banner_image" name="banner_image" class="form-control" value="{{ seller_company.banner_image }}">
          </div>          
      </div>
      <div class="modal-footer">
        <input type="submit" name="preview" class="btn btn-primary btn-sm mt-1" value="Preview">
        <!-- modal -->

        <!-- modal ended -->
        <input type="submit" name="save" class="btn btn-primary btn-sm mt-1">
        </form>{% endif %}
      </div>
    </div>
  </div>
</div>
  {% endif %}
    <div class="container" style="height: auto; width:auto">
    {% for seler in seller_company %}
    <h3 class="name">{{seler.user.account.company_name}}</h3>
    {% endfor %}
      <div class="row mt-3">
        <div class="col-12">
        
          {% for seler in seller_company %}
          <!-- banner part start -->
         
          <div class="banner company"style="background-image:{% if seler.banner_image %} url({{ seler.banner_image.url }}){% endif %}" >
            {% if user %}
            {% if request.user.is_authenticated and request.user.account.business_type == "Seller" %}
             {% comment %} <h3 class="name">{{seler.user.account.company_name}}</h3> {% endcomment %}
            {% comment %} <p class="detail">{{ seler.caption }}</p> {% endcomment %}
            <form action="{% url 'dashboard:seller_banner_logo' request.user.account.slug %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="image-upload">
                <label for="file-input">                 
                  <!-- <i class="fa fa-pencil" style="color: black;" aria-hidden="true"></i> -->
                  <i class="fas fa-pen-square center1 text-light"style="color:black; font-size: 2rem; " aria-hidden="true"></i>                 
                </label>
                <input id="file-input" type="file" name="banner_image" onchange="this.form.submit()"/>
                <!-- <input type="submit"> -->
              </div>
            </form>{% endif %}
          {% endif %}
         
            <!-- <div class="logo">Logo</div> -->
            <div class="logo">{% if seler.logo %}<img src="{{ seler.logo.url}}">{% endif %}
            {% if user %}
            {% if request.user.is_authenticated and request.user.account.business_type == "Seller" %}<form action="{% url 'dashboard:seller_banner_logo' request.user.account.slug %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="image1-upload">
                <label for="file1-input">

                    <!-- <i class="fa fa-pencil centered" style="color:black; font-size: 1rem;" aria-hidden="true"></i> -->
                    <i class="fas fa-pen-square centered text-light"style="color:black; font-size: 2rem; " aria-hidden="true"></i>
                </label>
                <input id="file1-input" type="file" name="logo" onchange="this.form.submit()"/>
                <!-- <input type="submit"> -->
              </div>
            </form>{% endif %}
            {% endif %}
            
          </div>
        </div>
        {% endfor %}
      </div>
      </div>
      <!-- banner part end -->
      <!-- Recommended Products part start -->
      <div class="product-list mt-3">
        <h3>FEATURED PRODUCTS</h3>
        <!-- <i class="fa fa-pencil pull-right" style="color:black; font-size: 1rem;" aria-hidden="true"></i> -->        
        <div class="row">
        {% for object in object_list %}
          <div class="col">
            <div class="product-item">
                <div class="image">
                  <a href="{% url 'product:website_home_list' object.product.user.account.slug %}"><img src="{{ object.image1.url }}" alt="Image 1"></a>
                </div>
                <a href="{% url 'product:website_home_list' object.product.user.account.slug %}"><div class="name">{{ object.name }}</div></a>
                {% comment %} <div class="type">{{ object.product_group }}</div> {% endcomment %}
                <a href="{% url 'dashboard:seller_product_detail' object.product.user.account.slug object.product.pk %}" class="btn btn-primary btn-block">Read More</a>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Row end -->
        <div class="text-right">
          <small>featuring trusted brands near you</small>
        </div>
      </div>
      <!-- Recommended Products part end -->

{% for company in seller_company %}



      <div class="row mt-5">
        <div class="col-12 col-md-6">
          <h3>ABOUT US</h3><hr>
          <p>{{ company.about_seller }}</p>
          <div class="d-flex justify-content-between">
            <!-- <button class="btn btn-default">Download E-catalogue</button> -->
            <!-- <button class="btn btn-primary">+ Read More</button> -->
          </div>
        </div>
        <div class="col-12 col-md-6">
          <h3>BRAND VIDEO</h3>
          <!-- Promotional vedio start -->
          
<div class="embed-responsive embed-responsive-16by9">
            {% video company.branded_video 'small' %}
            </div>

        
          <!-- Promotional vedio end -->
        </div>
      </div>

      <div class="company-info mt-5">
        <div class="company-info-detail">
          <p>Nature of Business</p>
          <div class="image"></div>
          <p>{{ company.user.account.nature_of_business }}</p>
        </div>
        <div class="company-info-detail">
          <p>No of Emplyees</p>
          <div class="image"></div>
          <p>{{ company.no_of_employees }} people</p>
        </div>
        <div class="company-info-detail">
          <p>Year of Establishment</p>
          <div class="image"></div>
          <p>{{company.user.businessprofile.year_of_establishment }}</p>
        </div>
        <div class="company-info-detail">
          <p>Legal Status of Firm</p>
          <div class="image"></div>
          <p>{{ company.legal_status_of_firm }}</p>
        </div>
        <div class="company-info-detail">
          <p>Annual Revenue</p>
          <div class="image"></div>
          <p>{{ company.user.businessprofile.annual_turnover }} </p>
        </div>
        <div class="company-info-detail">
          <p>GSTIN NO</p>
          <div class="image"></div>
          <p>{{ company.user.sellerprofile.gstin }}</p>
        </div>
      </div>
      {% endfor %}
      <!-- Recommended Products part start -->
      <div class="product-list mt-3">
        <h3 class="text-center pt-2 pb-3">OUR PRODUCTS RANGE</h3>
        <div class="row">
        {% for obj in all_object_list %}
          <div class="col">
            <div class="product-item">
                <div class="image">
                  <a href="{% url 'dashboard:seller_product_detail' obj.product.user.account.slug obj.pk %}"><img src="{{ obj.image1.url }}" alt="Image 1"></a>
                </div>
                <a href="{% url 'dashboard:seller_product_detail' obj.product.user.account.slug obj.pk %}"><div class="name">{{ obj.product.name }}</div></a>
                <div class="type">₹{{ obj.price_per_piece }}</div>
                <a href="{% url 'product:website_home_list' obj.product.user.account.slug  %}" class="btn btn-primary btn-block">Visit our store</a>
            </div>
          </div>
        {% endfor %}
          </div>
        <div class="text-center mt-4 mb-2">
          <!-- <button class="btn btn-primary btn-lg">Load More</button> -->
        </div>
       
      <!-- Recommended Products part end -->
      {% for company in seller_company %}
      <div class="row mt-3">
        <div class="col-12 col-sm-3 pt-3">
          <h3>Get in touch</h3>
          {% if contact_profile %}            
          <div>{{ company.user.sellerprofile.address_building }}</div>
          <div>{{ company.user.sellerprofile.address_area }}</div>
          <div>{{ company.user.sellerprofile.landmark }}</div>
          <div>{{ company.user.sellerprofile.locality }}</div>
          <div>{{ company.user.sellerprofile.country }}</div>
          <div>{{ company.user.sellerprofile.city }}</div>
          <div>Mobile Number- {{ company.user.sellerprofile.alternative_mobile }}</div>
          <div>Landline- {{ company.user.sellerprofile.landline_no }}</div>
          {% else %}
          <div>Tower No.  C, Ground Floor,</div>
          <div> Office No.  0102,</div>
          <div>ATS Bouquet - Sector 132</div>
          <div> Noida, Uttar Pradesh 201304,</div>
          <!--<div>Bangalore, 560058</div>-->
          <!--<div>Bangalore</div>-->
          <!--<div>Mobile Number- 88923560XX</div>-->
          <!--<div>Landline- 080234567XX</div>-->
          <!-- <h5>Get our location</h5>
          <h5>Ayush Garg (Sales Manager)</h5>
          <button class="btn mt-3">SEND SMS</button>
          <button class="btn btn-outline-dark mt-3 ml-4">SEND MAIL</button> -->
          {% endif %}
        </div>
        <div class="col-12 col-sm-9">
          <!-- register form start -->
          <div class="register-form">
            <h3 class="mb-3">share the details we will call back you</h3>
            <div class="row">
              <div class="col-12 col-sm-8">
                <form action="{% url 'dashboard:share_detail' company.user.account.slug %}" method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="form-group col- 12 col-sm-6">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                    </div>
                    <div class="form-group col- 12 col-sm-6">
                      <label for="email">E-mail</label>
                      <input type="email" class="form-control" name="email" id="email" placeholder="shotercarlos@gmail.com">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col- 12 col-sm-6">
                      <label for="mobile">Mobile</label>
                      <input type="tel" class="form-control" name="mobile" id="mobile" placeholder="+91 0000000000">
                    </div>
                    <div class="form-group col- 12 col-sm-6">
                      <label for="businessType">Business Types</label>
                      <select class="form-control btn-primary" name="business_type" id="businessType">
                        <option>Wholesaller</option>
                        <option>Manufacturer</option>
                        <option>Retailer</option>
                        <option>Exporter</option>
                        <option>Distributor</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" name="message" id="message" rows="5"></textarea>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="send_copy" id="sendCopy">
                        <label class="custom-control-label" for="sendCopy">Send me a copy</label>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 text-right">
                      <button class="btn btn-primary btn-lg">Send</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-12 col-sm-4">
                <div class="right-side">
                  <div class="top">
                    <span>become a</span>
                    <span>xxxx Mart</span>
                    <span>member today</span>
                    <span>1000 Ad Impressions Free</span>
                  </div>
                  <div class="bottom"></div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- register form part end -->
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock content %}
    <!-- <div class="chat">
      <img src="{% static 'images/chat.png' %}" alt="">
      <div class="content">
        <small>Have a Requirement?</small>
        <h3>Get Best Price</h3>
      </div>
    </div> -->

