<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    
   <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/><!-- CSS -->
    <link rel="stylesheet" href="./css/app.css">

    <title>Login</title>
  </head>
  <body>
      <!-- navbar starts -->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img class="image" src="{% static 'images/logo-white.png' %}" alt="" style="max-width: 129px;">
          <span class="ml-5">| Tag Line</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto w-33">
            <li class="nav-item">
              <a class="nav-link" href="certificate.html"><span class="critificate-bg">Apply For Ramagya Vishwas Certification</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="seller/dashboard.html">Seller</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="buyer/dashboard.html">Buyer</a>
            </li>
            
          </ul>
          <ul class="navbar-nav ml-auto right">
            <li class="nav-item login">
              <a class="nav-link" href="login.html">
                <img src="./images/login.png" alt="">
                <span>Log in New User</span>
              </a>
            </li>
            <li class="nav-item track-order">
              <a class="nav-link" href="ordertrack.html">
                <img src="./images/trackorder.png" alt="">
                <span>Track Order</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link cart" href="cart.html">
                <img src="./images/cart.png" alt="">
                <span>My Cart</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link pr-0" href="advertise.html">
                <img src="./images/ad.png" alt="">
                <span>Advertisement With Us</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="help.html">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar ends -->
    <!-- body parts starts -->
    <div class="login-block">
      <div class="container">
        <div class="row">
          <div class="col-md-4 login-sec">
              <h3 class="text-center">Sign in Your Account</h3>
              <form class="login-form">
                <div class="form-group">
                    <input type="tel" class="form-control" id="phone" placeholder="Enter Your Mobile No">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Sign In</button>
                </div>
                <p class="text-center pt-5">
                  <small>New To XXXXX?</small>
                </p>
                <div class="form-group">
                    <a href="signup.html" type="submit" class="btn btn-outline-dark btn-block">Create Account</a href="signup.html">
                    <!-- <button type="submit" class="btn btn-outline-dark btn-block">Create Account</button> -->
                </div>
              </form>
          </div>
          <div class="col-md-8 banner-sec">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
                      <div class="carousel-caption d-none d-md-block">
                          <div class="banner-text">
                            <h2>This is Heaven</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                          </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">
                      <div class="carousel-caption d-none d-md-block">
                          <div class="banner-text">
                            <h2>This is Heaven</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                          </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img class="d-block img-fluid" src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg" alt="First slide">
                      <div class="carousel-caption d-none d-md-block">
                          <div class="banner-text">
                            <h2>This is Heaven</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
<!-- body parts ends -->
    <div class="newstetter text-center pt-4 pb-4 mt-5">
      <h2 class="text-uppercase"><span>subscribe</span> to our newsletter</h2>
      <small>The best B2B news for manufactur and traders</small>
      <div class="input-group col-6 offset-3 mt-4">
        <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="subscribe">
        <div class="input-group-append">
          <span class="input-group-text" id="subscribe">Subscribe</span>
        </div>
      </div>
    </div>

    <footer class="pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-2">
            <a href="index.html">
              <img src="./images/footerLogo.png" alt="">
            </a>
          </div>
          <div class="col-12 col-sm-6 col-lg-2">
            <ul>
              <li class="head">About Us</li>
              <li><a href="about-us.html">XXX Mart</a></li>
              <li><a href="management.html">Management Team</a></li>
              <li><a href="media-center.html">Media Center</a></li>
              <li><a href="workWithUs.html">Work With Us</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <ul>
              <li class="head">Customer Services</li>
              <li><a href="help.html">Help Center</a></li>
              <li><a href="privacy-policy.html">privacy policy</a></li>
              <li><a href="trading-policy.html">Trading policy</a></li>
              <li><a href="term-condition.html">terms & conditons</a></li>
              <li><a href="seller/user.html">edit Profile</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <ul>
              <li class="head">E-Trade Service</li>
              <li><a href="certificate.html">XXXXXXXXX Certificate</a></li>
              <li><a href="company.html">E-Shoppe Development</a></li>
              <!--li><a href="media-center.html">Media Center</a></li-->
              <li><a href="advertise.html">Adverties Your Brand</a></li>
              <!-- <li><a href="#">Transact To Trade</a></li> -->
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-2">
            <ul>
              <li class="head">Follow us</li>
              <li>
                <a href=""><img src="./images/fb.png" alt=""></a>
                <a href=""><img src="./images/tw.png" alt=""></a>
                <a href=""><img src="./images/lindin.png" alt=""></a>
                <a href=""><img src="./images/youtube.png" alt=""></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright text-center pt-3 pb-3">
      <p class="mb-3">&#169; 2021 XXXXXXXXXXXX Mart</p>
      <img src="./images/footerSub.png" alt="">
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script><script src="js/app.js"></script>
  </body>
</html>