  {% extends 'base.html' %}
  {% load company_logos %}
  {% load static %}
  {% block content %}
  {% load embed_video_tags %}

  <style>
  {% comment %} image zoom  {% endcomment %}
  {% comment %} end  {% endcomment %}

  .no-gutters>.col, .no-gutters>[class*="col-"] {
    margin-bottom: 2%;
}
#main_image {
    width: 70%;
}
.mobview{
  display:none;
}
.lapview{
  display:block;
}
.lapbtn{
    display:block;
  }
  .mobbtn{
    display:none;
  }
  @media only screen and (max-width: 500px){
      .btn-danger{
          display:none;
      }
      .imgweek{
          left: 69% !important;
      }
      .product-list .product-item .image img {
      object-fit: contain;
      position: absolute;
      left: 0;
      left: 70%;
      transform: translateX(-50%);
      top: 0;
      bottom: 0;
      height: 100%;
  }
  .product .border .image {
      text-align: center;
      height: 181px;
      width: 200px;
  }
    .mobbtn{
      display:block;
      margin-left:3%;
      margin-bottom:4%;
    }
    .lapbtn{
      display:none;
    }
    #sec_img {
      margin-top: 10%;
      margin-left: 10%;
      margin-bottom: 10%
    }
    .mobview{
      display:block;
    }
    .lapview{
    display:none;
  }
    .row{
      display:block;
    }
    #mob_name{
      display:none;
    }
    .center {
    display: block;
    margin-left: 100%;
    margin-right: auto;
    width: 50%;
    }
    .product-list .product-item .image {
      position: relative;
      margin-bottom: 10px;
      margin-left: -7%;
      width: 191px;
      height: 187px;
  }
    #main_image {
      width: 188px;
      height: 183px;
      margin-left: 19%;
  }
    .addcart-btn{
      margin-bottom: 4%;
      font-size: 12px;
    }
    .remcart-btn{
      margin-bottom: 4%;
      font-size: 12px;
    }
    .t_img {
      
      width: 45px;
      
  }
  }



  .product-item_top {
      color: white;
      background-color: #334e9f;
      height: 70%;
      margin-left: 13%;
      width: 75%;
      border-radius: 0;
      text-align: center;
      margin-top: 2%;
      padding: 8px;
      cursor: pointer;
  }

  .image_top {
      color: white;
      font-size: large;
      padding-bottom: inherit;
  }
  {% comment %}
  @media (min-width: 1200px){
    .container {
        max-width: 100%;
    }
    }
  {% endcomment %}

  .product .product-detail {
      padding: 0 15px;
      position: relative;
      bottom: 0;
  }
  @media (min-width: 800px){
    .location_slider_mob{
      display:none;
    }
    .location_slider_lap{
      display:block;
    }
  }

  @media (min-width: 900px) {
    .sub_img{
         width:50px;
         
    }
  }
  @media (max-width: 899px){
    .sub_img{
      display: none;
    }
    
  }

  @media (min-width: 900px) {
    .lapview{
      display: flex;
      align-items: flex-start;
      height: 40%;
      margin-top: 30%;
      float: left;
      width: 20%;
    }
  }
  @media (min-width: 900px){
    .border{
      height:40%
    }
  }
  @media (max-width: 800px){
    .location_slider_lap{
      display:none;
    }
    .location_slider_mob{
      display:block;
    }
  }

  .point {
      cursor: pointer!important;
  }

  @media and (max-width:600px){
    .img-zoom-container{
      display:none;
    }
  }
  {% comment %} .img-zoom-container{
    display:none;
  }

  #main_image:hover ~ .img-zoom-container{
    display:block;
  } {% endcomment %}

  input.largerCheckbox {
              width: 60px;
              height: 20px;
          }

  </style>
  {% comment %} for image zoom  {% endcomment %}
  {% comment %} end image zoom  {% endcomment %}
    <span id="show-msg">
   </span>
      <div class="container" style="width: 100%;">
        <div class="head mt-4">
        </div>
        <div class="container">
        <div class="product mt-3">
          <div class="row no-gutters">
            <div class="col border">
            {% comment %} img zoom  {% endcomment %}
             <!--<div class="img-zoom-container">-->
             <!--<div id="myresult" class="img-zoom-result"></div>-->
             <!--</div>-->
             {% comment %} end zoom  {% endcomment %}
             {% for p in pric|slice:"1" %}
              <div class="image">
                <img src="{{ p.image1.url }}" id="main_image" class="center" alt="">
                <div class="img-caption" id="mob_name">{{p.product__name}}</div>
                </div>

               
                 <div class="row"  id="sec_img">
                  
                    <div class="thumbnails_col change">
                      <img src="{{ p.image1_url|default_if_none:'#'}}" class="sub_img"  alt="">
                    </div> 
                  
                    <div class="thumbnails_col change">
                        <img src="{{ p.image2_url|default_if_none:'#'}}" class="sub_img" alt="">
                    </div>
                    
                    <div class=" thumbnails_col change">
                      <img src="{{ p.image3_url|default_if_none:'#'}}" class="sub_img" alt="">
                    </div>
                 
                    <div class=" thumbnails_col change">
                      <img src="{{ p.image4_url|default_if_none:'#'}}" class="sub_img" alt="">
                    </div>
                  
                    <div class=" thumbnails_col change">
                      <img src="{{ p.image5_url|default_if_none:'#'}}" class="sub_img" alt="">
                    </div>
                  </div>
            </div>            
            
            <div class="row mobview"  id="sec_img">
                  <a href="#"class="point"><img class="t_img" src="{{ p.image1_url|default_if_none:'#'}}"  alt=""></a>
                  <a href="#"class="point"><img class="t_img" src="{{ p.image2_url|default_if_none:'#'}}" alt=""></a>
                  <a href="#"class="point"><img class="t_img" src="{{ p.image3_url|default_if_none:'#'}}" alt=""></a>
                  <a href="#"class="point"><img class="t_img" src="{{ p.image4_url|default_if_none:'#'}}" alt=""></a>
                  <a href="#"class="point"><img class="t_img" src="{{ p.image5_url|default_if_none:'#'}}" alt=""></a>
            </div>
            <div class="col position-relative">
              <div class="product-detail">
                <div class="title">{{ p.product.name }}</div>
                <div class="">Cook & Serve Design with Keep Warm Fuction</div>
                <div class="text">Homes</div>
                <ul class="list-unstyled">
                  <li class="text"><span>Brand</span>:<span>{{ p.product.brand }}</span></li>
                  <li class="text"><span>Capacity</span>:<span>{{ p.product.capacity }}</span></li>
                  <li class="text"><span>Model No</span>:<span>{{ p.product.model_no }}</span></li>
                  <li class="text"><span>Warranty</span>:<span>{{ p.product.warranty }}</span></li>
                  <li class="text"><span>Power</span>:<span>{{ p.product.power }}</span></li>
                </ul>
                <div class="price">MRP: Rs {{ p.price_per_piece }}/-</div>
                <div class="text mb-3">(Inclusive of all taxes)</div>
              </div>
              {% endfor %}
              {% comment %} <table class="table table-striped table-inverse table-responsive">
              <thead class="thead-inverse">
                <tr>
                  <th>Colors</th>
                  <td>
  						{% for color in colors %}
              <form action="" method="get">
                <input type="hidden" name="color" value="{{ color.color }}">
  							<button class="btn btn-lg choose-color border-info"style="background-color: {{color.color}}" type="submit"></button>
                </form>
  						{% endfor %}
  					</td>
                </tr>
                </thead>
                </table> {% endcomment %}
                <div class="d-flex">
                  <h5>Colors</h5>
                  <div class="d-flex pl-2 ">
                  {% for color in colors %}
                  <form action="" method="get">
                    <input type="hidden" name="color" value="{{ color.color }}">
                    <button class="btn btn-lg choose-color border-info mx-1"style="background-color: {{color.color}}" type="submit"></button>
                    </form>
                  {% endfor %}
                  </div>
                </div>

                <table class="table table-striped table-inverse table-responsive">
                <tbody>
                  <tr>
                    <td scope="row">Minimum</td>
                    <td>Maximum</td>
                    <td>Price/product</td>
                    <td>Color</td>
                    <td>Color</td>
                    <td>Select</td>
                  </tr>{% for i  in price_table %}
                  <tr>
                    <td scope="row">{{i.minimum_quantity}} Nos</td>
                    <td>{{i.maximum_quantity}} Nos</td>
                    <td>{{i.price_per_piece}} /-</td>
                    <td>{{i.color}}</td>
                    <td><div style="width:40px; height:40px; border-color: coral;border-style: solid;border-radius: 25px; background-color:{{i.color}}"></td>
                    <td>
                    <form action="{% url 'product:add_to_cart' i.product.user.account.slug i.product.pk %}" method="post">
                    {% csrf_token %}
                      <div class="form-check">
                        <input class="form-check-input largerCheckbox" type="checkbox" name="price{{forloop.counter}}" value="{{ i.id }}" id="defaultCheck">
                        <label class="form-check-label" for="defaultCheck">
                        </label>
                      </div>
                     
                    </td>
                  </tr>{% endfor %}
                </tbody>
            </table>
            {% if request.user.account.business_type == "Buyer" %}
            <button type="submit" class="btn btn-primary lapbtn">Add to cart</button>
            {% endif %}
            </div>
            
            {% comment %} <div class="row mobbtn"> {% endcomment %}
            <div class="row mobbtn">
              {% if request.user.account.business_type == "Buyer" %}
              {% comment %} <a href="{% url 'dashboard:add_to_cart' object.user.account.slug object.pk %}" class="btn btn-primary mr-2">Add to cart</a> {% endcomment %}
                <button type="submit" class="btn btn-primary ml-4">Add to cart</button>
              </form>
              {% endif %}
              <!-- <a href="{% url 'dashboard:remove_from_cart' object.user.account.slug object.pk %}" class="btn btn-danger">Remove From Cart</a> -->
            </div>
            
            <div class="col background">
             {% if subscription %}
              <img src="{% static 'images/tag.png' %} " alt="">
            {% endif %}
              <div class="address">
                <a href="{% url 'product:website_home_list' object.user.account.slug %}"><div class="name">{{ object.user.account.company_name }}</div></a>
                
                <div class="address-detail">Tower No.  C, Ground Floor, Office No.  0102, ATS Bouquet - Sector 132, Noida, Uttar Pradesh 201304</div>
              </div>

              <!-- //////////////////////////////// -->

              <div class="card bg-light" style="width: auto;">
                <div class="card-body">
                    {% for i  in seller_profile %}
                    <h5 class="card-title">{{ i.user.account.company_name|title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><i class="fa fa-map-marker mr-1" aria-hidden="true"></i>{{ i.address_building }}, {{ i.address_area }}, {{ i.landmark }}, {{ i.locality }}, {{ i.user.account.state }}, {{ i.city }}, {{ i.user.account.pincode }}, {{ i.country }}</h6>
                    <p class="card-text bg-secondary p-2"><i class="fa fa-phone mr-1" aria-hidden="true"><strong></i>{{ i.user.account.mobile}}</strong></p>
                    
                    <a href="#" class="card-link"><i class="fa fa-industry mr-1" aria-hidden="true"></i>Manufacturer</a>{% if subscription %}<i class="fa fa-check pl-3 pr-1" aria-hidden="true"style="color:tomato;"></i>Verified{% endif %}

                    <p class="card-text bg-secondary p-2 mt-2"></i>291 product sold</p>
                    {% endfor %}
                </div>
              </div>
              <!-- ///////////////////////////////////////// -->
              {% if request.user.account.business_type == "Buyer" %}
              <button class="btn btn-default btn-block" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-cart"></i> Request a quote for Bulk Order</button>
              {% endif %}
            </div>
          </div>{% for p in pric|slice:"1" %}
           <div class="row no-gutters ">
            
         <!--  <div class="col-4 lapview">
              <div class="row"  id="sec_img">
                <div class="col-lg-4 thumbnails_col change">
                  <img src="{{ p.image1_url|default_if_none:'#'}}"  alt="">
                </div>
                <div class="col-lg-4 thumbnails_col change">
                  <img src="{{ p.image2_url|default_if_none:'#'}}" alt="">
                </div>
                <div class="col-lg-4 thumbnails_col change">
                  <img src="{{ p.image3_url|default_if_none:'#'}}"  alt="">
                </div>
                <div class="col-lg-4 thumbnails_col change">
                  <img src="{{ p.image4_url|default_if_none:'#'}}"  alt="">
                </div>
                <div class="col-lg-4 thumbnails_col change">
                  <img src="{{ p.image5_url|default_if_none:'#'}}"  alt="">
                </div>
              </div>
            </div> -->
            



            <!-- <div class="col-8 lapbtn">
              <div class="row">
                {% if request.user.account.business_type == "Buyer" %}
                {% comment %} <a href="{% url 'dashboard:add_to_cart' object.user.account.slug object.pk %}" class="btn btn-primary ml-4">Add to cart</a> {% endcomment %}
                <a href="{% url 'product:add_to_cart' p.product.user.account.slug p.pk %}" class="btn btn-primary ml-4">Add to cart</a>
                {% endif %} -->
                <!-- <a href="{% url 'dashboard:remove_from_cart' object.user.account.slug object.pk %}" class="btn btn-danger">Remove From Cart</a> -->
            <!-- </div> -->
  {% endfor %}
          </div>

        </div>
        <!-- Product detail part end -->

        <!-- Recommended Products part start -->
        <div class="product-list mt-3 mb-3">
          <h5>THIS WEEK TOP FOUR EDITORS CHOICE</h5>
          <div class="row">
            {% for obj in object_list %}
            <div class="col-12 col-sm-4 col-md-3">
              <div class="product-item">
                  <div class="image">
                    <a href="{% url 'dashboard:seller_product_detail' obj.product.user.account.slug obj.product.pk %}"><img class="imgweek" src="{{ obj.image1.url }} " alt="Image 2"></a>
                  </div>
                  <a href="{% url 'dashboard:seller_product_detail' obj.product.user.account.slug obj.product.pk %}"><div class="name">{{ obj.product.name }}</div></a>
                  <!-- <div class="type">{{ obj.product_group }}</div> -->
                  <a href="{% url 'product:website_home_list' obj.product.user.account.slug %}" class="btn btn-primary btn-block">Visit our store</a>
              </div>
            </div>
            {% endfor %}
          </div>
          <!-- Row end -->

        </div>
        <!-- Recommended Products part start -->

        <div class="row">
          <div class="col-12 col-md-5">
            <div class="details">
              <h2>PRODUCT DETAILS</h2>
              <ul class="list-unstyled">
                <li class="text-mute"><span class="w-50 d-inline-block">Brand</span>:<span class="pl-3">{{ object.brand }}</span></li>
                <li class="text-mute"><span class="w-50 d-inline-block">Capacity</span>:<span class="pl-3">{{ object.capacity }}</span></li>
                <li class="text-mute"><span class="w-50 d-inline-block">Model No/Number</span class="pl-3">:<span class="pl-3">{{ object.model_no }}</span></li>
                <li class="text-mute"><span class="w-50 d-inline-block">Warranty</span>:<span class="pl-3">{{ object.warranty }}</span></li>
                <li class="text-mute"><span class="w-50 d-inline-block">Power</span>:<span class="pl-3">{{ object.power }}</span></li>
              </ul>
              <h2>PRODUCT SPECIFICATION</h2>
              <p>{{ object.description }}</p>
              <h2>COMPANY DETAILS</h2>
              <ul class="list-unstyled">
                <li class="text-mute"><span class="w-50 d-inline-block">Year of Establishment</span>:<span class="pl-4">{{ object.user.businessprofile.year_of_establishment }}</span></li>
                <li class="text-mute"><span class="w-50 d-inline-block">Legal Status of Firm</span>:<span class="pl-4">{{ object.user.sellercompany.legal_status_of_firm }}</span></li>
                <li class="text-mute"><span class="w-50 d-inline-block">Nature of Business</span>:<span class="pl-4">{{ object.user.businessprofile.category }}</span></li>
                <li class="text-mute"><span class="w-50 d-inline-block">No of Emplyees</span>:<span class="pl-4">{{ object.user.sellercompany.no_of_employees }} people</span></li>
                <li class="text-mute"><span class="w-50 d-inline-block">Annual Revenue</span>:<span class="pl-4">{{ object.user.businessprofile.annual_turnover }}</span></li>
                <li class="text-mute"><span class="w-50 d-inline-block">GSTIN NO</span>:<span class="pl-4">{{ object.user.sellerstatutory.gst_no }}</span></li>
              </ul>
              <p>{{ object.user.sellercompany.about_seller }}</p>
            </div>
          </div>
          <div class="col-12 col-md-7">

            <h3>Youtube Video Link</h3>
            <!-- Promotional vedio start -->
            <div class="embed-responsive embed-responsive-16by9">
              {% video object.user.sellercompany.branded_video 'medium' %}
              </div>
            <!-- Promotional vedio end -->


            <!-- register form start -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

            <div class="register-form mt-3" >
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
              <h5 class="text-uppercase mb-3">we connect manufacturers with wholesale traders & institutions</h5>
              <div class="row">
                <div class="col-12 col-sm-8">
                  <form method="post" action="{% url 'dashboard:share_detail' object.user.account.slug %}" id="eshopeform">
                  {% csrf_token %}
                    <div class="row">
                      <div class="form-group col- 12 col-sm-6">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                      </div>
                      <div class="form-group col- 12 col-sm-6">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="shotercarlos@gmail.com">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col- 12 col-sm-6">
                        <label for="mobile">Mobile</label>
                        <input type="tel" class="form-control" name="mobile" id="mobile" placeholder="+91 0000000000">
                      </div>
                      <div class="form-group col- 12 col-sm-6">
                        <label for="businessType">Business Types</label>
                        <select class="form-control btn-primary" name="business_type" id="businessType">
                          <option value="">Select Option</option>
                          <option value="Wholesaller">Wholesaler</option>
                          <option value="Manufacturer">Manufacturer</option>
                          <option value="Retailer">Retailer</option>
                          <option value="Exporter">Exporter</option>
                          <option value="Distributor">Distributor</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="message">Message</label>
                      <textarea class="form-control" name="message" id="message" rows="5"></textarea>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" name="sendcopy" class="custom-control-input" onclick="javascript:send();" value="False" id="sendCopy">
                          <label class="custom-control-label" for="sendCopy">Send me a copy</label>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 text-right">
                      <input type="submit" class="btn btn-primary pull-right" value="Send">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="right-side">
                    <div class="top">
                      <span>become a</span>
                      <span>Ramagya Mart</span>
                      <span>member today</span>
                      <span>1000 Ad Impressions Free</span>
                    </div>
                    <div class="bottom"></div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            </div>
            </div>

            <!-- register form part end -->
          </div>
        </div>

        <!-- term-cta start -->
        {% comment %} <div class="term-cta mt-3">
          <h1><span>30 day credit terms*</span> <br /> for wholesaler & institution</h1>
          <button class="btn btn-light btn-lg">Click here <i class="fas fa-angle-right"></i></button>
          <img src="{% static 'images/creadit.png' %} " alt="">
        </div> {% endcomment %}
        <!-- term-cta end -->

        <!-- Related products promo part strat -->
        <h3 class="text-uppercase mt-3">Related products</h3>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="{% static 'images/promo-img-1.png' %} " alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'images/promo-img-1.png' %} " alt="Second slide">
            </div>
          </div>
        </div>
       <div class="product-list mt-3">

        <h5>FEATURED PRODUCT</h5>
        <div class="row">
          {% for obj in object_list %}
          <div class="col-12 col-sm-4 col-md-3">
            <div class="product-item">
                <div class="image">
                  <a href="{% url 'dashboard:seller_product_detail' obj.product.user.account.slug obj.product.pk %}"><img src="{{ obj.image1.url }}" alt="Image 4"></a>
                </div>
                <a href="{% url 'dashboard:seller_product_detail' obj.product.user.account.slug obj.product.pk %}"><div class="name">{{ obj.product.name }}</div></a>
                <!--<div class="type">{{ obj.product_group }}</div>-->
                <a href="{% url 'product:website_home_list' obj.product.user.account.slug %}" class="btn btn-primary btn-block">View our store</a>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Row end -->
       </div>
        <!-- Recommended Products part end -->
        <!-- CTA start -->
        <div class="certificate-cta mt-3">
          <div class="row no-gutters align-items-center">
            <div class="col-12 col-sm-2 text-center">
              <img src="{% static 'images/tag.png' %} " alt="">
            </div>
            <div class="col-12 col-sm-7">
              <h5 class="text-uppercase mb-0">attention manufacturers</h5>
              <h4 class="text-uppercase mb-0">get your Ramagya Vishwas Certification </h4>
              <h5 class="text-uppercase mb-0">trust certificate & imporve your bussiness</h5>
            </div>
            <div class="col-12 col-sm-3">
              <a href="{% url 'certificate' %}"><button class="btn btn-light btn-lg">Apply Now <i class="fas fa-angle-right"></i></button></a>
            </div>
          </div>
        </div>
        <!-- CTA end -->

        <!-- CTA start -->
        <div class="mt-3">
          <img src="{% static 'images/book-spot.png' %} " class="w-100" alt="">
        </div>
        <!-- CTA end -->
      </div>
      </div>
      </div>


  <script>

  function send(){
    var temp = document.getElementById("sendCopy")
    if (temp.checked == true)
      temp.value = "True";
    else
      temp.value = "False";
  }
  </script>

  {% if messages %}
    <script>
      {% for message in messages %}
        <div class="alert alert-success" role="alert">
          {{message}}
        </div>
      {% endfor %}
    </script>
  {%endif%}
      <!-- <div class="chat">
        <img src="{% static 'images/chat.png' %}  " alt="">
        <div class="content">
          <small>Have a Requirement?</small>
          <h3>Get Best Price</h3>
        </div>
      </div> -->
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
      <script>
      $("#sec_img img").click(function (e) {
            // Displays the source of the image clicked
            var img=$(this).attr("src");
            $("#main_image").attr("src",img);
            e.preventDefault();
          });

  {% comment %} $(document).ready(function() {
      $('.image_top').click(function () {
         val=0
          var alt = $(this).text();
           $.ajax({
            type:'GET',
            url:'',
            data:{
              'action':'send_city',
              'alt':alt,
              csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success:function(response){
              document.getElementById("show-msg").innerHTML= ""
              window.location.href="{% url 'product:category' %}";
            },
            error:function(response){
              document.getElementById("show-msg").innerHTML=
                `<div class="alert alert-warning" role="alert">
                  Sorry this product group is currently unavailable!
                </div>`
            }
          })
      });
  }); {% endcomment %}

  // imageZoom("main_image", "myresult");
  // $(document).ready(function(){
  //   imageZoom("main_image", "myresult");
  //   $(".change").click(function(){
  //     imageZoom("main_image", "myresult");
  //   });
  // });
  // document.getElementById('myresult').style.display = 'none';
  // $("#main_image").hover(function(){
  //     imageZoom("main_image", "myresult");
  //     document.getElementById('myresult').style.display = 'block';
  // });

  </script>

  {% endblock content %}
